<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="col-xs-6">
          <h2 class="dark-blue">Задняя ушная мышца / Musculus auricularis posterior</h2>
        </div>
        <div class="col-xs-6">
          <div class="buttback"><a href="#/muscles/head">
            <p>Назад</p>
            <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
        </div>


        <a class="zoomable img-to-left" href="/app/assets/images/anatomy/auricularis_posterior-700.png"><img alt="Задняя ушная мышца" src="/app/assets/images/anatomy/auricularis_posterior-700.png"></a> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p><strong>Латинское название:</strong>&nbsp;auricularis - ушной; posterior - задний.&nbsp;</p>
        <p><strong>Место отхождения.</strong>&nbsp;Височная кость, в области сосцевидного отростка.</p>
        <p><strong>Место прикрепления.</strong>&nbsp;Задняя часть уха.</p>
        <p><strong>Действие.</strong>&nbsp;Оттягивает ухо вверх.</p>
        <p><strong>Иннервация.</strong>&nbsp;Лицевой (VII) нерв (задняя слуховая ветвь</p>
        <p><strong>Кровоснабжение.</strong>&nbsp;Поверхностная височная и задняя слуховая артерии&nbsp;через наружную сонную артерию (от общей сонной артерии).</p>
      </div>

    </div>
  </div>
</div>
