<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="col-xs-6">
          <h2 class="dark-blue">Надчерепная лобная мышца / Musculus epicranius</h2>
        </div>
        <div class="col-xs-6">
          <div class="buttback"><a href="#/muscles/head">
            <p>Назад</p>
            <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
        </div>
        <a class="zoomable img-to-left" href="/app/assets/images/anatomy/epicranius-700-2.png"><img alt="Надчерепная лобная мышца" src="/app/assets/images/anatomy/epicranius-700-2.png"></a> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p><strong>Латинское название:</strong> frons - лобный.</p>
        <p>Надчерепная мышца (затылочно-лобная) является фактически двумя мышцами (затылочной и лобной), объединенными апоневрозом, называющимся надчерепным (шлемовидным) апоневрозом, названным так потому, что по форме он похож на шлем.</p>
        <p><strong>Место отхождения.  </strong>Надчерепной апоневроз.</p>
        <p><strong>Место прикрепления.</strong> Фасция и кожа выше глаз и носа.</p>
        <p><strong>Действие.</strong> Оттягивает скальп вперед. Поднимает брови и морщит кожу лба в горизонтальные складки.</p>
        <p><strong>Иннервация.</strong> Лицевой (VII) нерв (височные ветви).</p>
        <p><strong>Основное функциональное движение.</strong> Участвует в мимике лица.</p>

      </div>

    </div>
  </div>
</div>
