<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="col-xs-6">
          <h2 class="dark-blue">Надчерепний потиличний м'яз голови / Musculus epicranius</h2>
        </div>
        <div class="col-xs-6">
          <div class="buttback"><a href="#/muscles/head">
            <p>Назад</p>
            <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
        </div>



        <a class="zoomable img-to-left" href="/app/assets/images/anatomy/epicranius-700.png"><img alt="М'язи голови: Надчерепний потиличний м'яз" src="/app/assets/images/anatomy/epicranius-700.png"></a> <br>
        <br>
        <br>
        <br>
        <br>
        <p><strong>Латинська назва:</strong> occiput - задня частина черепа (потилиця).</p>
        <p>Надчерепний (потилично-лобний) є фактично двома м'язами (потиличний і лобний), які об'єднані апоневрозом, що називається надчерепним (шоломовидним) апоневрозом, названий через те, що за формою нагадує шолом.</p>
        <p><strong>Місце початку.  </strong>Латеральні дві треті верхньої потиличної лінії потиличної кістки. Сосковидний відросток скроневої кістки.</p>
        <p><strong>Місце закріплення.</strong> Надчерепний апоневроз (листовидне сухожилля, яке знахожиться попереду лобної порожнини).</p>
        <p><strong>Дії.</strong> Відтягує скальп назад. Допомагає лобній порожнині піднімати брови і зморщувати лоб.</p>
        <p><strong>Іннервація.</strong> Лицевий (VII) нерв (задня аурикулярна гілка).</p>
        <p><strong>Основна рухова функція.</strong> Бере участь у міміці обличчя.</p>
      </div>
    </div>
  </div>
</div>
