<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="col-xs-6">
          <h2 class="dark-blue">Скроневий м'яз / Musculus temporalis</h2>
        </div>
        <div class="col-xs-6">
          <div class="buttback"><a href="#/muscles/head">
            <p>Назад</p>
            <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
        </div>



        <a class="zoomable img-to-left" href="/app/assets/images/anatomy/temporalis-700.png"><img alt="Скроневий м'яз" src="/app/assets/images/anatomy/temporalis-700.png"></a> <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p><strong>Латинська назва:</strong>&nbsp;tempor - має відношення до латеральної сторони голови, час.</p>
        <p><strong>Місце початку.</strong>&nbsp;Скронева ямка, включаючи тім'яну, скроневу і лобну кістки. Скронева фасція.</p>
        <p><strong>Місце закріплення.</strong>&nbsp;Короноїдальний відросток нижньої щелепи. Передня границя гілки нижньої щелепи.</p>
        <p><strong>Дії.&nbsp;</strong>Змикає щелепу. Стискає зуби. Допомагає руху нижньої щелепи з боку в бік.</p>
        <p><strong>Іннервація.</strong>&nbsp;Передній і задній глибокі скроневі нерви від тройничкового (V) нерва (нижньощелепна гілка).</p>
        <p><strong>Кровозабезпечення.</strong>&nbsp;Передня і задня глибокі скроневі гілки верхньощелепної артерії&nbsp;(від зовнішньої сонної артерії).</p>
      </div>

    </div>
  </div>
</div>
