<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Сердечно-сосудистая система</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/systems">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>&nbsp;<strong>Сердечно-сосудистая система </strong>представляет собой замкнутую транспортную систему, состоящую из специальных транспортных органов, доставляющих кровь и распределяющих ее по организму. С ее помощью снабжается кровью каждая клетка тела человека. Эта система включает:</p>
              <p><br>
                - <strong>сердце</strong>;<br>
                - <strong>кровеносные сосуды</strong>.<br>
                <br>
                <strong>Сердце</strong> представляет собой насос для перекачивания крови. Благодаря работе сердца, в организме поддерживается постоянная циркуляция крови. Кровь прокачивается через систему гибких сосудов, кровеносную систему, которая представлена:<br>
                <br>
                - <strong>артериями</strong>, несущими кровь от сердца, и распределяющими ее по организму;<br>
                - <strong>капиллярами</strong>, в которых происходит обмен метаболитами;<br>
                - <strong>венами</strong>, подводящими кровь к сердцу;<br>
                - <strong>лимфатическими сосудами</strong>, которые служат для транспорта жидкости и иммунных клеток.<br>
                <br>
                Независимо от содержания в крови кислорода, все сосуды, отводящие кровь от сердца, называются <strong>артериями</strong>, а доставляющие ее к сердцу — <strong>венами</strong>. Например, легочная артерия, идущая от сердца к легким, несет бедную кислородом кровь. В то же время легочные вены, идущие от легких к сердцу, несут кровь обогащенную кислородом. Аналогично, по пупочным артериям проходит кровь с малым содержанием кислорода, в то время как в пупочных венах кровь богата кислородом.<br>
                <br>
                Сосудистая система необходима не только для транспорта кислорода, но также для доставки в клетки различных веществ, содержащихся в крови. Эти вещества по кровеносным сосудам доставляются к клеткам (обмен в капиллярах), где в присутствии кислорода создаются энергетические запасы (АТФ), необходимые для протекания жизненных процессов или для построения тканевых структур организма.<br>
                &nbsp;</p>
              <div class="row">
                <div class="col-md-12 ">
                  <table width="700" border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td><a href="#/not"><img src="/app/assets/images/anatomy/serdze(1).png" alt="Форма, расположение, строение сердца" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Форма, расположение, строение сердца</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/rabota-serdza.png" alt="работа сердца" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Работа сердца</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/krovjanoe-davlenije.png" alt="Кровяное давление" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Кровяное давление</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/obsledovanije-serdza.png" alt="обследование сердца" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Обследование сердца</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/krovenosnyje-sosudy.png" alt="кровеносные сосуды" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Кровеносные сосуды</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/linfaticheskije-sosudy.png" alt="лимфатические сосуды" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Лимфатические сосуды</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/sistemnoe-i-legochnoe-krovoobraschenie.png" alt="системное и легочное кровообращение" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Системное и легочное кровообращение</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/dvizhenie-krovi.png" alt="движение крови" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp;<a href="#/not"><strong>Движение крови, давление и сопротивление сосудов</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/reguljacija-krovosnabzhajuschih-organov.png" alt="регуляция кровоснабжающих органов" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Регуляция кровоснабжения органов</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/reflektornaja-reguljacija-krovoobraschenija.png" alt="рефлекторная регуляция кровообращения и кровяного давления" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Рефлекторная регуляция кровообращения</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/kapilljarnoe-krovoobraschenije.png" alt="капиллярное кровообращение" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Капиллярное кровообращение</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/venoznyj-vozvrat.png" alt="венозный возврат" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Венозный возврат</strong></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
