<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Мышечная ткань</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/tissue">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Клетки мышечной ткани, как и нервные, могут возбуждаться при воздействии химических и электрических стимулов. Способность мышечных клеток укорачиваться (сокращаться) в ответ на действие определенного стимула связана с наличием особых белковых структур (<strong>миофибрилл</strong>). В организме мышечные клетки осуществляют энергосберегающие функции, поскольку энергия, расходуемая при сокращении мышцы, затем выделяется в виде тепла. Поэтому при охлаждении организма происходят частые сокращения мышц (дрожь).</p>
              <p>По строению мышечные клетки напоминают другие клетки организма, но отличаются от них формой. Каждая мышечная клетка подобна волокну, длина которого может достигать 20 см. Поэтому часто мышечную клетку называют <strong>мышечным волокном</strong>.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Volokno.PNG"><img alt="Мышечное волокно" src="/app/assets/images/anatomy/Volokno.PNG"></a>
              <p>Характерной особенностью мышечных клеток (волокон) является присутствие в них больших количеств белковых структур, которые называются миофибриллами и сокращаются при раздражении клетки. Каждая миофибрилла состоит из коротких белковых волокон, называемых микрофиламенты. В свою очередь, микрофиламенты подразделяются на тонкие <strong>актиновые</strong> и более толстые <strong>миозиновые волокна</strong>. Сокращение происходит в ответ на нервное раздражение, которое передается к мышце от двигательной концевой пластинки по нервному отростку посредством нейромедиатора – ацетилхолина.</p>
              <p>В соответствии со строением и выполняемыми функциями, выделяют две разновидности мышечной ткани: гладкая и поперечнополосатая.</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Гладкая мышечная ткань</h2>
                </div>
              </div>
              <p>Клетка гладкой мышечной ткани  имеет веретенообразную форму. В центре расположено продолговатое ядро. Миофибриллы организованы не так строго упорядоченно, как в клетках поперечнополосатых мышц. Кроме этого, гладкие мышцы сокращаются медленнее, чем поперечнополосатые. Сокращение мышц происходит под действием химических медиаторов: ацетилхолина и адреналина. Работа гладких мышц регулируется автономной нервной системой (вегетативной).</p>
              <p>За счет этой ткани формируется большая часть стенок полых внутренних органов (желудочно-кишечный тракт, желчный пузырь, мочеполовые органы, кровеносные сосуды и т. д.).<strong> </strong></p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Поперечнополосатая мышечная ткань</h2>
                </div>
              </div>
              <p>Под микроскопом в мышечной клетке можно видеть жесткую структурную организацию миофибрилл и их субъединиц (актиновых и миозиновых волокон). Они располагаются в виде чередующихся светлых и темных поперечных полос. Отсюда и произошло название этой разновидности мышечной ткани. Такой упорядоченный характер расположения актиновых и миозиновых волокон является отличительным признаком клеток поперечнополосатых мышц, поскольку в клетках гладкой мышечной ткани волокна расположены неупорядоченно.</p>
              <p>Эта разновидность мышечной ткани в свою очередь подразделяется на два типа: скелетная и сердечная.</p>
              <p><strong>Скелетная мышечная ткань</strong> составляет 40-50% от общего веса тела, что делает скелет наиболее развитой частью человеческого организма. Большая часть скелетных мышц образует мускулатуру активной двигательной системы, а также формирует выражение лица (мимические мышцы), язык, горло, гортань, среднее ухо, тазовое дно и т. д. Эти мышцы находятся под контролем соматической нервной системы и поэтому могут сокращаться произвольно.</p>
              <p><strong>Сердечная мышечная ткань</strong> представлена специфической формой поперечнополосатых мышц. По сравнению со скелетными мышцами, она имеет ряд особенностей.</p>
              <p>В отличие от краевого расположения ядер в клетке скелетных мышц, ядра в клетке мышечной ткани сердца располагаются в центре клетки. Сами клетки по диаметру меньше мышечных волокон скелетных мышц. В противоположность мышечным волокнам скелетных мышц, которые снаружи не имеют фибриллярных структур, необходимых для связывания между собой, клетки мышечной ткани сердца связаны друг с другом особыми вставочными дисками. Такая организация мышечных клеток сердца дает возможность электрическому импульсу веерообразно распространяться по стенкам обоих предсердий и внутренней поверхности желудочков. Еще одна особенность сердечной мышцы заключается в способности некоторых ее клеток генерировать импульсы не только в ответ на внешние раздражители, но и спонтанно. Активность клеток мышцы сердца находится под контролем автономной нервной системы.</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Строение скелетных мышц</h2>
                </div>
              </div>
              <p>Мышечные волокна и соединительная ткань в скелетных мышцах тесно связаны между собой. Каждая мышца окружена особой оболочкой <strong>(эпимизий</strong>), состоящей из плотной соединительной ткани. Каждая мышца состоит из отдельных пучков волокон (фасцикул), также окруженных собсенной оболочкой (<strong>перимизий</strong>).</p>
              <p>Такие пучки волокон состоят из сотен мышечных <strong>фибрилл</strong> – мышечных клеток, покрытых оболочкой из соединительной ткани. Внутри каждая мышечная клетка содержит несколько сотен ядер, расположенных по периферии. В длину такая клетка может достигать нескольких см. Обычно мышечные фибриллы располагаются по всей длине мышцы и с двух концов прикрепляются к сухожилиям, которые скрепляют мышцу с костью (отсюда название – скелетные мышцы).</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Stroenie_volokna.PNG"><img alt="Строение мыщц" src="/app/assets/images/anatomy/Stroenie_volokna.PNG"></a>
              <div class="row">
                <div class="col-md-12">
                  <h2>Структурные и молекулярные основы сокращения скелетных мышц</h2>
                </div>
              </div>
              <p>Выше мы уже говорили, что мышечные волокна состоят из миофибрилл способных сокращаться. Эти фибриллы расположены параллельно продольной оси клетки и посредством Z-дисков разделены на множество единиц, которые называются саркомерами.</p>
              <p>В каждом саркомере существует упорядоченная структура микрофиламентов, представленная актиновыми и миозиновыми нитями. Каждая актиновая нить связана с Z-диском саркомера, причем миозиновые нити, находящиеся в середине саркомера, с обеих сторон распространяются в область актиновых нитей.</p>
              <p>При сокращении эти нити скользят вдоль по отношению друг к другу. Каждый отдельный саркомер при этом становится короче, в то время как актиновые и миозиновые нити сохраняют свою длину. При растяжении мышцы происходит обратной процесс.</p>
              <p>Характер и продолжительность сокращения для поперечнополосатых скелетных мышц различны. Мышечные волокна, обладающие временем сокращения 30-40 мс, называются быстрыми (фазными) волокнами. Они отличаются от медленных (тонических) волокон, тем, что время сокращения для них составляет около 100 мс.</p>
              <p>Даже в состоянии покоя мышцы всегда находятся в активном (непроизвольном) напряжении (тонусе). Тонус скелетных мышц поддерживается за счет постоянно поступающих в них слабых импульсов. Мышечный тонус контролируется самостоятельно посредством мышечного веретена и сухожилий. При отсутствии мышечного тонуса говорят о вялом (атоническом) параличе.</p>
              <p>Если мышца в течение долгого времени не выполняет работу или нарушается ее иннервация, то она атрофируется. С другой стороны, при повышенной нагрузке на мышцы, например у спортсменов, происходит утолщение отдельных мышечных волокон и наступает гипертрофия мышц. При сильных повреждениях мышцы формируется шрам из соединительной ткани, поскольку способность мышц к регенерации ограничена.</p>
              <h2 id="h2">Кровоснабжение мышц</h2>
              <p>Приток крови к мышце и, следовательно, снабжение ее кислородом зависит от работы, которую она совершает. Количество кислорода, необходимое работающей мышце, в 500 раз превышает потребность в кислороде мышцы, находящейся в состоянии покоя. Поэтому при мышечной работе количество крови, поступающее в мышцу, сильно возрастает (300-500 капилляров/мм3 объема мышцы) и может в 20 раз превышать этот показатель для неработающей мышцы.<br>
                &nbsp;</p>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
