<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Нервная ткань</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/tissue">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Нервная ткань состоит из <strong>нервных клеток (нейронов)</strong> и <strong>клеток глии</strong>. Нервные клетки ответственны за восприятие сигнала, проведение импульса и его реализацию, а глиальные клетки выполняют трофические (питание), опорные функции для нейронов, а также защитные и изолирующие функции для нервных волокон. На всем протяжении своего существования клетки глии сохраняют способность к делению. Нейроны же утрачивают эту способность. Поэтому при заболеваниях, сопровождающихся потерей нервных клеток, глиальные клетки могут замещать нейроны.</p>
              <p>Нейроны соединяются между собой посредством синапсов, образуя цепи, или узлы нейронов. Размер и форма нейронов варьируют в широких пределах, однако, основная структура их одинакова.&nbsp;</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Строение нейрона</h2>
                </div>
              </div>
              <p>В соответствии с направлением проведения сигнала нервная клетка подразделяется на три сегмента: дендрит, аксон и перикарион (соматическая клетка).</p>
              <p><strong>Дендриты</strong> представляют собой древовидно ветвящиеся отростки, обладающие специфическими точками контакта (синапсами), которые воспринимают сигналы от других нейронов и передают их в перикарион. Оттуда по осевому цилиндру сигнал передается на воспринимающий орган (например, скелетную мышцу) или на другой нейрон.</p>
              <p><strong>Аксон</strong> – длинный отросток (до 100 см), окружен особой миелиновой оболочкой Роль миелиновой оболочки заключается в стимуляции передачи сигнала от клетки к клетке.</p>
              <p><strong>Перикарион (соматическая клетка</strong>) обладает различной формой и размерами. Наряду с ядром перикарион содержит несколько органелл, а также многочисленные нейротрубочки и нейрофиламенты. Через эти нейротрубочки осуществляется транспорт нерастворимых белков.</p>
              <p>По количеству дендритов и типу их ветвления нервные клетки разделяются на несколько типов. <strong>Униполярный</strong> нейрон обладает одним аксоном. В <strong>биполярном</strong> нейроне аксон и дендрит отходят от противоположных концов клетки. В <strong>ложноуниполярном</strong> нейрон образуется из биполярного нейрона путем слияния аксона и дендрита вблизи около тела клетки. В <strong>мультиполярном</strong> нейроне из клетки выходят многочисленные дендриты вместе с одним аксоном.</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Клетки глии (нейроглии)</h2>
                </div>
              </div>
              <p>В соединительной ткани периферической и центральной нервной системы различают следующие типы клеток: <br>
                - шванновские клетки (образуют миелиновую оболочку); <br>
                - амфициты (образуют оболочку нервных клеток, спинальных ганглий и автономных ганглий);<br>
                - астроциты (отчасти выполняют опорную функцию); <br>
                - микроглия (обладают способностью к фагоцитозу); <br>
                - эпендимоциты (выстилают полости головного и спинного мозга);<br>
                - секреторные клетки сосудистого сплетения (вырабатывают жидкость, предохраняющую головной и спинной мозг от механических воздействий).</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Нервы</h2>
                </div>
              </div>
              <p>Этот термин используется только для периферической нервной системы. Для головного и спинного мозга применяется название <strong>тракт</strong> (центральный путь). Нерв состоит из нескольких пучков нервных волокон. В одном нерве могут находиться как чувствительные (афферентные), так и двигательные (эфферентные) волокна. Поэтому такой нерв содержит сотни индивидуальных аксонов, заключенных в миелиновые оболочки, а также дополнительный слой соединительной ткани. В свою очередь, пучки волокон окружены еще одним слоем соединительной ткани. Все оболочки обеспечивают не только механическую защиту нерва, но и служат для питания волокон за счет кровеносных сосудов, находящихся в нерве.</p>
              <p>В отличие от аксонов в ЦНС, периферические нервы способны к регенерации после повреждений, даже если нерв перерезан. Это происходит при сшивании концов нерва. После перерезки нерва, в первую очередь, дегенерирует часть аксона, отделенная от тела клетки, а шванновские клетки служат резервом для регенерации аксона. Регенерирующий аксон растет со скоростью 1-2 мм в день в направлении иннервируемого органа (например, мышцы). Для полной реиннервации необходимо несколько месяцев. После ампутации конечности аксоны начинают расти во всех направлениях и образуют пролиферирующую массу, так называемую ампутационную нейрому.</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Нервный импульс (потенциал действия)</h2>
                </div>
              </div>
              <p>Способность отвечать возбуждением на внешние сигналы характерна для всех клеток. Быстрая передача сигналов посредством специализированных структур (аксонов) присуща только нервным клеткам. Для нервной системы животных и человека сигнал, или потенциал действия, представляет собой универсальное средство сообщения.</p>
              <p>Существенным параметром такой связи является не интенсивность одиночного потенциала действия, а количество полученных, обработанных и переданных нервным волокном сигналов в единицу времени (частота). Таким образом, язык, или код нейрона, выражается частотой сигнала (до 500 импульсов в секунду).</p>
              <p>Генерация потенциала действия в нервной клетке зависит от отрицательного потенциала покоя, который характерен почти для всех клеток и выражается разностью электрических потенциалов между наружной клеточной мембраной и содержимым клетки. При возбуждении нервной клетки раздражителями электрической или химической природы происходит кратковременная потеря положительного потенциала на ее мембране, и она заряжается слабо отрицательно. Мембранный потенциал меняется от -60 мВ (потенциал покоя) до +20 мВ. Менее чем за 1 мс исходный потенциал восстанавливается. Поскольку клетка теряет первоначальную поляризацию, этот процесс называется деполяризацией. Возвращение клетки к исходному состоянию носит название реполяризации.</p>
              <p>Передача импульса с аксона на другой нейрон происходит через<strong> синапс</strong>, при участии особых веществ – нейромедиаторов. Они высвобождаются из специальных синаптических пузырьков. Нейромедиаторы диффундируют через синаптическую щель и вызывают деполяризацию постсинаптической мембраны, способствующую дальнейшей передаче импульса.<br>
                &nbsp;</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
