<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Ткани</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/tissue/epithelial"><span><img src="/app/assets/images/1141.png" alt="ALT"></span><i>Эпителиальная ткань</i> </a></li>
              <li><a href="#/tissue/connective"><span><img src="/app/assets/images/1123.png" alt="ALT"></span><i>Соединительная ткань</i></a></li>
              <li><a href="#/tissue/muscles"><span><img src="/app/assets/images/stomach.png" alt="ALT"></span><i>Мышечная ткань</i></a></li>
              <li><a href="#/tissue/nervous"><span><img src="/app/assets/images/12341.png" alt="ALT"></span><i>Нервная ткань</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Ткани человеческого организма</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>&nbsp;<strong>Ткани</strong> представляют собой совокупности одинаково дифференцированных клеток и межклеточного вещества. Они выполняют одну или несколько специфических функций. Условно ткани подразделяются на четыре группы:<br>
                <br>
                • эпителиальная:<br>
                • соединительная и опорная;<br>
                • мышечная;<br>
                • нервная.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
