<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Тканини</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/tissue/epithelial"><span><img src="/app/assets/images/1141.png" alt="ALT"></span><i>Епітеліальна тканина</i> </a></li>
              <li><a href="#/tissue/connective"><span><img src="/app/assets/images/1123.png" alt="ALT"></span><i>Сполучна тканина</i></a></li>
              <li><a href="#/tissue/muscles"><span><img src="/app/assets/images/stomach.png" alt="ALT"></span><i>М'язева тканина</i></a></li>
              <li><a href="#/tissue/nervous"><span><img src="/app/assets/images/12341.png" alt="ALT"></span><i>Нервова тканина</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Тканини людського організму</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>&nbsp;<strong>Тканини</strong> являють собою сукупність однаково диференційованих клітин і міжклітинної речовини. Вони виконують одну або декілька специфічних функцій. Умовно тканини поділяють на чотири групи:<br>
                <br>
                • епітеліальна:<br>
                • сполучна та опорна;<br>
                • м'язева;<br>
                • нервова.</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
