<div id="content">
  <div class="box">
    <div class="text std">
<div class="bodyscheme">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="dark-blue">Кожа и ее производные</h2>
    </div>
    <div class="col-xs-6 ">
      <div class="buttback"><a href="#/systems">
        <p>Назад</p>
        <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      <div class="bodytext">
        <p>Кожный покров образует наружную поверхность тела (его площадь составляет около 1,7 м<sup>2</sup>). В состав кожного покрова входят кожа (cutis) и подкожная клетчатка (tela subcutanea). Кожа разделяется на эпидермис и дерму.</p>
        <div class="row">
          <div class="col-md-12">
            <h2>Функции кожи</h2>
          </div>
        </div>
        <p>Кожа представляет собой многослойный орган, выполняющий множественные функции, такие как:<br>
          <br>
          - <strong>защитная функция:</strong> ороговевший эпителий и секрет кожных желез защищают организм от механических, термических и химических повреждений;<br>
          <br>
          - <strong>терморегуляция</strong>: температура тела регулируется путем сужения и расширения сосудов кожи и путем выделения пота из потовых желез кожи;<br>
          <br>
          - <strong>регуляция водно-солевого баланса</strong>: защита от потери жидкости; выделение воды и солей потовыми железами;<br>
          <br>
          - <strong>сенсорная функция</strong>: рецепторы кожи воспринимают боль, температуру, давление и прикосновение;<br>
          <br>
          - <strong>иммунная функция</strong>: в коже содержится большое количество специфических иммунных клеток;<br>
          <br>
          - <strong>коммуникация</strong>: например, внешнее проявление вегетативных реакций в виде покраснения или побледнения кожи.</p>
        <div class="row">
          <div class="col-md-12 ">
            <table width="700" border="0" cellpadding="1" cellspacing="1">
              <tbody>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/kozha.png" alt="Кожа" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Кожа и подкожная клетчатка. Рецепторы кожи</a></strong></td>
              </tr>
              <tr>
                <td><strong>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/proizvodnye-kozhi.png" alt="Производные кожи" width="100" height="93"></a></strong></td>
                <td><strong>&nbsp;<a href="#/not">Производные кожи</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div> </div>
  </div>
</div>
