<div id="content">
  <div class="box">
    <div class="text std">

    <div class="bodyscheme">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="dark-blue">Органы чувств</h2>
    </div>
    <div class="col-xs-6 ">
      <div class="buttback"><a href="#/systems">
        <p>Назад</p>
        <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      <div class="bodytext">
        <p>К классическим органам чувств относятся <strong>глаз, ухо, нос</strong> и <strong>органы осязания и вкуса</strong>. Кроме того, имеются многочисленные <strong>специализированные рецепторы</strong>, например в коже (<strong>болевые и температурные рецепторы</strong>) и во внутренних органах (<strong>хеморецепторы и осморецепторы</strong>). С помощью сенсорных клеток и рецепторов они воспринимают объективные сенсорные впечатления из окружающей среды&nbsp;или из внутренней среды организма и передают их в центральную нервную систему, где входящие сигналы подвергаются обработке. В конечном счете, этот процесс ведет к субъективному восприятию сенсорного стимула. Сенсорные клетки могут быть первичночувствующими (видоизмененные нервные клетки) или вторичночувствующими (эпителиальные клетки, которые приобрели рецепторные функции).</p>
        <div class="row">
          <div class="col-md-12 ">
            <table width="700" border="0" cellpadding="1" cellspacing="1">
              <tbody>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/rezeptory-i-sensornye-kletki.png" alt="рецепторы и сенсорные клетки" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Рецепторы и сенсорные клетки</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/glaznoe-jabloko.png" alt="глазное яблоко" width="100" height="93"></a></td>
                <td><strong>&nbsp;</strong><strong><a href="#/not">Глазное яблоко: расположение, строение его стенки</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/perednjaja-chast-glaza.png" alt="Передняя часть глазного яблока" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Передняя часть глазного яблока</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/zadnjaja-chast-glaza.png" alt="Задняя часть глазного яблока" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Задняя часть глазного яблока</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/opticheskaja-sistema-glaza(1).png" alt="Оптическая система глаза" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Оптическая система глаза: преломляющая сила</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/anomalii-prelomlenija.png" alt="Аномалии преломления" width="100" height="93"></a></td>
                <td><strong>&nbsp;</strong><strong><a href="#/not">Аномалии преломления</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/zritelnyj-put.png" alt="Зрительный путь" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Зрительный путь </a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/sleznyj-apparat.png" alt="слезный аппарат" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Вспомогательные структуры</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/uho.png" alt="ухо" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Ухо: наружное, среднее, внутреннее. Слуховой путь</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/mehanizmy-sluha.png" alt="Механизмы слуха" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Механизмы слуха</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/organ-ravnovesija.png" alt="Орган равновесия" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Орган равновесия</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/vkus.png" alt="Вкус" width="100" height="93"></a></td>
                <td>&nbsp;<strong><a href="#/not">Вкус</a></strong></td>
              </tr>
              <tr>
                <td><strong>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/obonjanie.png" alt="Обоняние" width="100" height="93"></a></strong></td>
                <td><strong>&nbsp;<a href="#/not">Обоняние</a></strong></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
    </div>

  </div>

</div>
