<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Нижняя конечность</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/skeleton">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Бедренная кость</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p><strong>Бедренная кость</strong> является единственной костью бедра. Это самая тяжелая, самая длинная и самая прочная кость тела. Ее проксимальный конец имеет головку шаровидной формы, которая прикрепляется к тазовой кости в вертлужной впадине. Дистальный конец бедренной кости имеет латеральный и медиальный надмыщелки, которые соединяются с большеберцовой костью.<br>
                <br>
                - большой вертел является выступом у дистальной части головки и шейки бедренной кости, может иногда прощупываться в ягодичной области.</p>
              <h2 id="h2">Большеберцовая кость</h2>
              <p><strong>Большеберцовая кость</strong> является крупной и наиболее медиальной из костей нижней конечности. На проксимальном конце кости медиальный и латеральный мыщелки соединяются с дистальным концом бедренной кости, образуя коленный сустав.<br>
                <br>
                - бугристость большеберцовой кости - загрубелая область на передней поверхности большеберцовой кости.<br>
                - медиальная лодыжка может прощупываться в виде внутренней выпуклости на голеностопе.</p>
              <h2 id="h2">Малоберцовая кость</h2>
              <p><strong>Малоберцовая кость</strong> находится латеральнее и параллельно голени и представляет собой тонкую и похожую на палочку кость. Малоберцовая кость не имеет большого веса. Она не участвует и в образовании коленного сустава.<br>
                <br>
                - латеральная лодыжка на малоберцовой кости может прощупываться в виде внешней выпуклости на голеностопе.</p>
              <h2 id="h2">Коленная чашечка</h2>
              <p><strong>Коленная чашечка</strong> является небольшой треугольной формы сесамовидной костью в пределах сухожилия четырехглавой мышцы бедра. Она образует переднюю часть коленного сустава.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/nizhnjaja-chast-bedr-kosti.jpg"><img alt="Нижняя часть бедренной кости" src="/app/assets/images/anatomy/nizhnjaja-chast-bedr-kosti.jpg"></a>
              <p style="text-align: center;">&nbsp;Нижняя часть бедренной кости и верхняя часть большеберцовой кости правой нижней конечности (вид спереди)<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/bedrennaja-kost1(1).png"><img alt="Бедренная кость" src="/app/assets/images/anatomy/bedrennaja-kost1(1).png"></a>
              <p style="text-align: center;">Бедреная кость: а) вид спереди; б) вид сзади<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/bolsheberzovye-kosti.png"><img alt="Большеберцовые кости" src="/app/assets/images/anatomy/bolsheberzovye-kosti.png"></a>
              <p style="text-align: center;">Большеберцовая и малоберцовая кости нижней конечности: а) вид спереди;&nbsp;<br>
                б) вид сзади<br>
                &nbsp;</p>
              <h2 id="h2">Кости предплюсны</h2>
              <p><strong>Кости предплюсны</strong> - это семь костей лодыжки. Две наибольшие кости предплюсны главным образом несут на себе массу тела: это пяточная кость и таранная кость, которая находится между большеберцовой костью и пяточной костью. Ладьевидная, медиальная клиновидная, промежуточная клиновидная, латеральная клиновидная и кубовидная кости составляют другие пять костей предплюсны.</p>
              <h2 id="h2">Плюсневые кости</h2>
              <p>Пять <strong>плюсневых костей</strong> образуют подъем ступни.</p>
              <h2 id="h2">Фаланговые кости</h2>
              <p>Каждый палец нижней конечности имеет три фаланги, кроме большого пальца, который имеет только две фаланги.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/kosti-pravoj-nizhnej-konechnosti.png"><img alt="Кости правой нижней конечности" src="/app/assets/images/anatomy/kosti-pravoj-nizhnej-konechnosti.png"></a>
              <p style="text-align: center;">Кости правой нижней конечности: переднемедиальный вид<br>
                <br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/kosti-pravoj-nizhnej-konechnosti-vid-sboku.png"><img alt="Кости правой нижней конечности: вид сверху" src="/app/assets/images/anatomy/kosti-pravoj-nizhnej-konechnosti-vid-sboku.png"></a>
              <p style="text-align: center;">Кости правой нижней конечности: вид сбоку<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/kosti-pravoj-nizhnej-konechnosti-vid-sverhu.png"><img alt="Кости левой нижней конечности: вид сверху: вид сверху" src="/app/assets/images/anatomy/kosti-pravoj-nizhnej-konechnosti-vid-sverhu.png"></a>
              <p style="text-align: center;">&nbsp;Кости левой нижней конечности: вид сверху</p>
            </div>
          </div>
        </div>

        </div>
      </div>    </div>
  </div>
</div>
