<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Верхняя конечность</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/skeleton">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Плечевая кость</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Плечевая кость является самой длинной и самой большой костью верхней конечности. Проксимальной частью она соединяется с лопаткой (в гленоидальной ямке). Дистальный конец представляет собой блок (который похож на шпульку) и головку (или голову), которые являются частью локтевого сустава вместе с лучевой и локтевой костью. На каждой стороне блока имеются медиальный и латеральный надмыщелки плечевой кости, которые легко прощупываются.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/plechevaja-kost1.png"><img alt="Плечевая кость" src="/app/assets/images/anatomy/plechevaja-kost1.png"></a>
              <p style="text-align: center;">Плечевая кость: а) вид спереди; б) вид сзади</p>
              <h2 id="h2">Лучевая кость</h2>
              <p>Лучевая кость является одной из двух костей предплечья, она располагается латерально, или на стороне большого пальца предплечья. Проксимальная головка лучевой кости образует сустав с головкой плечевой кости. Лучевая кость перекрещивает локтевую кость во время пронации.</p>
              <h2 id="h2">Локтевая кость</h2>
              <p>&nbsp;Локтевая кость - это медиальная кость предплечья на стороне мизинца. На проксимальном конце локтевой кости имеются два отростка: венечный отросток и локтевой отросток, которые прилегают над двумя медиальными закругленными «шпульками» блока плечевой кости. Локтевой отросток, сильно выступающий при сгибании локтя, называется также «музыкальная кость», потому что при раздражении нерва, пересекающего локтевой отросток, возникает болезненное ощущение. Шиловидные отростки лучевой и локтевой кости можно прощупать как острые выступы с обеих сторон запястья.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/pravyj-lokot1.png"><img alt="Правый локоть" src="/app/assets/images/anatomy/pravyj-lokot1.png"></a>
              <p style="text-align: center;">&nbsp;Правый локоть: медиальный вид при сгибании под прямым углом</p>
              <h2 id="h2">Запястные кости</h2>
              <p>&nbsp;<strong>Восемь </strong>небольших<strong> запястных костей</strong> составляют запястье. Они соединены связками и располагаются двумя поперечными рядами, по четыре кости в ряду. Первый ряд состоит из ладьевидной, полулунной, трехгранной и гороховидной кости. Второй ряд состоит из кости-трапеции, трапециевидной, головчатой и крючковатой кости. Схема запоминания запястных суставов (от латерального до медиального) начинается с проксимального ряда.</p>
              <h2 id="h2">Пястные кости</h2>
              <p><strong>Пять пястных костей</strong> располагаются между запястьем и суставами пальцев (которые являются головками пястных).</p>
              <h2 id="h2">Фаланги пальцев</h2>
              <p>&nbsp;Каждый палец имеет три фаланги, большой палец имеет только две.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kist.png"><img alt="Кисть" src="/app/assets/images/anatomy/kist.png"></a>
              <p style="text-align: center;">&nbsp;Кисть (вид сзади)<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kosti-predplechja-i-kisti-vid-speredi1(1).png"><img alt="Кости предплечья и кисти" src="/app/assets/images/anatomy/kosti-predplechja-i-kisti-vid-speredi1(1).png"></a>
              <p style="text-align: center;">&nbsp;Кости предплечья и кисти (вид спереди)<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kosti-predplechja-i-kisti-vid-szadi(2).png"><img alt="Кости предплечья и кисти вид сзади" src="/app/assets/images/anatomy/kosti-predplechja-i-kisti-vid-szadi(2).png"></a>
              <p style="text-align: center;">&nbsp;Кости предплечья и кисти (вид сзади)</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
