<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Череп: формирование черепа и лицевых костей</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/skeleton">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p><strong>Примечание: </strong>некоторые мягкие ткани (например, хрящи, апоневрозы, связки и сухожилия) введены в описание для облегчения понимания.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Череп</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Имеет восемь больших плоских костей, представленных двумя парами и четырьмя отдельными костями. Они образуют похожий на коробку контейнер, который является вместилищем головного мозга. Ниже представлены кости черепа:</p>
              <p>&nbsp;<strong>Лобная</strong>: кость, которая образует лоб, костные выступы под бровями и верхнюю часть каждой глазной орбиты.</p>
              <p><strong>Теменные</strong>: пара костей, которые образуют большую часть верхних и латеральных стенок черепа. Они соединяются по средней линии по сагиттальному шву и соединяются с лобной костью по венечному шву.</p>
              <p><strong>Височные</strong>: пара костей, которые располагаются ниже теменных костей. На височной кости имеется три важных ориентира: <br>
                (а) шиловидный отросток, который располагается сразу перед сосцевидным отростком. Является острым шиловидным выступом, к которому прикрепляются многие мышцы шеи; <br>
                (б) скуловой отросток, тонкая костная перемычка, которая соединяется со скуловой костью сразу выше нижней челюсти; <br>
                (в) сосцевидный отросток, грубый выступ сзади и ниже шиловидного отростка (сразу позади ушной раковины).</p>
              <p><strong>Затылочная</strong>: самая нижняя кость черепа. Она образует основание и заднюю стенку черепа и соединяет теменные кости впереди лямбдовидного шва. В основании затылочной кости имеется большое отверстие, большое затылочное отверстие, через которое проходит спинной мозг, соединяясь с головным мозгом. На каждой стороне большого затылочного отверстия имеются затылочные мыщелки, которые опираются на первый позвонок позвоночного столба (атлант).</p>
              <p><strong>Клиновидная</strong>: имеет форму бабочки, которая охватывает череп по ширине и является частью основания полости черепа. Клиновидная кость образует часть глазной орбиты и латеральную часть черепа.</p>
              <p><strong>Решетчатая</strong>: единичная кость перед клиновидной костью и ниже лобной кости. Образует часть носовой перегородки, верхние и средние носовые раковины.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Cherep-vid-sboku.png"><img alt="Череп (вид сбоку)" src="/app/assets/images/anatomy/Cherep-vid-sboku.png"></a>
              <p style="text-align: center;">&nbsp;Череп (вид сбоку)<br>
                <br>
                <br>
                <br>
                <a class="zoomable img-to-left" href="/app/assets/images/anatomy/cherep-vid-speredi.png"><img alt="Череп (вид спереди)" src="/app/assets/images/anatomy/cherep-vid-speredi.png"></a></p>
              <p style="text-align: center;">&nbsp;Череп (вид спереди)</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/cherep-vid-syadi.png"><img alt="Череп (вид снизу)" src="/app/assets/images/anatomy/cherep-vid-syadi.png"></a>
              <p style="text-align: center;">Череп (вид снизу)&nbsp;<br>
                <br>
                &nbsp;</p>
              <h2 id="h2">Лицевые кости</h2>
              <p>Лицевой скелет образуют четырнадцать костей, двенадцать из которых парные. Ниже перечислены основные лицевые кости:</p>
              <p><strong>Носовые</strong>: пара небольших прямоугольных костей, которые образуют переносицу (нижняя часть носа состоит из хряща).</p>
              <p><strong>Скуловые</strong>: пара костей, обычно называющихся скулами. Кости образуют большую часть боковых стенок глазных орбит.</p>
              <p><strong>Верхняя челюсть</strong>: две верхнечелюстных кости соединяются, образуя верхнюю челюсть. Верхние зубы «вставлены» в верхнюю челюсть.</p>
              <p><strong>Нижняя челюсть</strong>: нижняя челюстная кость является самой сильной костью лицевого скелета; она прикрепляется к височным костям по обе стороны лица, образуя единственный свободно подвижный сустав в черепе. Горизонтальная часть нижней челюсти, или тела, образует подбородок. Две вертикальные дуги кости, или ветви, отходят от тела челюсти, соединяя нижнюю челюсть с височной костью. Нижние зубы «вставлены» в нижнюю челюсть.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Lizevye-kost-vid-speredi.png"><img alt="Лицевые кости (вид сбоку)" src="/app/assets/images/anatomy/Lizevye-kost-vid-speredi.png"></a>
              <p style="text-align: center;">&nbsp;Лицевые кости (вид сбоку)<br>
                <br>
                <br>
                <br>
                <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Lizevye-kost-vid-speredi1.png"><img alt="Лицевые кости (вид спереди)" src="/app/assets/images/anatomy/Lizevye-kost-vid-speredi1.png"></a></p>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
</div>
