<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Череп: формування черепа і кісток обличчя</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/skeleton">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p><strong>Примітка: </strong>деякі м'яку тканини (наприклад, хрящі, апоневрози, зв'язки і сухожилля) введені в опис для полегшення розуміння.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Череп</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Має вісім великих плоских кісток, які представлені двома парами і чотирма окремими кістками. Вони утворюють схожий на коробку контейнер, який є вмістилищем головного мозку. Нижче представлені кістки черепа:</p>
              <p>&nbsp;<strong>Лобна</strong>: кістка, яка утворює лоб, кісткові виступи над бровами і верхню частину кожної очної орбіти.</p>
              <p><strong>Тім'яні</strong>: пара кісток, які утворюють більшу частину верхніх і латеральних стінок черепа. Вони з'єднуються по середній лінії по сагітальному шву і з'єднуються з лобовою кісткою по вінцевому шву.</p>
              <p><strong>Скроневі</strong>: пара кісток, які розташовуються нижче тім'яних кісток. На скроневій кістці є три важливі орієнтири: <br>
                (а) шилоподібний відросток, який розташовується одразу перед соскоподібним відростком. Є гострим шиловидним виступом, до якого прикріплюються багато м'язів шиї; <br>
                (б) виличної відросток, тонка кісткова перемичка, яка з'єднується з виличною кісткою відразу вище нижньої щелепи; <br>
                (в) соскоподібний відросток, грубий виступ ззаду і нижче шиловидного відростка (відразу позаду вушної раковини).</p>
              <p><strong>Потилична</strong>: найнижча кістка черепа. Вона утворює основу і задню стінку черепа і з'єднує тім'яні кістки попереду лямбдовидного шва. У основі потиличної кістки є великий отвір, великий потиличний отвір, через який проходить спинний мозок, з'єднуючись з головним мозком. На кожній стороні великого потиличного отвору є потиличні відрости, які спираються на перший хребець хребетного стовпа (атлант).</p>
              <p><strong>Клиновидна</strong>: має форму метелика, який охоплює череп по ширині і є частиною основи порожнини черепа. Клиновидна кістка утворює частину очної орбіти і латеральну частину черепа.</p>
              <p><strong>Решітчата</strong>: одинична кістка перед клиноподібною кісткою і нижче лобової кістки. Утворює частину носової перегородки, верхні і середні носові раковини.</p>
              <!--<img alt="Череп (вид сбоку)" src="/app/assets/images/anatomy/Cherep-vid-sboku.png">-->

              <img src="/app/assets/images/anatomy/Cherep-vid-sboku1.png" alt="Череп (вид збоку)" usemap="#Map" />
              <map name="Map" id="Map">
                <area alt="" title="Тім'яна кістка" href="" shape="poly" coords="367,214,337,234,304,215,210,284,172,300,146,195,181,143,217,120,258,107,287,102,311,97,324,97">
                <area alt="" title="Лобна кістка" href="" shape="poly" coords="340,98,376,213,409,230,452,236,477,205,488,201,496,196,490,185,480,154,468,135,455,124,429,110,374,96,344,92">
                <area alt="" title="Потилична кістка" href="" shape="poly" coords="171,308,206,377,158,343,150,338,146,319,134,278,131,236">
                <area alt="" title="Вилична кістка" href="" shape="poly" coords="445,294,491,308,447,362,370,328,330,334,307,335,312,312,313,304,333,312,367,294,419,302,431,301">
                <area alt="" title="Скронева кістка" href="" shape="poly" coords="286,401,217,389,183,305,307,229,347,255,362,287,304,286">
                <area alt="" title="Слізна кістка" href="" shape="poly" coords="488,211,451,244,457,292,488,300,478,253,480,229">
                <area alt="" title="Носова кістка" href="" shape="poly" coords="485,234,495,255,512,262,515,327,499,313,491,283">
                <area alt="" title="Нижня щелепа" href="" shape="poly" coords="351,378,358,453,518,496,535,486,543,469,536,457,530,440,536,424,541,403,437,408,427,396,424,378,425,370,404,355,360,338,335,340,337,359">
              </map>

              <p style="text-align: center;">&nbsp;Череп (вид збоку)<br>
                <br>
                <br>
                <br>
                <a class="zoomable img-to-left" href="/app/assets/images/anatomy/cherep-vid-speredi.png"><img alt="Череп (вид спереду)" src="/app/assets/images/anatomy/cherep-vid-speredi.png"></a></p>
              <p style="text-align: center;">&nbsp;Череп (вид спереди)</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/cherep-vid-syadi.png"><img alt="Череп (вид знизу)" src="/app/assets/images/anatomy/cherep-vid-syadi.png"></a>
              <p style="text-align: center;">Череп (вид знизу)&nbsp;<br>
                <br>
                &nbsp;</p>
              <h2 id="h2">Кістки обличчя</h2>
              <p>Скелет обличчя утворюють чотирнадцять кісток, дванадцять з яких парні. Нижче перераховані основні кістки обличчя:</p>
              <p><strong>Носові</strong>: пара невеликих прямокутних кісток, які утворюють перенісся (нижня частина носа складається з хряща).</p>
              <p><strong>Виличні</strong>: пара кісток, зазвичай називаються вилицями. Кістки утворюють велику частину бічних стінок очних орбіт.</p>
              <p><strong>Верхня щелепа</strong>: дві верхньощелепних кістки з'єднуються, утворюючи верхню щелепу. Верхні зуби «вставлені» в верхню щелепу.</p>
              <p><strong>Нижня щедепа</strong>: нижня щелепна кістка є найсильнішою кісткою скелету обличчя; вона прикріплюється до скроневих кісток по обидві сторони обличчя, утворюючи єдиний вільно рухливий суглоб в черепі. Горизонтальна частина нижньої щелепи, або тіла, утворює підборіддя. Дві вертикальні дуги кістки, або гілки, відходять від тіла щелепи, поєднуючи нижню щелепу зі скроневою кісткою. Нижні зуби «вставлені» в нижню щелепу.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Lizevye-kost-vid-speredi.png"><img alt="Кістки обличчя (вид збоку)" src="/app/assets/images/anatomy/Lizevye-kost-vid-speredi.png"></a>
              <p style="text-align: center;">&nbsp;Кістки обличчя (вид збоку)<br>
                <br>
                <br>
                <br>
                <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Lizevye-kost-vid-speredi1.png"><img alt="Кістки обличчя (вид спереду)" src="/app/assets/images/anatomy/Lizevye-kost-vid-speredi1.png"></a></p>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
</div>
