<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Тазовый пояс</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/skeleton">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p><strong>Тазовый пояс</strong> состоит из двух тазовых костей. Он обеспечивает прочную и устойчивую поддержку нижним конечностям, которые несут на себе вес тела. Тазовые кости соединяются друг с другом спереди в лобковом симфизе (диск из волокнистого хряща). С крестцом и копчиком две тазовые кости образуют структуру, подобную «медицинскому лотку», называющуюся тазом. После рождения человека каждая тазовая кость состоит из трех отдельных костей: подвздошной, седалищной и лобковой. Эти отдельные кости в конечном счете соединяются в одну тазовую кость, область соединения является глубоким полусферической впадиной, которая называется вертлужной впадиной (эта впадина соединяется с головкой бедренной кости). Несмотря на то что тазовая кость является одной костью, она обычно описывается как состоящая из трех частей.</p>
              <h2 id="h2">Подвздошная кость</h2>
              <p><strong>Подвздошная кость</strong> - это большая, расширяющаяся кость, которая образует наибольшую и верхнюю часть тазовой кости. Когда человек кладет руки на бедра, прощупываются подвздошные ости. Каждая ость заканчивается спереди в виде передней верхней подвздошной ости (ASIS); а сзади в виде задней подвздошной ости (PSIS) (эту ость трудно прощупать, но ее положение обозначается впадиной кожи в крестцовой области, приблизительно на уровне второго крестцового отверстия).</p>
              <h2 id="h2">Седалищная кость</h2>
              <p><strong>Седалищная кость</strong> является нижней, задней частью тазовой кости, напоминающей по форме дугу. У основания седалищной кости имеются грубые и утолщенные седалищные бугры (иногда они называются «костями для сидения», потому что в сидячем положении человека его вес переносится полностью на седалищные бугры).</p>
              <h2 id="h2">Лобковая кость</h2>
              <p><strong>Лобковая кость</strong> является передней и нижней частью тазовой кости.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-speredi.png"><img alt="Кости тазового пояса: вид спереди" src="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-speredi.png"></a>
              <p style="text-align: center;">Кости тазового пояса: вид спереди<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-speredi1.png"><img alt="Кости тазового пояса вид спереди" src="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-speredi1.png"></a>
              <p style="text-align: center;">Кости тазового пояса: вид спереди<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-szadi.png"><img alt="Кости тазового пояса: вид сзади" src="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-szadi.png"></a>
              <p style="text-align: center;">&nbsp;Кости тазового пояса: вид сзади<br>
                &nbsp;<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-sboku.png"><img alt="Кости тазового пояса: вид сбоку" src="/app/assets/images/anatomy/kosti-tazovogo-pojasa-vid-sboku.png"></a>
              <p style="text-align: center;">&nbsp;Кости тазового пояса: вид сбоку<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/tazovaja-kost-vid-sboku.jpg"><img alt="Тазовая кость: вид сбоку" src="/app/assets/images/anatomy/tazovaja-kost-vid-sboku.jpg"></a>
              <p style="text-align: center;">&nbsp;Тазовая кость: вид сбоку<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/tazovaja-kost-vid-speredi.png"><img alt="Тазовая кость: вид спереди" src="/app/assets/images/anatomy/tazovaja-kost-vid-speredi.png"></a>
              <p style="text-align: center;">Тазовая кость: вид спереди</p>
            </div>
          </div>

        </div>

      </div><br><br>

    </div>
  </div>
</div>
