<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Скелет</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/skeleton/head"><span><img src="/app/assets/images/head.png" alt="ALT"></span><i>Череп</i> </a></li>
              <li><a href="#/skeleton/spine"><span><img src="/app/assets/images/neck.png" alt="ALT"></span><i>Позвоночник</i></a></li>
              <li><a href="#/skeleton/torso"><span><img src="/app/assets/images/stomach.png" alt="ALT"></span><i>Грудной отдел</i></a></li>
              <li><a href="#/skeleton/pelvis"><span><img src="/app/assets/images/pelvis.png" alt="ALT"></span><i>Тазовый пояс</i></a></li>
              <li><a href="#/skeleton/hand"><span><img src="/app/assets/images/hand.png" alt="ALT"></span><i>Верхняя конечность</i></a></li>
              <li><a href="#/skeleton/foot"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Нижняя конечность</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Скелет человека</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p><strong>Скелет человека</strong> при рождении состоит приблизительно из 350 костей. Во время развития и роста организма часть из них срастаются, поэтому скелет взрослого человека содержит 206 костей. Все кости скелета можно распределить по двум группам: первая - осевой скелет - несущая конструкция тела, вторая - добавочный скелет. У людей имеются также проявления экзоскелета (наружного скелета) - зубы, ногти, волосы, хорошо развитого беспозвоночных.  Полностью развитая кость - самая твердая ткань в организме - состоит из воды (20%), органического материала (30-40%) и неорганического материала (40-50%).</p>
              <h2 id="h2">Рост и развитие костей</h2>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/rost-kostey(3).png"><img alt="Скелет человека: рост и развитие костей" src="/app/assets/images/anatomy/rost-kostey(3).png"></a>
              <p>В большинстве своем кости образуются из хрящевой основы. Последняя кальцифицируется (обызвествляется) и оссифицируется (окостеневает), формируя при этом истинную кость. В этом процессе выделяют следующие стадии:<br>
                <br>
                1. Активизация в течение первого триместра беременности (второй и третий месяц эмбрионального развития) клеток, образующих кость - остеобластов.<br>
                <br>
                2. Продуцирование остеобластами матрикса. Матриксом называют материал между клетками. Он состоит из большого количества коллагена (волокнистый белок), укрепляющего ткань. Далее депонирование кальция в межклеточном веществе обеспечивается ферментами.<br>
                <br>
                3. Укрепление вокруг клеток межклеточного вещества. Клетки становятся остеоцитами, то есть живыми клетками. Новую кость они не производят, но составляют строму кости.<br>
                <br>
                4. Разрушение, реконструирование, восстановление кости остеокластами всю жизнь. С возрастом эти процессы замедляются. Именно поэтому у пожилых людей кости становятся более хрупкими и слабыми.<br>
                <br>
                Остеобласты и остеокласты участвуют в построении и разрушении кости. Благодаря этим клеткам кости медленно, но приспосабливаются к потребностям тела по форме и прочности.<br>
                Так развиваются вторичные кости скелета. Первичные же кости скелета (или покровные) развиваются без хрящевой стадии. Это большинство костей лица, кости свода черепа и части ключицы.</p>
              <h2 id="h2">Хрящ</h2>
              <p>&nbsp;<strong>Хрящ</strong> (хрящевина) может существовать как временное образование, замещающееся позднее костью, или в качестве постоянного дополнения к кости. Кость плотнее и прочнее хряща.</p>
              <p>Хрящ образован живыми клетками, называемыми хондроцитами. Они находятся в лакунах и окружены богатым коллагеном межклеточным веществом. Хрящ почти не пронизан кровеносными сосудами, то есть является относительно бессосудистой структурой. Питание хряща происходит, в основном, из окружающей тканевой жидкости. Хрящи делятся на три основных типа: гиалиновый, белый волокнистый и желтый волокнистый хрящ.</p>
              <h2 id="h2">Гиалиновый хрящ</h2>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/gialinovy-hrjasch.png"><img alt="Гиалиновый хрящ" src="/app/assets/images/anatomy/gialinovy-hrjasch.png"></a>
              <p>&nbsp;<strong>Гиалиновый хрящ</strong> служит временной основой для развития многих костей. В дальнейшем он остается рядом с костью в следующих формах:<br>
                <br>
                • Суставной хрящ синовиального сустава.<br>
                <br>
                • Хрящевые пластинки, расположенные между раздельно окостеневающими зонами кости в периоде роста.<br>
                <br>
                • Мечевидный отросток грудины, окостеневающий позднее или вовсе не окостеневающий, и реберные хрящи.<br>
                <br>
                Также гиалиновый хрящ обнаруживается в носовой перегородке, в большинстве хрящей гортани, в кольцах бронхов и трахеи.</p>
              <h2 id="h2">Белый волокнистый хрящ</h2>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/belyj-voloknistyj-hrjasch(1).png"><img alt="Белый волокнистый хрящ" src="/app/assets/images/anatomy/belyj-voloknistyj-hrjasch(1).png"></a>
              <p>&nbsp;<strong>Белый волокнистый хрящ</strong> состоит из  белой волокнистой ткани. Если сравнить с гиалиновых хрящом, то ткань белого волокнистого хряща будет эластичнее и прочнее. Волокнистый хрящ содержат:<br>
                <br>
                • Сесамовидные хрящи некоторых сухожилий.<br>
                <br>
                • Суставные диски ключичного и запястных суставов.<br>
                <br>
                • Оправа (губа) суставных впадин плечевого и бедренного суставов.<br>
                <br>
                • Два полулунных хряща в коленных суставах.<br>
                <br>
                • Межпозвоночные диски, находящиеся между соседними поверхностями тел позвонков.<br>
                <br>
                • Пластинчатый хрящ, соединяющий в лобковом сочленении тазовые кости.</p>
              <h2 id="h2">Желтый волокнистый хрящ</h2>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Yheltyj-voloknistyj-hrjasch.png"><img alt="Желтый волокнистый хрящ" src="/app/assets/images/anatomy/Yheltyj-voloknistyj-hrjasch.png"></a>
              <p>В <strong>желтом волокнистом хряще</strong> содержатся желтые эластические волокна. Содержится в надгортаннике, ушной раковине и евстахиевой трубе среднего уха.</p>
              <h2 id="h2">Функции костей</h2>
              <p>&nbsp;Опорная. Кости формируют жесткий костно-хрящевой остов тела, к которому прикреплены многие внутренние органы, мышцы, фасции.</p>
              <p>Защитная. Из костей формируются костные вместилища для защиты головного мозга (череп), спинного мозга (позвоночник), жизненно важных органов (реберный каркас).</p>
              <p>Двигательная. Использование мышцами костей в качестве рычагов для перемещения тела, благодаря наличию подвижных сухожилий. Мышцы также определяют согласованность возможных движений костей и суставов.</p>
              <p>Накопительная. В длинных костях (в центральных полостях) накапливается жир в виде желтого костного мозга. Костная ткань играет важную роль в обмене веществ, благодаря накоплению минеральных веществ - основных - кальция и фосфора, а также дополнительных - серы, меди, натрия, магния, калия. При возникновении в организме потребности в каком-либо из указанных веществ, они могут выделяться в кровь и распределяться по всему организму.</p>
              <p>Кроветворная. В красном костном мозге некоторых определенных костей образуются новые клетки крови - происходит гемопоэз.</p>
              <h2 id="h2">Типы костей по плотности</h2>
              <p><strong>Компактная кость</strong></p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Struktura-kompaktnoj-kosti1(1).png"><img alt="Структура компактной кости" src="/app/assets/images/anatomy/Struktura-kompaktnoj-kosti1(1).png"></a>
              <p>Компактная кость образует длинный диафиз и эпифизы трубчатых костей. На поперечном срезе компактной кости можно увидеть скопление остеопов, или гаверсовых систем. Каждая из этих систем представляет собой удлиненный цилиндр. Он ориентирован по длинной оси кости, состоит из центрального гаверсова канала и содержит кровеносные сосуды, обеспечивающие кровоснабжение элементов остеона, лимфатические сосуды и нервы, окруженные концентрическими пластинами кости. Такие пластины называются пластинками. Между ними имеются лакуны, содержащие остеоциты и лимфу. Через тонкие каналы (лимфатические канальцы в гаверсовом канале) лакуны связываются между собой. Лимфатические канальцы обеспечивают остеоциты питанием из лимфы. Большую прочность кости придают множественные трубчатые пластинки.&nbsp;Под прямым углом к длинной кости проходят перфорационные, или фолькманновы каналы. Через них проходят нервные волокна и кровеностные сосуды.</p>
              <p><strong>Губчатая кость (спонгиозная, решетчатая кость)</strong></p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Struktura-gubchatoj-kosti(1).png"><img alt="Структура губчатой кости" src="/app/assets/images/anatomy/Struktura-gubchatoj-kosti(1).png"></a>
              <p>Губчатая кость образуется в эпифизах длинных костей, телах позвонков и других, не имеющих полостей, костях. Состоит из трабекул (синоним: перекладина). Они представляют собой связанные канальцами остеоциты и беспорядочно построенные пластинки. В губчатой кости гаверсовы системы отсутствуют, но имеются множественные открытые пространства в виде ячеистой структуры, подобные большим гаверсовым каналам. Эти пространства заполняются кровеносными сосудами и желтым или красным костным мозгом. При этом происходит образование динамической решетки. Она способна к постепенному изменению путем перестройки в ответ на мышечное напряжение и воздействие веса.</p>
              <h2 id="h2">Типы костей по форме</h2>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Forma-kostej.png"><img alt="Форма костей" src="/app/assets/images/anatomy/Forma-kostej.png"></a>
              <p>&nbsp;<strong>Несимметричные кости</strong><br>
                Несимметричные кости образованы в основном губчатой костью, покрытой тонкими слоями компактной кости и имеют составную форму. К ним относятся тазовые кости, позвонки и некоторые кости черепа.</p>
              <p>&nbsp;<strong>Плоские кости</strong><br>
                Плоские кости состоят из губчатой костной ткани, лежащей между двумя тонкими слоями компактной кости. Они тонкие, часто изогнутые, уплощенные. К ним относятся большинство костей черепа, ребра и грудина.</p>
              <p>&nbsp;<strong>Короткие кости</strong><br>
                Короткие кости образованы в основном губчатой костной тканью и имеют кубическую форму. К ним относятся кости запястья и кости предплюсны.<br>
                Среди коротких костей отдельно выделяют сесамовидные кости. Название их образовано от латинского слова, в переводе означающего «сформированный, так же, как кунжутное семечко»). Они образуются и находятся в пределах сухожилия. К ним относятся надколенник (коленная чашечка) и гороховидная кость у медиального конца складки запястья.</p>
              <p>&nbsp;<strong>Длинные кости</strong><br>
                Длинные кости состоят в основном из компактной кости. Имеют диафиз с эпифизами на обоих концах. К ним относятся кости конечностей, кроме костей кисти и стопы.</p>
              <h2 id="h2">Компоненты длинной кости</h2>
              <p>&nbsp; В центре диафиза начинается преобразование хряща длинной кости. Позднее, на концах костей образуются вторичные формирующие кость центры, из которых происходит рост кости в детстве и юности, прекращающийся только в начале двадцатилетнего возраста. После чего зоны роста уплотняются.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Komponenty-dlinnoj-kosti(1).png"><img alt="Компоненты длинной кости" src="/app/assets/images/anatomy/Komponenty-dlinnoj-kosti(1).png"></a>
              <p><strong>Диафиз</strong> (греч. - «разделение»)<br>
                Диафиз - центральная часть длинной кости. Он состоит из заполненной костным мозгом костномозговой полости, окруженной плотной костной тканью. Диафиз формируется из одного или более первичных участков окостенения и снабжается одной или несколькими питающими артериями.</p>
              <p><strong>Эпифиз</strong> (греч. - «вырост»)<br>
                Эпифиз - это концевая часть длинной кости или любой части кости, отделенной от основного тела незрелым костным хрящом. Формируется эпифиз из вторичного участка окостенения и состоит в основном из губчатой кости.</p>
              <p><strong>Эпифизарная линия</strong><br>
                Эпифизарная линия представляет собой остаток эпифизарной пластины гиалинового хряща. Встречается в молодой, растущей кости. Является зоной роста длинной кости. Постепенно во взрослом состоянии пластина полностью замещается костью, и рост длинных костей останавливается. На ее предыдущее расположение указывает только остаточная линия.</p>
              <p><strong>Суставной хрящ</strong><br>
                Суставной хрящ располагается в пределах синовиального сустава в местах, где соприкасаются две кости. Он гладкий, скользкий, пористый, гибкий, нечувствительный и бессосудистый. Массируется движениями, способствующими поглощению синовиальной жидкости, кислорода и питательных веществ.<br>
                Примечание: суставной хрящ может разрушиться из-за дегенеративного процесса при остеоартрите и последних стадиях некоторых форм ревматоидного артрита.</p>
              <p><strong>Надкостница</strong><br>
                Надкостница представляет собой волокнистую мембранозную соединительную ткань. Надкостница образует двухслойную оболочку, окутывающую внешнюю поверхность кости. Оболочка является высоко чувствительной. Внешний слой образован плотной неоформленной соединительной тканью. Внутренний слой состоит из остеобластов и остеокластов и находится непосредственно напротив поверхности кости.<br>
                В надкостнице имеются лимфатические и кровеносные сосуды, проникающие в кость через питательные каналы, и нервные волокна. К кости надкостница прикрепляется волокнами Шарпея, состоящими из коллагена. Надкостница также образует точки прикрепления для сухожилий и связок.</p>
              <p><strong>Костномозговая полость</strong><br>
                Костномозговая полость - это полость диафиза, содержащая костный мозг. У молодых - людей красный, с возрастом превращающийся в большинстве костей в желтый костный мозг.</p>
              <p>&nbsp;<strong>Красный костный мозг</strong><br>
                Красный костный мозг представляет собой студенистое вещество красного цвета. В его состав входят красные и белые клетки крови на разных стадиях развития. Располагается в костномозговых полостях плоских и длинных костей, в их губчатой части. У людей, достигших половой зрелости, красный костный мозг, продуцирующий новые красные клетки крови, находится в плоских костях (грудине), несимметричных костях (тазовых), в головках бедренной и плечевой кости. При подозрении на гемолитические заболевания образцы красного костного мозга можно получить именно из указанных костей.</p>
              <p>&nbsp;<strong>Желтый костный мозг</strong><br>
                Желтый костный мозг не способен производить клетки крови, так как представляет собой жировую соединительную ткань.</p>
              <h2 id="h2">Маркировки кости</h2>
              <p><strong>&nbsp;1.Выступы на костях в местах прикрепления мышц и связок</strong></p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/markirovki-kosti.png"><img alt="Маркировки кости" src="/app/assets/images/anatomy/markirovki-kosti.png"></a>
              <p><strong>Вертел</strong><br>
                Выступ на бедре - он не симметричный, очень большой, тупоугольный.</p>
              <p><strong>Выступы</strong><br>
                Большие округлые выступы, имеющие шероховатую поверхность. Находятся в основном на седалищной кости - бугор седалищной кости и на голени - бугор большеберцовой кости.</p>
              <p><strong>Бугорки</strong><br>
                Выступы меньшего размера, имеющие шероховатую поверхность.</p>
              <p><strong>Гребень</strong><br>
                Узкий выступ кости, часто вперед выступающий. Пример: подвздошный гребень.</p>
              <p><strong>Граница (кайма)</strong><br>
                Узкий выступ кости, служащий для разделения двух поверхностей.</p>
              <p><strong>Остистый отросток</strong><br>
                Острые, узкие, обычно хорошо заметные снаружи: остистые отростки позвонков; ости подвздошной кости или лопатки (передняя верхняя ость подвздошной кости, ASIS, и задняя верхняя ость подвздошной кости, PSIS).</p>
              <p><strong>Надмыщелок</strong><br>
                Приподнятая область, располагающаяся выше мыщелка; особенно на плечевой кости в локтевом суставе.</p>
              <p>&nbsp;<strong>2. Выступы на костях, участвующие в образовании суставов</strong></p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/markirovki-kosti2.png"><img alt="Маркировки кости 2" src="/app/assets/images/anatomy/markirovki-kosti2.png"></a>
              <p>&nbsp;<strong>Головка</strong><br>
                Расширение, обычно округлой формы, располагается на одном конце кости. Примером является головка малоберцовой кости, соединяющаяся с большеберцовой костью ниже коленного сустава.</p>
              <p><strong>Суставная фасетка</strong><br>
                Почти плоская, гладкая поверхность на одном конце кости, соединенная с другой костью.</p>
              <p><strong>Мыщелок</strong><br>
                Большое округлое утолщение или выступ эпифиза. Соединяется с другой костью (находится в коленном суставе).</p>
              <p><strong>3. Углубления и отверстия для прохождения кровеносных сосудов и нервов</strong></p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/markirovki-kosti3(1).png"><img alt="Маркировки кости3" src="/app/assets/images/anatomy/markirovki-kosti3(1).png"></a>
              <p><strong>Пазуха</strong><br>
                Заполненная воздухом и покрытая оболочкой костная полость (имеется только в черепе).</p>
              <p><strong>Ямка</strong><br>
                Углубление в кости, обычно выступающее в качестве суставной поверхности. Ямки неглубокие и чашеподобные.</p>
              <p><strong>Отверстие</strong><br>
                Овальное или круглое отверстие в кости (например, в крестце).</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3 ">&nbsp;</div>
            <div class="col-xs-6">
            </div>
            <div class="col-xs-3">&nbsp;</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
