<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Позвоночный столб (позвоночник)</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/skeleton">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>&nbsp;Позвоночный столб состоит из 33 позвонков:<br>
                <br>
                • 7 шейных позвонков.<br>
                <br>
                • 12 грудных позвонков, которые образуют суставы с 12 ребрами.<br>
                <br>
                • 5 поясничных позвонков - это наиболее крупные позвонки.<br>
                <br>
                • Крестец (5 сращенных позвонков) - необходимо отметить, что прорези или отверстия в крестце соответствуют первоначальным промежуткам между позвонками.<br>
                <br>
                • Копчик (3-4 сращенных позвонка).</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Pozvonochnyj-stolb.jpg"><img alt="Позвоночный столб" src="/app/assets/images/anatomy/Pozvonochnyj-stolb.jpg"></a>
              <h2 id="h2">Типичный позвонок</h2>
              <p>Типичный позвонок имеет следующие части:<br>
                <br>
                <strong>Тело позвонка</strong>: похожая на диск массивная часть позвонка. Тело позвонка ориентировано в позвоночном столбе вперед.</p>
              <p>&nbsp;<strong>Дуга позвонка</strong>: дуга образуется прикреплением отростков к телу позвонка.</p>
              <p>&nbsp;<strong>Позвоночное отверстие</strong>: канал, по которому проходит спинной мозг.</p>
              <p>&nbsp;<strong>Поперечный отросток</strong>: два боковых выступа.</p>
              <p><strong>Остистый отросток</strong>: единичный выступ, который выдастся из задней части дуги позвонка. На шейных позвонках остистые отростки короткие, разделяются на две части (это немного похоже на «хвост кита»). На грудных позвонках остистые отростки единичные, тонкие и изогнуты резко вниз. На поясничных позвонках остистые отростки толстые и имеют форму клина.</p>
              <p><strong>Верхние и нижние суставные отростки</strong>: парные выступы по боковым поверхностям позвоночного отверстия. Они обеспечивают сочленение одного позвонка с другим.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/tipichnyj-pozvonok.png"><img alt="Типичный позвонок" src="/app/assets/images/anatomy/tipichnyj-pozvonok.png"></a>
              <p>Ниже на иллюстрациях представлены варианты основных позвонков, показанных под различными углами, изображающие их разновидности по форме и особенностям.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Atlant-C1(2).png"><img alt="Атлант С1" src="/app/assets/images/anatomy/Atlant-C1(2).png"></a>
              <p style="text-align: center;">&nbsp;Атлант (С1), заднепередний вид<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/epistrofej-C2(1).png"><img alt="Эпистрофей С2" src="/app/assets/images/anatomy/epistrofej-C2(1).png"></a>
              <p style="text-align: center;">&nbsp;Эпистрофей (С2), заднепередний вид<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/Shejnyj-pozvonok(1).png"><img alt="Шейный позвонок" src="/app/assets/images/anatomy/Shejnyj-pozvonok(1).png"></a>
              <p style="text-align: center;">&nbsp;Шейный позвонок: а) вид сверху; б) вид сбоку<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/grudnoj-pozvonok(1).png"><img alt="Грудной позвонок" src="/app/assets/images/anatomy/grudnoj-pozvonok(1).png"></a>
              <p style="text-align: center;">&nbsp;Грудной позвонок: а) вид сверху; б) вид сбоку<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/pojasnichnyj-pozvonok(1).jpg"><img alt="Поясничный позвонок" src="/app/assets/images/anatomy/pojasnichnyj-pozvonok(1).jpg"></a>
              <p style="text-align: center;">&nbsp;Поясничный позвонок: а) вид сверху; б) вид сбоку<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/krestez(1).png"><img alt="Крестец" src="/app/assets/images/anatomy/krestez(1).png"></a>
              <p style="text-align: center;">Крестец (вид спереди)<br>
                <br>
                &nbsp;</p>
            </div>
          </div>

        </div>

        </div>
      </div>
    </div>
  </div>
</div>
