<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Грудной отдел</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/skeleton">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Кости грудной клетки</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p><strong>Грудина</strong> - это общеизвестное название «грудной кости». Фактически эта кость является сращением трех костей: рукоятки, тела и мечевидного отростка.<br>
                <br>
                Примечание: грудина прикрепляется с помощью реберного хряща к первым семи парам ребер; «рукоятка» по внешнему виду похожа на «рукоять меча»; слово «мечевидный» буквально означает «в виде меча».</p>
              <p><strong>Ребра</strong><br>
                У человека имеется 12 пар ребер (включая истинные, ложные и плавающие ребра).<br>
                <br>
                • Истинные ребра: первые семь пар прикрепляются реберным хрящом непосредственно к грудине.<br>
                <br>
                • Ложные ребра: следующие три пары прикрепляются к реберному хрящу, а не непосредственно к грудине.<br>
                <br>
                • Плавающие ребра: последние две пары ребер не прикрепляются ни к реберному хрящу, ни к грудине.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/rebra-grudina.png"><img alt="Ребра, грудина" src="/app/assets/images/anatomy/rebra-grudina.png"></a>
              <p style="text-align: center;">Ребра и грудина<br>
                &nbsp;</p>
              <h2 id="h2">Грудной пояс</h2>
              <p><strong>Ключица</strong><br>
                <br>
                Ключица также называется «воротниковая кость». Она представляет собой тонкую, дважды изогнутую кость, которая прикрепляется к рукоятке грудины медиально (грудино-ключичный сустав) и к акромиону (плечевому отростку) лопатки латерально (акромиально-ключичный сустав).</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kljuchiza.png"><img alt="Ключица" src="/app/assets/images/anatomy/kljuchiza.png"></a>
              <p style="text-align: center;">Ключица<br>
                &nbsp;</p>
              <p><strong>Лопатка</strong><br>
                <br>
                Лопатка является большой плоской треугольной костью, располагающейся по задней поверхности грудной клетки между вторыми и седьмыми ребрами. Каждая лопатка прикрепляется к ключице и плечевой кости. Лопатка имеет четыре важных костных ориентира:<br>
                <br>
                1. Ость - это острый, выступающий гребень на задней поверхности лопатки, который можно легко прощупать через кожу.<br>
                <br>
                2. Акромион - увеличенный передний выступ на латеральном конце ости лопатки, которую можно прощупать как «выступ плеча».<br>
                <br>
                3. Клювовидный отросток - выступает вперед от верхней границы лопатки.<br>
                <br>
                4. Гленоидальная ямка - небольшое углубление на латеральном углу лопатки, которое соединяется с головкой плечевой кости.</p>
              <br>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/lopatka(1).png"><img alt="Лопатка" src="/app/assets/images/anatomy/lopatka(1).png"></a>
              <p style="text-align: center;">Лопатка</p>
            </div>
          </div>
                </div>

      </div><br><br>
    </div>
  </div>
</div>
