<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Репродуктивная система</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/systems">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Функции репродуктивных (половых) органов заключаются в том, чтобы обеспечить образование половых клеток, их слияние, создание для оплодотворенной яйцеклетки среды, в которой из эмбриона может развиться плод и созреть до этапа рождения. Помимо этого, гормоны половых органов играют роль в формировании признаков организма, связанных с соответствующим полом.<br>
                <br>
                К мужским и женским половым органам (гениталиям) относятся:</p>
              <p>- гонады (семенники и яичники) — половые органы, где образуются гаметы (половые клетки) и гормоны;<br>
                - половые пути — каналы транспорта продуктов деятельности половых желез;<br>
                - половые железы, секреты которых участвуют в слиянии яйцеклетки и сперматозоида;<br>
                - наружные половые органы — обеспечивают осуществление полового акта.</p>
              <p>Женские половые органы, как и мужские, подразделяются на внутренние и наружные. Внутренние половые органы расположены в полости малого таза. Это два яичника, две маточные (фаллопиевы) трубы, матка и влагалище. К наружным органам относятся большие и малые половые губы, клитор, преддверие влагалища, железы преддверия, а также молочные железы.</p>
              <div class="row">
                <div class="col-md-12 ">
                  <table width="700" border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/muzhskie-polovye-organy.png" alt="Мужские половые органы: общая организация" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="#/not">Мужские половые органы: общая организация</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/pridatok-jaichko.png" alt="придаток яичка" width="100" height="93"></a></td>
                      <td><strong>&nbsp;</strong><strong><a href="#/not">Сперматозоиды: строение, развитие. Придаток яичка</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/prostata(3).png" alt="Предстательная железа" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="#/not">Предстательная и куперовы железы. Кастрация</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/naruzhnye-muzhskie-polovye-organy.png" alt="Наружные мужские половые органы" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="#/not">Наружные мужские половые органы, эрекция</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/zhenskie-polovye-organy-obschaja-organizacija.png" alt="Женские половые органы: общая организация" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="#/not">Женские половые органы: общая организация</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/menstrualnyj-zikl.png" alt="Менструальный цикл" width="100" height="93"></a></td>
                      <td><strong>&nbsp;</strong><strong><a href="#/not">Овуляция, желтое тело, менструальный цикл</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/zhenskie-polovye-organy.png" alt="Женские половые органы" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="#/not">Внутренние и наружные женские половые органы </a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/molochnaja-zheleza.png" alt="Молочная железа" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="#/not">Молочная (грудная) железа</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
