<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Системи і органи</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/systems/heard"><span><img src="/app/assets/images/head.png" alt="ALT"></span><i>Серцево-судинна система</i> </a></li>
              <li><a href="#/systems/blood"><span><img src="/app/assets/images/neck.png" alt="ALT"></span><i>Кров та імунна система</i></a></li>
              <li><a href="#/systems/endocrine"><span><img src="/app/assets/images/stomach.png" alt="ALT"></span><i>Ендокринна система</i></a></li>
              <li><a href="#/systems/respiratory"><span><img src="/app/assets/images/pelvis.png" alt="ALT"></span><i>Дихальна система</i></a></li>
              <li><a href="#/systems/digestive"><span><img src="/app/assets/images/hand.png" alt="ALT"></span><i>Травна система</i></a></li>
              <li><a href="#/systems/excretory"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Видільна система</i></a></li>
              <li><a href="#/systems/reproductive"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Репродуктивна система</i></a></li>
              <li><a href="#/systems/nervous"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Нервова система</i></a></li>
              <li><a href="#/systems/senses"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Органи чуттів</i></a></li>
              <li><a href="#/systems/skin"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Шкіра та її похідні</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Системи та органи людини</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>&nbsp;В організмі людини не існує важливих чи неважливих, потрібних чи непотрібних систем та органів. Кожна система і кожниц орган виконують свою певну функцію.&nbsp;Від якості виконання цих функцій залежить здоров'я організму в цілому. Якщо яка-небудь система по якій-небудь причині ослабла, інші системи можуть частково взяти на себе функції обслабленох, допомогти їй, дати можливість відновитися. Природа наділила організм людини унікальним механізмом саморегуляції та самовідновлення. Якщо людина буде користуватися цим механізмом економно та дбайливо, то він набуде можливості витримувати колосальні навантаження.</p>
              <p>&nbsp;В даному онлайн-атласі анатомії розглядаються наступні системи та органи:<br>
                <br>
                - серцево-судинна система;<br>
                - кров, імунна система та лімфатичні органи;<br>
                - ендокринна система;<br>
                - дихальна система;<br>
                - травна система;<br>
                - видільна система;<br>
                - репродуктивна система;<br>
                - нервова система;<br>
                - органи чуттів;<br>
                - шкіра та її похідні.<br>
                <br>
                В кожному розділі детально розглянуті будова, розвиток і функції, як виконує організм.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
