<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Системы и органы</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/systems/heard"><span><img src="/app/assets/images/head.png" alt="ALT"></span><i>Сердечно-сосудистая система</i> </a></li>
              <li><a href="#/systems/blood"><span><img src="/app/assets/images/neck.png" alt="ALT"></span><i>Кровь и иммунная система</i></a></li>
              <li><a href="#/systems/endocrine"><span><img src="/app/assets/images/stomach.png" alt="ALT"></span><i>Эндокринная система</i></a></li>
              <li><a href="#/systems/respiratory"><span><img src="/app/assets/images/pelvis.png" alt="ALT"></span><i>Дыхательная система</i></a></li>
              <li><a href="#/systems/digestive"><span><img src="/app/assets/images/hand.png" alt="ALT"></span><i>Пищеварительная система</i></a></li>
              <li><a href="#/systems/excretory"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Выделительная система</i></a></li>
              <li><a href="#/systems/reproductive"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Репродуктивная система</i></a></li>
              <li><a href="#/systems/nervous"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Нервная система</i></a></li>
              <li><a href="#/systems/senses"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Органы чувств</i></a></li>
              <li><a href="#/systems/skin"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Кожа и ее производные</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Системы и органы человека</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>&nbsp;В организме человека не существует важных или неважных, нужных или ненужных систем и органов. Каждая система и каждый орган выполняют свою определенную функцию.&nbsp;От качества исполнения этих функций зависит здоровье организма в целом. Если какая-либо система по какой-нибудь причине ослаблена, другие системы могут частично взять на себя функцию ослабленной системы, помочь ей, дать возможность восстановиться. Природа наделила организм человека уникальным механизмом саморегуляции и самовосстановления. Если человек будет пользоваться этим механизмом экономично и бережно, то он  приобретет способность выдерживать колоссальные нагрузки.</p>
              <p>&nbsp;В этом разделе онлайн-атласа анатомии рассматриваются следующие системы и органы:<br>
                <br>
                - сердечно-сосудистая система;<br>
                - кровь, иммунная система и лимфоидные органы;<br>
                - эндокринная система;<br>
                - дыхательная система;<br>
                - пищеварительная система;<br>
                - выделительная система;<br>
                - репродуктивная система;<br>
                - нервная система;<br>
                - органы чувств;<br>
                - кожа и ее производные.<br>
                <br>
                В каждом разделе подробно рассмотрены строение, развитие и выполняемые в организме функции.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
