<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Эндокринная система</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/systems">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Эндокринная система включает в себя все органы и клеточные системы, вырабатывающие сигнальные или информационные вещества (гормоны), которые посылаются к удаленным органам по системе кровообращения или вместе с лимфой либо выделяются в межтканевую жидкость для того, чтобы достигнуть соседних клеток (паракринная секреция).  Гормоны также могут действовать на те клетки, которые их образуют (аутокринная секреция).  Этим эндокринная система отличается от экзокринных желез тела (желез внешней секреции) (например, слюнных желез, потовых желез), которые выделяют свои секреты прямо или через протоки к внешней или внутренней поверхности тела (коже, кишечнику).</p>
              <p>Таким образом, по своим биологическим функциям эндокринная система имеет общие черты с автономной нервной и иммунной системами, действуя как тип системы «беспроводного соединения». Она согласует функции широко удаленных органов. Отличие эндокринной системы от автономной нервной системы в том, что ее действие развивается более медленно, но имеет намного большую длительность, что важно для размножения, роста и поддержания гемостаза жизненно важных метаболических процессов (водный баланс и баланс электролитов, энергетический обмен). Вместе со всем многообразием отдельных задач, общей целью обеих систем является приспособление организма к изменяющимся факторам внешней среды. Нарушения в работе эндокринной системы путем уменьшения или увеличения активности могут привести к серьезным заболеваниям.</p>
              <div class="row">
                <div class="col-md-12 ">
                  <table width="700" border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/endokrinnaja-sistema.png" alt="эндокринная система" width="100" height="93"></a></td>
                      <td><strong>&nbsp; <a href="#/not">Механизм действия и места образования гормонов</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/gipotalam0gipofizarnaja-sistema.png" alt="гипоталамо-гипофизарная система" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Гипоталамо-гипофизарная система</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/schitovidnaja-zheleza.png" alt="щитовидная железа" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Щитовидная железа, паращитовидные железы</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/nadpochechniki.png" alt="надпочечники" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Надпочечники (корковое и мозговое вещество)</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/pankreaticheskie-ostrovki.png" alt="панкреатические островки" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Панкреатические островки</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/polovye-zhelezy.png" alt="половые железы" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Половые железы и другие ткани и одиночные клетки</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>


    </div>
  </div>
</div>

