<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Выделительная система</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/systems">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Развитие протоков мочевых и половых (мочеполовых) органов составляет в эмбриогенезе единый процесс. Основываясь на эмбриологических данных, мочеполовую систему можно подразделить на две части:<br>
                <br>
                • почки и мочевыводящие пути (мочевая система);<br>
                • половая система.<br>
                <br>
                Эти две системы развиваются из среднего зародышевого листка (мезодермы) и в процессе эмбрионального развития сначала совместно открываются в общую полость, клоаку.</p>
              <div class="row">
                <div class="col-md-12 ">
                  <table width="700" border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/pochki.png" alt="почки " width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp;&nbsp;<a href="#/not" style="font-weight: bold;">Роль почек. Структура и функции почек</a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/forma-pochek.png" alt="форма, расположение почек" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;&nbsp;</strong><a href="#/not"><strong>Почки: строение, расположение</strong></a></td>
                    </tr>
                    <tr>
                      <td><a href="#/not"><img src="/app/assets/images/anatomy/krovenosnaja-sistema-pochek.jpg" alt="кровеносная система почек" width="100" height="93"></a>&nbsp;</td>
                      <td>&nbsp; &nbsp;&nbsp;<a href="#/not"><strong>Кровеносная система почек</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/klubochkovyj-filtr.png" alt="свойства клубочкового фильтра" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp;&nbsp;<a href="#/not"><strong>Почечные тельца. Клубочковый фильтр</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<img src="/app/assets/images/anatomy/pochechnye-kanalzy.png" alt="почечные канальцы" width="100" height="93"></td>
                      <td>&nbsp; &nbsp;&nbsp;<a href="#/not"><strong>Почечные канальцы и собирательные трубочки</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<img src="/app/assets/images/anatomy/koncentracija-mochi.png" alt="концентрация мочи" width="100" height="93"></td>
                      <td><strong>&nbsp; &nbsp;&nbsp;</strong><a href="#/not"><strong>Концентрация мочи в собирательных трубочках</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<img src="/app/assets/images/anatomy/mochevyvodjaschie-puti.png" alt="мочевыводящие пути" width="100" height="93"></td>
                      <td>&nbsp; &nbsp;&nbsp;<a href="#/not"><strong>Мочевыводящие пути</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<img src="/app/assets/images/anatomy/muzhskaja-i-zhenskaja-uretra.png" alt="мужская уретра" width="100" height="93"></td>
                      <td>&nbsp; &nbsp;&nbsp;<a href="#/not"><strong>Мочеиспускательный канал</strong></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
