<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Нервная система</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/systems">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <div class="row">
                <div class="col-md-12">
                  <h2>Классификация отделов нервной системы</h2>
                </div>
              </div>
              <p>Нервная система осуществляет связь организма с внешней средой (соматическая нервная система) и с внутренними органами (вегетативная, или автономная, нервная система). Отличительными особенностями соматической нервной системы являются осознаваемые ощущения, произвольные движения и быстрая обработка информации. Вегетативная нервная система, с другой стороны, отвечает за поддержание постоянства внутренней среды (гомеостаз) и за автономную регуляцию работы органов в соответствии с условиями внешней среды.</p>
              <p>Как в соматической, так и в вегетативной нервной системе имеются сенсорные (афферентные) и моторные (эфферентные) связи. Афферентным называют проведение импульсов с периферии (например, сенсорных сигналов от кожи или внутренних органов) в центр (головной и спинной мозг). При эфферентном проведении импульсы передаются из центра на периферию (например, к скелетным и гладким мышцам, к железистым клеткам).</p>
              <p>По своему расположению в организме нервную систему подразделяют на центральную (ЦНС) и периферическую.  ЦНС состоит из головного и спинного мозга. Периферическая нервная система включает все соматические и вегетативные нервы, а также скопления нервных клеток, называемые ганглиями.</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Функции нервной системы</h2>
                </div>
              </div>
              <p>Центральная и периферическая нервная система координирует деятельность систем органов как непосредственно (по нервам), так и косвенно (с помощью эндокринных желез). Она регулирует работу двигательного аппарата, дыхательной, кровяной, пищеварительной и мочеполовой систем, а также эндокринных желез. Интеграция и оценка входящих импульсов происходят в центральной нервной системе, в то время как периферическая нервная система проводит импульсы из ЦНС на периферию организма и с периферии — в ЦНС. Кроме того, с активностью центральной нервной системы связаны так называемые «высшие функции» нервной системы (память, способность обучаться и думать, интуиция, речь).</p>
              <div class="row">
                <div class="col-md-12">
                  <h2>Развитие нервной системы</h2>
                </div>
              </div>
              <p>Все части центральной и периферической нервной системы развиваются из наружного зародышевого листка, эктодермы.  Примерно на 18-й день эмбрионального развития возникает плоское утолщение эктодермы эмбрионального диска (нервная пластинка). В самой нервной пластинке между двумя боковыми складками (нервными валиками) возникает углубление — нервный желобок. Его края в дальнейшем смыкаются, в результате чего образуется нервная трубка, которая погружается вглубь. Части нервных валиков, не участвующие в формировании нервной трубки, образуют нервный гребень. Из нервной трубки развивается центральная нервная система (головной и спинной мозг), а нервный гребень образует периферическую нервную систему (периферические нервы и ганглии).</p>
              <div class="row">
                <div class="col-md-12 ">
                  <table width="700" border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6286.html"><img src="/app/assets/images/anatomy/zns.png" alt="ЦНС" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6286.html">Центральная нервная система: развитие и строение</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6287.html"><img src="/app/assets/images/anatomy/golovnoj-mozg.png" alt="Головной мозг" width="100" height="93"></a></td>
                      <td><strong>&nbsp;</strong><strong><a href="http://sportmassag.ru/1/page6287.html">Головной мозг</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6288.html"><img src="/app/assets/images/anatomy/konechnyj-mozg.png" alt="Конечный мозг" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6288.html">Конечный мозг</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6289.html"><img src="/app/assets/images/anatomy/limbicheskaja-sistema.png" alt="Лимбическая система" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6289.html">Лимбическая система</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6252.html"><img src="/app/assets/images/anatomy/promezhutochnyj-mozg.png" alt="Промежуточный мозг" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6252.html">Промежуточный мозг</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6290.html"><img src="/app/assets/images/anatomy/funkzionalye-oblasti-kory.png" alt="Функциональные области коры" width="100" height="93"></a></td>
                      <td><strong>&nbsp;</strong><strong><a href="http://sportmassag.ru/1/page6290.html">Функциональные области коры</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6253.html"><img src="/app/assets/images/anatomy/srednij-mozg.png" alt="Средний мозг" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6253.html">Средний мозг </a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6254.html"><img src="/app/assets/images/anatomy/most-i-mozzhechok.png" alt="Мост и мозжечок" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6254.html">Мост и мозжечок</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6255.html"><img src="/app/assets/images/anatomy/prodolgovatyj-mozg.png" alt="Продолговатый мозг" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6255.html">Продолговатый мозг</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6256.html"><img src="/app/assets/images/anatomy/stvol-mozga.png" alt="Ствол мозга" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6256.html">Ствол мозга</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6257.html"><img src="/app/assets/images/anatomy/eeg.png" alt="ЭЭГ" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6257.html">Электроэнцефалограмма. Сон и бодрствование</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6291.html"><img src="/app/assets/images/anatomy/spinnoj-mozg.png" alt="Спинной мозг" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6291.html">Спинной мозг</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6292.html"><img src="/app/assets/images/anatomy/seroe-i-beloe-veschestvo(1).png" alt="Серое и белое вещество спинного мозга" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6292.html">Серое и белое вещество спинного мозга</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6293.html"><img src="/app/assets/images/anatomy/voshodjaschie-nishodjaschie-puti.png" alt="Восходящие и нисходящие тракты спинного мозга" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6293.html">Восходящие и нисходящие тракты спинного мозга</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6294.html"><img src="/app/assets/images/anatomy/trakty.png" alt="Тракты произвольных движений" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6294.html">Тракты произвольных движений</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6295.html"><img src="/app/assets/images/anatomy/extrapiramidalnaja-motornaja-sistema.png" alt="Экстрапирамидальная моторная система" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6295.html">Экстрапирамидная моторная система</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6296.html"><img src="/app/assets/images/anatomy/spinnomozgovye-reflexy.png" alt="Спинномозговые рефлексы" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6296.html">Спинномозговые рефлексы</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6264.html"><img src="/app/assets/images/anatomy/obolochki-golovnogo-mozga.png" alt="Оболочки головного мозга" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6264.html">Оболочки головного мозга</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6265.html"><img src="/app/assets/images/anatomy/obolochki-spinnogo-mozga1.png" alt="Оболочки спинного мозга" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6265.html">Оболочки спинного мозга</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6267.html"><img src="/app/assets/images/anatomy/sistema-zheludochkov.png" alt="Система желудочков" width="100" height="93"></a></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6267.html">Спинномозговая жидкость. Поясничная пункция</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6268.html"><img src="/app/assets/images/anatomy/krovosnabzhenie-mozga.png" alt="Кровоснабжение мозга" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6268.html">Кровоснабжение мозга</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6269.html"><img src="/app/assets/images/anatomy/perifericheskaja-nervnaja-sistema.png" alt="Периферическая нервная система" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6269.html">Периферическая нервная система. Ганглии</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;</strong><strong><a href="http://sportmassag.ru/1/page6270.html"><img src="/app/assets/images/anatomy/obolochki-spinnogo-mozga.png" alt="Оболочки спинного мозга" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6270.html">Спинномозговые нервы. Нервные сплетения</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6272.html"><img src="/app/assets/images/anatomy/cherepno-mozgovye-nervy.png" alt="Черепно-мозговые нервы" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6272.html">Черепно-мозговые нервы</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6297.html"><img src="/app/assets/images/anatomy/vegetativnaja-nervnaja-sistema.png" alt="Вегетативная нервная система" width="100" height="93"></a></td>
                      <td>&nbsp;<strong><a href="http://sportmassag.ru/1/page6297.html">Вегетативная нервная система: строение</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6298.html"><img src="/app/assets/images/anatomy/simpaticheskaja-nervnaja-sistema.png" alt="Симпатическая нервная система" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6298.html">Симпатическая нервная система: функции, строение</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6299.html"><img src="/app/assets/images/anatomy/postsimpaticheskie-receptory.png" alt="Постсимпатические рецепторы" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6299.html">Постсинаптические рецепторы в эффекторных органах</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6274.html"><img src="/app/assets/images/anatomy/parasimpaticheskaja-nervnaja-sistema.png" alt="Парасимпатическая нервная система" width="100" height="93"></a></strong></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6274.html">Парасимпатическая нервная система: функции, строение</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="http://sportmassag.ru/1/page6275.html"><img src="/app/assets/images/anatomy/kranialnaja-i-sakralnaja-sistemy.png" alt="Сакральная и краниальная системы" width="100" height="93"></a></td>
                      <td><strong>&nbsp;<a href="http://sportmassag.ru/1/page6275.html">Парасимпатическая НС: краниальная, сакральная, интрамуральная</a></strong></td>
                    </tr>
                    <tr>
                      <td><strong>&nbsp;</strong></td>
                      <td>&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>



    </div>

  </div>
</div>
