<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="hat">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="dark-blue">Мышцы нижних конечностей</h2>
            </div>
            <div class="col-xs-6">
              <div class="buttback"><a href="#/muscles">
                <p>Назад</p>
                <img src="/app/assets/images/litlarrow.png" alt="" /></a></div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-bedra">Мышцы бедра</a></li>
                <li><a href="#muscle-goleni">Мышцы голени</a></li>
                <li><a href="#muscle-stopy">Мышцы стопы</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-bedra">
              <h3 class="dark-blue">Мышцы бедра</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5994.html"><span><img src="/app/assets/images/anatomy/musculus_semitendinosus-208.png" alt="ALT" /></span>
              <p>Полусухожильная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page5995.html"><span><img src="/app/assets/images/anatomy/musculus_semimembranosus-208.png" alt="ALT" /></span>
              <p>Полуперепончатая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5998.html"><span><img src="/app/assets/images/anatomy/musculus_adductor_brevis-208.png" alt="ALT" /></span>
              <p>Короткая приводящая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5999.html"><span><img src="/app/assets/images/anatomy/musculus_adductor_longus-208.png" alt="ALT" /></span>
              <p>Длинная приводящая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5996.html"><span><img src="/app/assets/images/anatomy/musculus_biceps_femoris-208.png" alt="ALT" /></span>
              <p>Двуглавая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6007.html"><span><img src="/app/assets/images/anatomy/musculus_vastus_medialis-208.png" alt="ALT" /></span>
              <p>Медиальная широкая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6008.html"><span><img src="/app/assets/images/anatomy/musculus_vastus_intermedius-208.png" alt="ALT" /></span>
              <p>Промежуточная широкая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6006.html"><span><img src="/app/assets/images/anatomy/musculus_vastus_lateralis-208.png" alt="ALT" /></span>
              <p>Латеральная широкая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5997.html"><span><img src="/app/assets/images/anatomy/musculus_adductor_magnus-208.png" alt="ALT" /></span>
              <p>Большая приводящая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6000.html"><span><img src="/app/assets/images/anatomy/musculus_gracilis-208.png" alt="ALT" /></span>
              <p>Тонкая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6001.html"><span><img src="/app/assets/images/anatomy/musculus_pectineus-208.png" alt="ALT" /></span>
              <p>Гребенчатая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6004.html"><span><img src="/app/assets/images/anatomy/musculus_sartorius-208.png" alt="ALT" /></span>
              <p>Портняжная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6005.html"><span><img src="/app/assets/images/anatomy/musculus_rectus_femoris-208.png" alt="ALT" /></span>
              <p>Прямая мышца бедра</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-goleni">
              <h3 class="dark-blue">Мышцы голени</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6072.html"><span><img src="/app/assets/images/anatomy/musculus_fibularis_tertius-208.png" alt="ALT" /></span>
              <p>Третья малоберцовая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6074.html"><span><img src="/app/assets/images/anatomy/musculus_fibularis_longus-208.png" alt="ALT" /></span>
              <p>Длинная малоберцовая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6075.html"><span><img src="/app/assets/images/anatomy/musculus_fibularis_brevis-208.png" alt="ALT" /></span>
              <p>Короткая малоберцовая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page6071.html"><span><img src="/app/assets/images/anatomy/musculus_extensor_digitorum_longus-208.png" alt="ALT" /></span>
              <p>Длинный разгибатель пальцев</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6076.html"><span><img src="/app/assets/images/anatomy/musculus_gastrocnemius-208.png" alt="ALT" /></span>
              <p>Икроножная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6073.html"><span><img src="/app/assets/images/anatomy/musculus_extensor_hallucis_longus-208.png" alt="ALT" /></span>
              <p>Длинный разгибатель большого пальца стопы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6079.html"><span><img src="/app/assets/images/anatomy/musculus_popliteus-208.png" alt="ALT" /></span>
              <p>Подколенная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6080.html"><span><img src="/app/assets/images/anatomy/musculus_flexor_digitorum_longus-208.png" alt="ALT" /></span>
              <p>Длинный сгибатель пальцев стопы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6081.html"><span><img src="/app/assets/images/anatomy/musculus_flexor_hallucis_longus-208.png" alt="ALT" /></span>
              <p>Длинный сгибатель большого пальца стопы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6082.html"><span><img src="/app/assets/images/anatomy/musculus_tibialis_posterior-208.png" alt="ALT" /></span>
              <p>Задняя большеберцовая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6078.html"><span><img src="/app/assets/images/anatomy/musculus_soleus-208.png" alt="ALT" /></span>
              <p>Камбаловидная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6070.html"><span><img src="/app/assets/images/anatomy/musculus_tibialis_anterior-208.png" alt="ALT" /></span>
              <p>Передняя большеберцовая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6077.html"><span><img src="/app/assets/images/anatomy/musculus_plantaris-208.png" alt="ALT" /></span>
              <p>Подошвенная мышца</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-stopy">
              <h3 class="dark-blue">Мышцы стопы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6083.html"><span><img src="/app/assets/images/anatomy/musculus_abductor_hallucis-208.png" alt="ALT" /></span>
              <p>Мышца, отводящая большой палец стопы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page6084.html"><span><img src="/app/assets/images/anatomy/musculus_flexor_digitorum_brevis-208.png" alt="ALT" /></span>
              <p>Короткий сгибатель пальцев</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6085.html"><span><img src="/app/assets/images/anatomy/musculus_abductor_digiti_minimi1-208.png" alt="ALT" /></span>
              <p>Мышца, отводящая мизинец</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6089.html"><span><img src="/app/assets/images/anatomy/musculus_flexor_digiti_minimi_brevis1-208.png" alt="ALT" /></span>
              <p>Короткий сгибатель мизинца стопы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6090.html"><span><img src="/app/assets/images/anatomy/musculi_interossei_dorsales-208.png" alt="ALT" /></span>
              <p>Дорсальные межкостные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6091.html"><span><img src="/app/assets/images/anatomy/musculi_interossei_plantares-208.png" alt="ALT" /></span>
              <p>Подошвенные межкостные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6092.html"><span><img src="/app/assets/images/anatomy/musculus_extensor_digitorum_brevis-208.png" alt="ALT" /></span>
              <p>Короткий разгибатель пальцев</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6086.html"><span><img src="/app/assets/images/anatomy/musculi_lumbricales-208.png" alt="ALT" /></span>
              <p>Червеобразные мышцы стопы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6087.html"><span><img src="/app/assets/images/anatomy/musculus_flexor_hallucis_brevis-208.png" alt="ALT" /></span>
              <p>Короткий сгибатель большого пальца стопы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6088.html"><span><img src="/app/assets/images/anatomy/musculus_adductor_hallucis-208.png" alt="ALT" /></span>
              <p>Мышца, приводящая большой палец стопы</p>
            </a></div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
