<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="hat">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="dark-blue">Мышцы верхних конечностей</h2>
            </div>
            <div class="col-xs-6">
              <div class="buttback"><a href="#/muscles">
                <p>Назад</p>
                <img src="/app/assets/images/litlarrow.png" alt=""/></a></div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-plech-sustava">Мышцы плечевого сустава</a></li>
                <li><a href="#muscle-plecha">Мышцы плеча</a></li>
                <li><a href="#muscle-pered-predplech">Мышцы передней группы предплечья</a></li>
                <li><a href="#muscle-zadn-predplech">Задняя группа мышц предплечья</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-kisti">Мышцы кисти</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-plech-sustava">
              <h3 class="dark-blue">Мышцы плечевого сустава</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6027.html"><span><img
              src="/app/assets/images/anatomy/musculus_deltoideus-208.png" alt="ALT"/></span>
              <p>Дельтовидная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page6028.html"><span><img
              src="/app/assets/images/anatomy/musculus_supraspinatus-208.png" alt="ALT"/></span>
              <p>Надостная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6029.html"><span><img
              src="/app/assets/images/anatomy/musculus_infraspinatus-208.png" alt="ALT"/></span>
              <p>Подостная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6030.html"><span><img
              src="/app/assets/images/anatomy/musculus_teres_minor-208.png" alt="ALT"/></span>
              <p>Малая круглая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6031.html"><span><img
              src="/app/assets/images/anatomy/musculus_subscapularis-208.png" alt="ALT"/></span>
              <p>Подлопаточная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6032.html"><span><img
              src="/app/assets/images/anatomy/musculus_teres_major-208.png" alt="ALT"/></span>
              <p>Большая круглая мышца</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-plecha">
              <h3 class="dark-blue">Мышцы плеча</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6033.html"><span><img
              src="/app/assets/images/anatomy/musculus_biceps_brachii-208.png" alt="ALT"/></span>
              <p>Двуглавая мышца плеча</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6037.html"><span><img
              src="/app/assets/images/anatomy/musculus_anconeus-208.png" alt="ALT"/></span>
              <p>Локтевая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page6034.html"><span><img
              src="/app/assets/images/anatomy/musculus_coracobrachialis-208.png" alt="ALT"/></span>
              <p>Клювовидно-плечевая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6035.html"><span><img
              src="/app/assets/images/anatomy/musculus_brachialis-208.png" alt="ALT"/></span>
              <p>Плечевая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6036.html"><span><img
              src="/app/assets/images/anatomy/musculus_triceps_brachii-208.png" alt="ALT"/></span>
              <p>Трехглавая мышца</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-pered-predplech">
              <h3 class="dark-blue">Мышцы передней группы предплечья</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6038.html"><span><img
              src="/app/assets/images/anatomy/musculus_pronator_teres-208.png" alt="ALT"/></span>
              <p>Круглый пронатор</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page6039.html"><span><img
              src="/app/assets/images/anatomy/musculus_flexor_carpi_radialis-208.png" alt="ALT"/></span>
              <p>Лучевой сгибатель запястья</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6040.html"><span><img
              src="/app/assets/images/anatomy/musculus_palmaris_longus-208.png" alt="ALT"/></span>
              <p>Длинная ладонная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6041.html"><span><img
              src="/app/assets/images/anatomy/musculus_flexor_carpi_ulnaris-208.png" alt="ALT"/></span>
              <p>Локтевой сгибатель запястья</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6042.html"><span><img
              src="/app/assets/images/anatomy/musculus_flexor_digitorum_superficialis-208.png" alt="ALT"/></span>
              <p>Поверхностный сгибатель пальцев</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6043.html"><span><img
              src="/app/assets/images/anatomy/musculus_flexor_digitorum_profundus-208.png" alt="ALT"/></span>
              <p>Глубокий сгибатель пальцев</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6044.html"><span><img
              src="/app/assets/images/anatomy/musculus_flexor_pollicis_longus-208.png" alt="ALT"/></span>
              <p>Длинный сгибатель большого пальца кисти</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6045.html"><span><img
              src="/app/assets/images/anatomy/musculus_pronator_quadratus-208.png" alt="ALT"/></span>
              <p>Квадратный пронатор</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-zadn-predplech">
              <h3 class="dark-blue">Задняя группа мышц предплечья</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6046.html"><span><img
              src="/app/assets/images/anatomy/musculus_brachioradialis-208.png" alt="ALT"/></span>
              <p>Плечелучевая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6051.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_carpi_ulnaris-208.png" alt="ALT"/></span>
              <p>Локтевой разгибатель запястья</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page6047.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_carpi_radialis_longus-208.png" alt="ALT"/></span>
              <p>Длинный лучевой разгибатель запястья</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6048.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_carpi_radialis_brevis-208.png" alt="ALT"/></span>
              <p>Короткий лучевой разгибатель запястья</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6049.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_digitorum-208.png" alt="ALT"/></span>
              <p>Разгибатель пальцев</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6054.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_pollicis_brevis-208.png" alt="ALT"/></span>
              <p>Короткий разгибатель большого пальца кисти</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6055.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_pollicis_longus-208.png" alt="ALT"/></span>
              <p>Длинный разгибатель большого пальца кисти</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6050.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_digiti_minimi-208.png" alt="ALT"/></span>
              <p>Разгибатель мизинца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6056.html"><span><img
              src="/app/assets/images/anatomy/musculus_extensor_indicis-208.png" alt="ALT"/></span>
              <p>Разгибатель указательного пальца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6053.html"><span><img
              src="/app/assets/images/anatomy/musculus_abductor_pollicis_longus-208.png" alt="ALT"/></span>
              <p>Длинная мышца, отводящая большой палец кисти</p>
            </a></div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6052.html"><span><img
              src="/app/assets/images/anatomy/musculus_supinator-208.png" alt="ALT"/></span>
              <p>Супинатор</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-kisti">
              <h3 class="dark-blue">Мышцы кисти</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6057.html"><span><img
              src="/app/assets/images/anatomy/musculus_lumbricales-208.png" alt="ALT"/></span>
              <p>Червеобразные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page6058.html"><span><img
              src="/app/assets/images/anatomy/musculus_interossei_palmares-208.png" alt="ALT"/></span>
              <p>Ладонные межкостные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6063.html"><span><img
              src="/app/assets/images/anatomy/musculus_palmaris_brevis-208.png" alt="ALT"/></span>
              <p>Короткая ладонная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6059.html"><span><img
              src="/app/assets/images/anatomy/musculus_interossei_dorsales-208.png" alt="ALT"/></span>
              <p>Дорсальные межкостные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6060.html"><span><img
              src="/app/assets/images/anatomy/musculus_abductor_digiti_minimi-208.png" alt="ALT"/></span>
              <p>Мышца, отводящая мизинец</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6061.html"><span><img
              src="/app/assets/images/anatomy/musculus_opponens_digiti_minimi-208.png" alt="ALT"/></span>
              <p>Мышца, противопоставляющая мизинец</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6062.html"><span><img
              src="/app/assets/images/anatomy/musculus_flexor_digiti_minimi_brevis-208.png" alt="ALT"/></span>
              <p>Короткий сгибатель мизинца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6064.html"><span><img
              src="/app/assets/images/anatomy/musculus_abductor_pollicis_brevis-208.png" alt="ALT"/></span>
              <p>Короткая мышца, отводящая большой палец кисти</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6065.html"><span><img
              src="/app/assets/images/anatomy/musculus_opponens_pollicis-208.png" alt="ALT"/></span>
              <p>Мышца, противопоставляющая большой палец кисти</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6067.html"><span><img
              src="/app/assets/images/anatomy/musculus_adductor_pollicis-208.png" alt="ALT"/></span>
              <p>Мышца, приводящая большой палец</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page6066.html"><span><img
              src="/app/assets/images/anatomy/musculus_flexor_pollicis_brevis-208.png" alt="ALT"/></span>
              <p>Короткий сгибатель большого пальца кисти</p>
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
