<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="hat">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="dark-blue">М'язи голови та обличча</h2>
            </div>
            <div class="col-xs-6">
              <div class="buttback"><a href="#/muscles">
                <p>Назад</p>
                <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-cherep">М'язи черепа</a></li>
                <li><a href="#muscle-uho">М'яз вуха</a></li>
                <li><a href="#muscle-vek">М'язи повіки</a></li>
                <li><a href="#muscle-nos">М'язи носа</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-rot">М'язи рота</a></li>
                <li><a href="#muscle-zhevatelnye">Жувальні м'язи</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-cherep">
              <h3 class="dark-blue">М'язи черепа</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/supracranial-neck"><span><img
              src="/app/assets/images/anatomy/epicranius-208.png" alt="ALT"></span>
              <p>Надчерепний затилочний м'яз</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/muscles/head/supracranial-frontal"><span><img
              src="/app/assets/images/anatomy/epicranius-208-1.png" alt="ALT"></span>
              <p>Надчерепний лобний м'яз</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/temporalis"><span><img
              src="/app/assets/images/anatomy/temporalis-208.png" alt="ALT"></span>
              <p>Височний м'яз</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-uho">
              <h3 class="dark-blue">М'язи вуха</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/anterior-auricular"><span><img
              src="/app/assets/images/anatomy/auricularis_anterior-208.png" alt="ALT"></span>
              <p>Передній вушний м'яз</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/muscles/head/superior-auricular"><span><img
              src="/app/assets/images/anatomy/auricularis_superior-208.png" alt="ALT"></span>
              <p>Верхній вушний м'яз</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/posterior-auricular"><span><img
              src="/app/assets/images/anatomy/auricularis_posterior-208.png" alt="ALT"></span>
              <p>Задній вушний м'яз</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-vek">
              <h3 class="dark-blue">М'язи век</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/orbicularis_oculi-208.png" alt="ALT"></span>
              <p>Круговий м'яз ока</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/corrugator_supercilii-208.png" alt="ALT"></span>
              <p>Надбровний зморшкуватийи м'яз</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-nos">
              <h3 class="dark-blue">М'язи носа</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_procerus-208.png" alt="ALT"></span>
              <p>М'язи гордеців</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_nasalis-208.png" alt="ALT"></span>
              <p>Носовий м'яз</p>
            </a></div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-rot">
              <h3 class="dark-blue">М'язи рота</h3>
            </a></div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_orbicularis_oris-208.png" alt="ALT"></span>
              <p>Круговий м'яз рота</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_zygomaticus_minor-208.png" alt="ALT"></span>
              <p>Малая скуловая м'яз</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_risorius-208.png" alt="ALT"></span>
              <p>М'яз смеха</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_levator_anguli_oris-208.png" alt="ALT"></span>
              <p>М'яз, поднимающая угол рта</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_buccinator-208.png" alt="ALT"></span>
              <p>Щечная м'яз</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_levator_labii_superioris-208.png" alt="ALT"></span>
              <p>М'яз, поднимающая верхнюю губу</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/platysma-208.png" alt="ALT"></span>
              <p>Подкожная м'яз шеи</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_depressor_labii_inferioris-208.png" alt="ALT"></span>
              <p>М'яз, опускающая нижнюю губу</p>
            </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_zygomaticus_major-208.png" alt="ALT"></span>
              <p>Большая скуловая м'яз</p>
            </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_depressor_anguli_oris-208.png" alt="ALT"></span>
              <p>М'яз, опускающая угол рта</p>
            </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_mentalis-208.png" alt="ALT"></span>
              <p>Подбородочная м'яз</p>
            </a>
            </div>
          </div>


        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-zhevatelnye">
              <h3 class="dark-blue">Жевательные м'язи</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_masseter-208.png" alt="ALT"></span>
              <p>Жевательня м'яз</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_pterygoideus_lateralis-208.png" alt="ALT"></span>
              <p>Латеральная крыловидная м'яз</p>
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
