<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="hat">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="dark-blue">Мышцы головы и лица</h2>
            </div>
            <div class="col-xs-6">
              <div class="buttback"><a href="#/muscles">
                <p>Назад</p>
                <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-cherep">Мышцы черепа</a></li>
                <li><a href="#muscle-uho">Мышца уха</a></li>
                <li><a href="#muscle-vek">Мышцы век</a></li>
                <li><a href="#muscle-nos">Мышцы носа</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-rot">Мышцы рта</a></li>
                <li><a href="#muscle-zhevatelnye">Жевательные мышцы</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-cherep">
              <h3 class="dark-blue">Мышцы черепа</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/supracranial-neck"><span><img
              src="/app/assets/images/anatomy/epicranius-208.png" alt="ALT"></span>
              <p>Надчерепная затылочная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/muscles/head/supracranial-frontal"><span><img
              src="/app/assets/images/anatomy/epicranius-208-1.png" alt="ALT"></span>
              <p>Надчерепная лобная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/temporalis"><span><img
              src="/app/assets/images/anatomy/temporalis-208.png" alt="ALT"></span>
              <p>Височная мышца</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-uho">
              <h3 class="dark-blue">Мышцы уха</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/anterior-auricular"><span><img
              src="/app/assets/images/anatomy/auricularis_anterior-208.png" alt="ALT"></span>
              <p>Передняя ушная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/muscles/head/superior-auricular"><span><img
              src="/app/assets/images/anatomy/auricularis_superior-208.png" alt="ALT"></span>
              <p>Верхняя ушная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/muscles/head/posterior-auricular"><span><img
              src="/app/assets/images/anatomy/auricularis_posterior-208.png" alt="ALT"></span>
              <p>Задняя ушная мышца</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-vek">
              <h3 class="dark-blue">Мышцы век</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/orbicularis_oculi-208.png" alt="ALT"></span>
              <p>Круговая мышца глаза</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/corrugator_supercilii-208.png" alt="ALT"></span>
              <p>Надбровная сморщивающая мышца</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-nos">
              <h3 class="dark-blue">Мышцы носа</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_procerus-208.png" alt="ALT"></span>
              <p>Мышцы гордецов</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_nasalis-208.png" alt="ALT"></span>
              <p>Носовая мышца</p>
            </a></div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-rot">
              <h3 class="dark-blue">Мышцы рта</h3>
            </a></div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_orbicularis_oris-208.png" alt="ALT"></span>
              <p>Круговая мышца рта</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_zygomaticus_minor-208.png" alt="ALT"></span>
              <p>Малая скуловая мышца</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_risorius-208.png" alt="ALT"></span>
              <p>Мышца смеха</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_levator_anguli_oris-208.png" alt="ALT"></span>
              <p>Мышца, поднимающая угол рта</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_buccinator-208.png" alt="ALT"></span>
              <p>Щечная мышца</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_levator_labii_superioris-208.png" alt="ALT"></span>
              <p>Мышца, поднимающая верхнюю губу</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/platysma-208.png" alt="ALT"></span>
              <p>Подкожная мышца шеи</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_depressor_labii_inferioris-208.png" alt="ALT"></span>
              <p>Мышца, опускающая нижнюю губу</p>
            </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_zygomaticus_major-208.png" alt="ALT"></span>
              <p>Большая скуловая мышца</p>
            </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_depressor_anguli_oris-208.png" alt="ALT"></span>
              <p>Мышца, опускающая угол рта</p>
            </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_mentalis-208.png" alt="ALT"></span>
              <p>Подбородочная мышца</p>
            </a>
            </div>
          </div>


        </div>


        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-zhevatelnye">
              <h3 class="dark-blue">Жевательные мышцы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_masseter-208.png" alt="ALT"></span>
              <p>Жевательня мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_pterygoideus_lateralis-208.png" alt="ALT"></span>
              <p>Латеральная крыловидная мышца</p>
            </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
