<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">М'язи</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/muscles/head"><span><img src="/app/assets/images/head.png" alt="ALT">
              </span><i>М'язи голови
                і обличчя</i> </a></li>
              <li><a href="#/muscles/neck"><span><img src="/app/assets/images/neck.png" alt="ALT">
              </span><i>М'язи шиї</i></a></li>
              <li><a href="#/muscles/torso"><span><img src="/app/assets/images/stomach.png" alt="ALT">
              </span><i>М'язи тулуба</i></a></li>
              <li><a href="#/muscles/pelvis"><span><img src="/app/assets/images/pelvis.png" alt="ALT">
              </span><i>М'язи тазу</i></a></li>
              <li><a href="#/muscles/hand"><span><img src="/app/assets/images/hand.png" alt="ALT">
              </span><i>М'язи верхніх кінцівок</i></a></li>
              <li><a href="#/muscles/foot"><span><img src="/app/assets/images/foot.png" alt="ALT">
              </span><i>М'язи нижніх кінцівок</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>М'язи людини: будова і функції мускулатури</h2>
          </div>
        </div>

      </div>
      <br><br>

    </div>
  </div>
</div>
