<div class="container">
<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="hat">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="dark-blue">Мышцы шеи</h2>
            </div>
            <div class="col-xs-6">
              <div class="buttback"><a href="#/muscles">
                <p>Назад</p>
                <img src="/app/assets/images/litlarrow.png" alt=""/></a></div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-podjazychnye">Подъязычные мышцы</a></li>
                <li><a href="#muscle-pered-pozvonok">Передние позвоночные мышцы</a></li>
                <li><a href="#muscle-lateral-pozvonok">Латеральные позвоночные мышцы</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-podjazychnye">
              <h3 class="dark-blue">Подъязычные мышцы</h3>
            </a></div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-xs-12 ">
          <div class="trunkimg"><a href="page5874.html"><span><img
            src="/app/assets/images/anatomy/musculus_sternohyoideus-208.png" alt="ALT"/></span>
            <p>Грудино-подъязычная мышца</p>
          </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="trunkimg"><a href="page5877.html"><span><img
            src="/app/assets/images/anatomy/musculus_sternothyroideus-208.png" alt="ALT"/></span>
            <p>Грудино-щитовидная мышца</p>
          </a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="trunkimg"><a href="page5878.html"><span><img
            src="/app/assets/images/anatomy/musculus_thyrohyoideus-208.png" alt="ALT"/></span>
            <p>Щитовидно-подъязычная мышца</p>
          </a>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="trunkimg"><a href="page5876.html"><span><img
            src="/app/assets/images/anatomy/musculus_geniohyoideus-208.png" alt="ALT"/></span>
            <p>Подбородочно-подъязычная мышца</p>
          </a>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="trunkimg"><a href="page5879.html"><span><img
            src="/app/assets/images/anatomy/musculus_stylohyoideus-208.png" alt="ALT"/></span>
            <p>Шилоподъязычная мышца</p>
          </a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5873.html"><span><img
              src="/app/assets/images/anatomy/musculus_mylohyoideus-208.png" alt="ALT"/></span>
              <p>Челюстно-подъязычная мышца, диафрагма рта</p>
            </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5880.html"><span><img
              src="/app/assets/images/anatomy/musculus_digastricus-208.png" alt="ALT"/></span>
              <p>Двубрюшная мышца</p>
            </a>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-pered-pozvonok">
              <h3 class="dark-blue">Передние позвоночные мышцы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5882.html"><span><img
              src="/app/assets/images/anatomy/musculus_longus_colli-208.png" alt="ALT"/></span>
              <p>Длинная мышца шеи</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page5883.html"><span><img
              src="/app/assets/images/anatomy/musculus_longus_capitis-208.png" alt="ALT"/></span>
              <p>Длинная мышца головы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5884.html"><span><img
              src="/app/assets/images/anatomy/musculus_rectus_capitis_anterior-208.png" alt="ALT"/></span>
              <p>Прямая передняя мышца головы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5885.html"><span><img
              src="/app/assets/images/anatomy/musculus_rectus_capitis_lateralis-208.png" alt="ALT"/></span>
              <p>Прямая латеральная мышца головы</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-lateral-pozvonok">
              <h3 class="dark-blue">Латеральные позвоночные мышцы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5887.html"><span><img
              src="/app/assets/images/anatomy/musculus_scalenus_anterior-208.png" alt="ALT"/></span>
              <p>Передняя лестничная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="page5888.html"><span><img
              src="/app/assets/images/anatomy/musculus_scalenus_medius-208.png" alt="ALT"/></span>
              <p>Средняя лестничная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5889.html"><span><img
              src="/app/assets/images/anatomy/musculus_scalenus_posterior-208.png" alt="ALT"/></span>
              <p>Задняя лестничная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="page5890.html"><span><img
              src="/app/assets/images/anatomy/musculus_sternocleidomastoideus-208.png" alt="ALT"/></span>
              <p>Грудино-ключично-сосцевидная мышца</p>
            </a></div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        &nbsp;</div>
      <br/><br/>

    </div>
  </div>
</div>

</div>
