<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="hat">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="dark-blue">Мышцы таза</h2>
            </div>
            <div class="col-xs-6">
              <div class="buttback"><a href="#/muscles">
                <p>Назад</p>
                <img src="/app/assets/images/litlarrow.png" alt=""/></a></div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-jagodiz">Мышцы ягодиц</a></li>
                <li><a href="#muscle-tazovye">Тазовые мышцы</a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-jagodiz">
              <h3 class="dark-blue">Мышцы ягодиц</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_gluteus_maximus-208.png" alt="ALT"/></span>
              <p>Большая ягодичная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_tensor_fasciae_latae-208.png" alt="ALT"/></span>
              <p>Напрягатель широкой фасции</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_gluteus_medius-208.png" alt="ALT"/></span>
              <p>Средняя ягодичная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_gluteus_minimus-208.png" alt="ALT"/></span>
              <p>Малая ягодичная мышца</p>
            </a></div>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-tazovye">
              <h3 class="dark-blue">Тазовые мышцы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_piriformis-208.png" alt="ALT"/></span>
              <p>Грушевидная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_obturatorius_internus-208.png" alt="ALT"/></span>
              <p>Внутренняя запирательная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_gemellus_superior-208.png" alt="ALT"/></span>
              <p>Верхняя близнецовая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_gemellus_inferior-208.png" alt="ALT"/></span>
              <p>Нижняя близнецовая мышца</p>
            </a></div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_obturatorius_externus-208.png" alt="ALT"/></span>
              <p>Наружная запирательная мышца бедра</p>
            </a></div>
          </div>

          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="#/not"><span><img
              src="/app/assets/images/anatomy/musculus_quadratis_femoris-208.png" alt="ALT"/></span>
              <p>Квадратная мышца бедра</p>
            </a></div>
          </div>

        </div>
</div>
      <br/><br/>

    </div>
  </div>
</div>
