<div id="content">
  <div class="box">
    <div class="text std">
      <div class="trunkmuscles">
        <div class="hat">
          <div class="row">
            <div class="col-xs-6">
              <h2 class="dark-blue">Мышцы туловища</h2>
            </div>
            <div class="col-xs-6">
              <div class="buttback"><a href="#/muscles">
                <p>Назад</p>
                <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-pozvonok">Позвоночные мышцы</a></li>
                <li><a href="#muscle-poperek-ost">Поперечно-остистые мышцы</a></li>
                <li><a href="#muscle-verh-konech-tulovische">Мышцы, прикрепляющие верхнюю конечность к туловищу</a></li>
                <li><a href="#muscle-mezhpoperek">Межпоперечные мышцы</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="trunklist">
                <li><a href="#muscle-pozadi-pozvonok">Позадипозвоночные мышцы (подзатылочная группа)</a></li>
                <li><a href="#muscle-grudi">Мышцы груди</a></li>
                <li><a href="#muscle-pered-brjuh-sten">Мышцы передней брюшной стенки</a></li>
                <li><a href="#muscle-zadn-brjuh-sten">Мышцы задней брюшной стенки</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-pozvonok">
              <h3 class="dark-blue">Позвоночные мышцы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5893.html"><span><img src="/app/assets/images/anatomy/musculus_ilicostalis_lumborum-208.png" alt="ALT"></span>
              <p>Поясничная подвздошно-реберная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page5894.html"><span><img src="/app/assets/images/anatomy/musculus_ilicostalis_cervicis-208.png" alt="ALT"></span>
              <p>Шейная подвздошно-реберная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5898.html"><span><img src="/app/assets/images/anatomy/musculus_iliocostalis_thoracis-208.png" alt="ALT"></span>
              <p>Грудная подвздошнореберная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5895.html"><span><img src="/app/assets/images/anatomy/musculus_longissimus_cervicis-208.png" alt="ALT"></span>
              <p>Длиннейшая шейная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5899.html"><span><img src="/app/assets/images/anatomy/musculus_longissimus_thoracis-208.png" alt="ALT"></span>
              <p>Длиннейшая грудная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5900.html"><span><img src="/app/assets/images/anatomy/musculus_longissimus_capitis-208.png" alt="ALT"></span>
              <p>Длиннейшая мышца головы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5901.html"><span><img src="/app/assets/images/anatomy/musculus_spinalis_cervicis-208.png" alt="ALT"></span>
              <p>Остистая мышца шеи</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5896.html"><span><img src="/app/assets/images/anatomy/musculus_spinalis_thoracis-208.png" alt="ALT"></span>
              <p>Грудная остистая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5897.html"><span><img src="/app/assets/images/anatomy/musculus_splenius_capitis-208.png" alt="ALT"></span>
              <p>Ременная мышца головы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5902.html"><span><img src="/app/assets/images/anatomy/musculus_splenius_cervicis-208.png" alt="ALT"></span>
              <p>Ременная мышца шеи</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-poperek-ost">
              <h3 class="dark-blue">Поперечно-остистые мышцы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5916.html"><span><img src="/app/assets/images/anatomy/musculus_semispinalis_thoracis-208.png" alt="ALT"></span>
              <p>Полуостистая мышца груди</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page5917.html"><span><img src="/app/assets/images/anatomy/musculus_semispinalis_capitis-208.png" alt="ALT"></span>
              <p>Полуостистая мышца головы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5918.html"><span><img src="/app/assets/images/anatomy/musculus_semispinalis_cervicis-208.png" alt="ALT"></span>
              <p>Полуостистая мышца шеи</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5919.html"><span><img src="/app/assets/images/anatomy/musculus_rotatores-208.png" alt="ALT"></span>
              <p>Мышцы вращатели</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5920.html"><span><img src="/app/assets/images/anatomy/musculi_multifidi-208.png" alt="ALT"></span>
              <p>Многораздельные мышцы</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-verh-konech-tulovische">
              <h3 class="dark-blue">Мышцы, прикрепляющие верхнюю конечность к туловищу</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6018.html"><span><img src="/app/assets/images/anatomy/musculus_trapezius-208.png" alt="ALT"></span>
              <p>Трапециевидная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page6019.html"><span><img src="/app/assets/images/anatomy/musculus_levator_scapulae-208.png" alt="ALT"></span>
              <p>Мышца, поднимающая лопатку</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6020.html"><span><img src="/app/assets/images/anatomy/musculus_rhomboideus_minor-208.png" alt="ALT"></span>
              <p>Малая ромбовидная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6021.html"><span><img src="/app/assets/images/anatomy/musculus_subclavius-208.png" alt="ALT"></span>
              <p>Подключичная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6025.html"><span><img src="/app/assets/images/anatomy/musculus_latissimus_dorsi-208.png" alt="ALT"></span>
              <p>Широчайшая мышца спины</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6026.html"><span><img src="/app/assets/images/anatomy/musculus_rhomboideus_major-208.png" alt="ALT"></span>
              <p>Большая ромбовидная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6022.html"><span><img src="/app/assets/images/anatomy/musculus_serratus_anterior-208.png" alt="ALT"></span>
              <p>Передняя зубчатая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6023.html"><span><img src="/app/assets/images/anatomy/musculus_pectoralis_minor-208.png" alt="ALT"></span>
              <p>Малая грудная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page6024.html"><span><img src="/app/assets/images/anatomy/musculus_pectoralis_major-208.png" alt="ALT"></span>
              <p>Большая грудная мышца</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-mezhpoperek">
              <h3 class="dark-blue">Межпоперечные мышцы</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5923.html"><span><img src="/app/assets/images/anatomy/musculi_intertransversarii_anteriores-208.png" alt="ALT"></span>
              <p>Межпоперечные передние мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page5924.html"><span><img src="/app/assets/images/anatomy/musculi_intertransversarii_posteriores-208.png" alt="ALT"></span>
              <p>Межпоперечные задние мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5925.html"><span><img src="/app/assets/images/anatomy/musculi_intertransversarii_laterales-208.png" alt="ALT"></span>
              <p>Межпоперечные латеральные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5926.html"><span><img src="/app/assets/images/anatomy/musculi_intertransversarii_mediales-208.png" alt="ALT"></span>
              <p>Межпоперечные медиальные мышцы</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-pozadi-pozvonok">
              <h3 class="dark-blue">Позадипозвоночные мышцы (подзатылочная группа)</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5928.html"><span><img src="/app/assets/images/anatomy/musculus_rectus_capitis_posterior_major-208.png" alt="ALT"></span>
              <p>Большая задняя прямая мышца головы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page5931.html"><span><img src="/app/assets/images/anatomy/musculus_obliquus_capitis_superior-208.png" alt="ALT"></span>
              <p>Верхняя косая мышца головы</p>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-grudi">
              <h3 class="dark-blue">Мышцы груди</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5966.html"><span><img src="/app/assets/images/anatomy/musculus_serratus_posterior_superior-208.png" alt="ALT"></span>
              <p>Верхняя задняя зубчатая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5967.html"><span><img src="/app/assets/images/anatomy/musculus_serratus_posterior_inferior-208.png" alt="ALT"></span>
              <p>Нижняя задняя зубчатая мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5961.html"><span><img src="/app/assets/images/anatomy/musculi_intercostales_externi-208.png" alt="ALT"></span>
              <p>Межреберные наружные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page5962.html"><span><img src="/app/assets/images/anatomy/musculi_intercosales_interni-208.png" alt="ALT"></span>
              <p>Межреберные внутренние мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5963.html"><span><img src="/app/assets/images/anatomy/musculi_subcostales-208.png" alt="ALT"></span>
              <p>Подреберные мышцы</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5965.html"><span><img src="/app/assets/images/anatomy/musculi_levatores_costarum-208.png" alt="ALT"></span>
              <p>Мышцы, поднимающие ребра</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5964.html"><span><img src="/app/assets/images/anatomy/musculi_transversus_thoracis-208.png" alt="ALT"></span>
              <p>Поперечные мышцы груди</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5968.html"><span><img src="/app/assets/images/anatomy/diaphragma-208.png" alt="ALT"></span>
              <p>Диафрагма</p>
            </a></div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-pered-brjuh-sten">
              <h3 class="dark-blue">Мышцы передней брюшной стенки</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5970.html"><span><img src="/app/assets/images/anatomy/musculus_obliquus_externus_abdominis-208.png" alt="ALT"></span>
              <p>Наружная косая мышца живота </p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page5971.html"><span><img src="/app/assets/images/anatomy/musculus_obliquus_internus_abdominis-208.png" alt="ALT"></span>
              <p>Внутренняя косая мышца живота</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5973.html"><span><img src="/app/assets/images/anatomy/musculus_transversus_abdominis-208.png" alt="ALT"></span>
              <p>Поперечная мышца живота</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5974.html"><span><img src="/app/assets/images/anatomy/musculus_rectus_abdominis-208.png" alt="ALT"></span>
              <p>Прямая мышца живота </p>
            </a></div>
          </div>

        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="trunktitle1"><a name="muscle-zadn-brjuh-sten">
              <h3 class="dark-blue">Мышцы задней брюшной стенки</h3>
            </a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5976.html"><span><img src="/app/assets/images/anatomy/musculus_quadratus_lumborum-208.png" alt="ALT"></span>
              <p>Квадратная мышца поясницы </p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 ">
            <div class="trunkimg"><a href="/1/page5977.html"><span><img src="/app/assets/images/anatomy/musculus_psoas_major-208.png" alt="ALT"></span>
              <p>Большая поясничная мышца</p>
            </a></div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="trunkimg"><a href="/1/page5978.html"><span><img src="/app/assets/images/anatomy/musculus_iliacus-208.png" alt="ALT"></span>
              <p>Подвздошная мышца </p>
            </a></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
