<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Дыхательная система</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/systems">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p>Органы дыхания обеспечивают при изменяющихся условиях доступность для организма кислорода, удаление из тела избытка углекислого газа и вместе с почками поддерживают кислотно-щелочной баланс. К органам дыхания относят воздухоносные пути (верхние и нижние) и альвеолы легких, в которых проходит газообмен между воздухом и кровью. В нижних воздухоносных путях вдыхаемый воздух из дыхательного горла поступает в&nbsp;бронхиальное дерево, которое является частью легких. Бронхи разделяются на все более мелкие ветви, конечные ветви дерева (бронхиолы) заканчиваются в альвеолярных ходах, от которых отходят альвеолы.</p>
              <p>Воздухоносные пути включают в себя верхние (полости носа и рта, носовые пазухи, глотку, гортань) и нижние воздухоносные пути (трахею и бронхиальное дерево). Их важнейшими функциями являются: проведение вдыхаемого и&nbsp;выдыхаемого воздуха, его согревание, увлажнение, очищение. Орган обоняния, расположенный в полостях носа, обеспечивает восприятие запаха. Гортань участвует в формировании звуковой речи.<br>
                &nbsp;</p>
              <div class="row">
                <div class="col-md-12 ">
                  <table width="700" border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/put-o2-k-kletke.png" alt="путь кислорода к клетке" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Внутреннее и внешнее дыхание</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/pazuhi.png" alt="околоносовые пазухи" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Полости носа и околоносовые пазухи. Глотка</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/glotka(1).png" alt="глотка" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Гортань. Голосообразование</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/traheja.png" alt="трахея" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Трахея. Полости тела и серозные оболочки груди и живота</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/legkie-chela.png" alt="легкие" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Легкие</a></strong></td>
                    </tr>
                    <tr>
                      <td><a href="#/not"><img src="/app/assets/images/anatomy/legkie.png" alt="легкие" width="100" height="93"></a>&nbsp;</td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Насыщение легких кислородом</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/alveoly.png" alt="альвеолы" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Вентиляция альвеол и мертвого пространства</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/defizit-kisloroda.png" alt="дефицит кислорода" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Дефицит кислорода. Искусственное дыхание</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/prodolgovatyj.png" alt="регуляция дыхания" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Регуляция дыхания</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/Legkie (1).PNG" alt="механизм дыхания" width="100" height="93"></a></td>
                      <td><strong>&nbsp; &nbsp;<a href="#/not">Механизмы дыхания. Исследование работы легких</a></strong></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
            </div>

          </div>
        </div>
      </div>

    </div>
