<div class=" page-articles ">
  <div class="featured">
    <div class="row">
      <div class="col-md-12">
        <h2 class="dark-blue"><a name="1"></a>Анатомический атлас</h2>
      </div>
      <div class="col-md-6">
        <a href="/1/page5800.html"><img alt="ALT" src="/app/assets/images/featured-articles.jpg"></a>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            <a href="#/muscles"><span><img alt="ALT" src="/app/assets/images/111.jpg"></span><i>Мышцы</i></a>
          </li>

          <li>
            <a href="#/skeleton"><span><img alt="ALT" src="/app/assets/images/112.jpg"></span><i>Скелет</i></a>
          </li>

          <li>
            <a href="#/joints"><span><img alt="ALT" src="/app/assets/images/113.jpg"></span><i>Суставы</i></a>
          </li>


          <li>
            <a href="#/tissue"><span><img alt="ALT" src="/app/assets/images/114.jpg"></span><i>Ткани</i></a>
          </li>


          <li>
            <a href="#/systems"><span><img alt="ALT" src="/app/assets/images/115.jpg"></span><i>Системы</i></a>
          </li>

        </ul>
      </div>
      <!--<div class="row">-->
        <!--<div class="col-md-12 ">-->
          <!--<div class="bodytext">-->
            <!--<p>Анатомический атлас человека - целый комплекс полезной информации, предназначен врачам всех-->
              <!--специальностей, студентам медицинских вузов, а также незаменим для массажистов, художников, научных-->
              <!--работников и всех, кто интересуется этим интересным словом - анатомия.</p>-->
            <!--<p>Атлас, построенный по принципам систематической и функциональной анатомии, содержит огромное количество-->
              <!--высококачественных иллюстраций по всем аппаратам, системам и органам человека. Содержание анатомического-->
              <!--атласа полностью соответствует программе по анатомии для медицинских вузов и для работы массажиста.-->
              <!--Анатомические термины даны на русском языке.</p>-->
            <!--<p>Анатомия человека включает анатомическое описание движений нашего тела, особенностей строения и-->
              <!--физиологии костей и мышц и полную информацию о суставах. Визуальная четкость иллюстраций облегчит-->
              <!--интерпретацию информации, а благодаря обширному фактическому материалу из авторитетных источников-->
              <!--анатомический атлас может претендовать на высокую степень точности данных.</p>-->
            <!--<p>Анатомия человека является одним из самых интересных и востребованных научных направлений-->
              <!--современности. Несмотря на многовековую историю, анатомия человека до сих пор хранит огромное количество-->
              <!--тайн и секретов. Человеческий организм представляет собой сложный механизм, который состоит из огромного-->
              <!--количества деталей и элементов. Каждая из «запчастей» является уникальной и неповторимой. Процессы-->
              <!--обмена веществ, роста, а также самовоспроизведения являются лишь следствиями глобальных изменений,-->
              <!--которые происходят в человеческом теле на протяжении всей жизни. Изучение и исследование анатомии-->
              <!--человека ведется в самых разнообразных ракурсах.</p>-->
            <!--<p>Благодаря этому атласу у Вас всегда будут под рукой подробные сведения о скелетно-мышечной-->
              <!--анатомии.</p>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    </div>
  </div>
</div>



