<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суставы нижней конечности</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Коленный сустав</h2>
              <p>Коленный сустав является самым крупным и самым сложным суставом тела. В суставной полости имеется три сочленения: латеральный и медиальный тибиофеморальный суставы (между бедренной и большеберцовой костью) и феморопателлярный сустав (между бедренной костью и коленной чашечкой).</p>
              <p><strong>Тип сустава</strong> <br>
                <em><strong>Тибиофеморальный сустав. </strong></em>Функционально измененный синовиальный шарнир, но структурно является мыщелковым суставом.<br>
                <em><strong>Феморопателлярный сустав.</strong></em> Синовиальный плоский сустав.</p>
              <p><strong>Сочленение</strong> <br>
                <strong><em>Тибиофеморальный сустав</em></strong>. Мыщелки бедренной кости соединяются с мыщелками большеберцовой кости двумя менисками, имеющих С-форму, или полулунными хрящами между противоположными суставными поверхностями.<br>
                <em><strong>Феморопателлярный сустав</strong></em>. Задняя поверхность коленной чашечки соединяется с надколенной поверхностью нижнего конца бедренной кости.</p>
              <p><strong>Суставная капсула</strong><br>
                Коленный сустав является единственным суставом, где капсула только частично ограничивает суставную полость. Истинные капсульные волокна объединяются с сухожильными влагалищами, формирующими мышечные сухожилия или их продолжения, которые все вместе заключают сустав в капсулу. Истинные капсульные волокна располагаются только по бокам и сзади сустава.</p>
              <p><strong>Внекапсульные (экстра-суставные) связки</strong><br>
                <em><strong>Большеберцовая (медиальная) коллатеральная связка</strong></em>. Широкая, плоская полоска ткани, проходящая от среднего надмыщелка бедренной кости вниз и вперед к среднему мыщелку большеберцового диафиза. Некоторые волокна сращиваются с медиальным мениском.<br>
                <em><strong>Малоберцовая (латеральная) коллатеральная связка</strong></em>. Круглая шнуровидная связка, полностью отделенная от тонкой латеральной части капсулы. Она тянется от латерального надмыщелка бедренной кости вниз и назад к головке малоберцовой кости.<br>
                <em><strong>Косая подколенная связка</strong></em>. Продолжение полумембранозного сухожилия, которое проходит вверх и латерально над задней частью сустава.<br>
                <em><strong>Дугообразная подколенная связка</strong></em>. Проходит от головки малоберцовой кости вверх и медиально, входя в заднюю часть капсулы, до латерального мыщелка бедренной кости, укрепляя заднюю часть сустава.</p>
              <p><strong>Внутрикапсульные (внутрисуставные) связки и мениски</strong><br>
                <em><strong>Передняя крестовидная связка</strong></em>. Проходит косо вверх, латерально и назад от передней межмыщелковой области большеберцовой кости до медиальной поверхности латерального бедренного мыщелка. Она предотвращает заднее смещение бедренной кости на большеберцовую кость и ограничивает переразгибание коленного сустава.<br>
                Задняя крестовидная связка. Проходит вверх, медиально и вперед от задней межмыщелковой области большеберцовой кости до латеральной стороны медиального бедренного мыщелка. Таким образом она находится на медиальной стороне более слабой крестообразной связки колена. Она предотвращает смещение вперед бедренной кости на большеберцовую кость.<br>
                Крестовидные связки находятся в пределах суставной капсулы, но вне суставной полости. Синовиальная оболочка покрывает большую часть их поверхности.<br>
                <em><strong>Мениски</strong></em>. Между бедренными и большеберцовыми мыщелками имеются два волокнистых клина, имеющие форму полумесяцев, они называются менисками, функция которых заключается в компенсации несоответствия суставных поверхностей. Они также поглощают удары, передающиеся на коленный сустав. Мениски прикрепляются только внешними краями и склонны к разрывам. Медиальный мениск также прикрепляется к большеберцовой коллатеральной связке и поэтому закреплен прочнее, чем латеральный мениск, который не прикрепляется к малоберцовой коллатеральной связке.<br>
                <em><strong>Медиальные и латеральные венечные связки</strong></em>. Капсульные волокна, которые прикрепляют мениски к большеберцовым мыщелкам.<br>
                <strong><em>Поперечная связка коленного сустава</em></strong>. Волокнистая полоска, которая связывает передние части менисков.</p>
              <p><strong>Стабилизирующие сухожилия</strong><br>
                <em><strong>Связка надколенника</strong></em>. Эта крепкая связка является фактически дистальной частью сухожилия четырехглавой мышцы. Она проходит от коленной чашечки (которая «вкладывается» в сухожилие, как сесамовидная кость) до бугристости большеберцовой кости. Другие тонкие полоски, названные медиальным и латеральным надколенным удерживателями, проходят по сторонам коленной чашечки, прикрепляясь к передней поверхности каждого большеберцового мыщелка; фактически заменяя переднюю часть капсулы.<br>
                <em><strong>Полумембранозное сухожилие</strong></em>. Укрепляет заднюю часть коленного сустава.<br>
                Мышцы, окружающие коленный сустав, являются частичными стабилизаторами.</p>
              <p><strong>Движения<br>
              </strong> Сгибание, разгибание. Может происходить некоторое вращение при сгибании колена. Кроме того, в результате натяжения различных связок (особенно крестообразных) и сухожилий может происходить небольшое медиальное вращение бедра выше неподвижной голени, при полном разгибании коленного сустава. (Когда бедро и голень не фиксированы, как при ударе ногой, голень вращается латерально в конце разгибания и медиально в начале сгибания.)<br>
                <br>
                Примечание: подколенные мышцы «разблокировывают» разогнутый коленный сустав перед сгибанием, делая возможным процесс сгибания.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kolennyj-sustav-vid-speredi.png"><img alt="Коленный сустав: вид спереди" src="/app/assets/images/anatomy/kolennyj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Коленный сустав: вид спереди<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kolennyj-sustav-vid-szadi.png"><img alt="Коленный сустав: вид сзади" src="/app/assets/images/anatomy/kolennyj-sustav-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Коленный сустав: вид сзади<br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kolennyj-sustav-sredinno-sagitalnyj-vid.png"><img alt="Коленный сустав: срединно-сагиттальный вид" src="/app/assets/images/anatomy/kolennyj-sustav-sredinno-sagitalnyj-vid.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Коленный сустав: срединно-сагиттальный вид<br>
                &nbsp;</p>
              <h2 id="h2">Проксимальный межберцовый сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный плоский.</p>
              <p><strong>Сочленение</strong><br>
                Между фасеткой на головке малоберцовой кости и такой же фасеткой на латеральном мыщелке большеберцовой кости.</p>
              <p><strong>Движения</strong><br>
                Возможны ограниченные, пассивные движения при движениях голеностопного сустава.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhberzovyj-sustav-proksimalnyj(1).png"><img alt="Проксимальный межберцовый сустав: вид спереди" src="/app/assets/images/anatomy/mezhberzovyj-sustav-proksimalnyj(1).png"></a>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhberzovyj-sustav-vid-szadi.png"><img alt="Межберцовый сустав: вид сзади" src="/app/assets/images/anatomy/mezhberzovyj-sustav-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">&nbsp;Межберцовый сустав: а) проксимальный межберцовый сустав, правая нижняя конечность (вид спереди); б) проксимальный межберцовый сустав, правая нижняя конечность (вид сзади)<br>
                &nbsp;</p>
              <h2 id="h2">Дистальный межберцовый сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синдесмоз.</p>
              <p><strong>Сочленение</strong><br>
                Между грубыми треугольными противоположными поверхностями у дистального конца большеберцовой и малоберцовой кости.</p>
              <p><strong>Движения</strong><br>
                Возможны ограниченные, пассивные движения при движениях голеностопного сустава.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/distalnyj-mezhberzovyj-sustav-vid szadi(2).png"><img alt="Дистальный межберцовый сустав: вид сзади" src="/app/assets/images/anatomy/distalnyj-mezhberzovyj-sustav-vid szadi(2).png"></a>
              <h2 id="h2">Голеностопный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальное шарнирное соединение.</p>
              <p><b>Сочленение</b><br>
                Между дистальной частью большеберцовой кости, медиальной лодыжкой большеберцовой кости, латеральной лодыжкой малоберцовой кости и таранной костью. Нижние концы большеберцовой и малоберцовой кости создают «гнездо» для таранной кости.</p>
              <p><strong>Движения</strong><br>
                Дорсальное и подошвенное сгибание.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/golenostopnyj-sustav-vid-sboku(1).png"><img alt="Голеностопный сустав: вид сбоку" src="/app/assets/images/anatomy/golenostopnyj-sustav-vid-sboku(1).png"></a>
              <p style="text-align: center;">Голеностопный сустав: вид сбоку<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/golenostopnyj-sustav-medialnyj-vid.png"><img alt="Голеностопный сустав: медиальный вид" src="/app/assets/images/anatomy/golenostopnyj-sustav-medialnyj-vid.png"></a>
              <p style="text-align: center;">&nbsp;Голеностопный сустав: медиальный вид<br>
                &nbsp;</p>
              <h2 id="h2">Своды стопы</h2>
              <p>&nbsp;<strong>Продольный свод:<br>
              </strong><br>
                - Ряд синовиальных плоских суставов.<br>
                - Проходит от пяточной кости до плюсневых костей через таранную, ладьевидную и клиновидную кости.<br>
                - Образуется определенной формой плюсневых костей.<br>
                - Поддерживается пяточно-ладьевидной связкой, множеством небольших межкостных связок и сухожилиями передней и задней большеберцовой мышцы.<br>
                - Свод стопы по медиальной стороне выше, чем по латеральной стороне.</p>
              <p>&nbsp;<strong>Поперечный свод:</strong></p>
              <p>- Ряд синовиальных плоских суставов.<br>
                - Проходит через дистальный ряд костей предплюсны.<br>
                - Поддерживается формой костей предплюсны, многими небольшими межкостными связками и сухожилиями длинной малоберцовой мышцы, передней и задней большеберцовой мышцы.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/svod-stopy-medialnyj-vid.png"><img alt="Свод стопы: медиальный вид" src="/app/assets/images/anatomy/svod-stopy-medialnyj-vid.png"></a>
              <p style="text-align: center;">Свод стопы: медиальный вид<br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/svod-stopy-vid-sboku.png"><img alt="Свод стопы: вид сбоку" src="/app/assets/images/anatomy/svod-stopy-vid-sboku.png"></a>
              <p style="text-align: center;">&nbsp;Свод стопы: вид сбоку<br>
                &nbsp;</p>
              <h2 id="h2">Межпредплюсневые суставы</h2>
              <p><strong>Тип сустава</strong><br>
                Сложный комплекс синовиальных плоских суставов.</p>
              <p><strong>Сочленение</strong><br>
                <em><strong>Подтаранный сустав</strong></em>. Между нижней поверхностью таранной кости и верхней поверхностью пяточной кости.<br>
                <em><strong>Таранно-пяточно-ладьевидный сустав</strong></em>. Между таранной, пяточной и ладьевидной костями. Пяточно-кубовидный сустав. Между пяточной и кубовидной костью.<br>
                <em><strong>Поперечный сустав предплюсны</strong></em>. Термин для описания поперечного плоского сустава, пересекающего предплюсну по всей ширине, включая таранно-пяточно-ладьевидный сустав и пяточно-кубовидный сустав.<br>
                <em><strong>Клиноладьевидный сустав</strong></em>. Между клиновидной и ладьевидной костью.<br>
                <em><strong>Межклиновидные суставы</strong></em>. Между тремя клиновидными костями.<br>
                <em><strong>Клинокубовидный сустав</strong></em>. Между латеральной клиновидной и кубовидной костью.</p>
              <p><strong>Движения предплюсны</strong><br>
                Инверсия и выворот стопы.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhpredpljusnevyj-sustav.png"><img alt="Межпредплюсневый сустав" src="/app/assets/images/anatomy/mezhpredpljusnevyj-sustav.png"></a>
              <p style="text-align: center;">Межпредплюсневый сустав<br>
                &nbsp;</p>
              <h2 id="h2">Предплюсне-плюсневые и межплюсневые суставы</h2>
              <p><strong>Тип суставов</strong><br>
                Синовиальный плоский.</p>
              <p><strong>Сочленение<br>
              </strong><em><strong>Предплюсне-плюсневые суставы</strong></em>. Между дистальным (передним) рядом костей предплюсны (кубовидной и тремя клиновидных) и основаниями плюсневых костей.<br>
                <em><strong>Межплюсневые суставы</strong></em>. Между фасетками на смежных сторонах оснований всех латеральных плюсневых костей.</p>
              <p><strong>Движения</strong><br>
                Возможны небольшие скользящие движения плюсневых костей, ограниченные связками и связанными костями, при инверсии и вывороте стопы.<br>
                &nbsp;</p>
              <h2 id="h2">Плюснефаланговые суставы</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный мыщелковый.</p>
              <p><strong>Сочленение</strong><br>
                Между головкой плюсны и основанием проксимальной фаланги.<br>
                <br>
                <strong>Примечание</strong>: капсула сустава неполная на дорсальной части, где она замещается расширением сухожилия разгибающей мышцы.</p>
              <p><strong>Движения</strong><br>
                Сгибание и разгибание. Отведение и приведение. Комбинированные движения могут вызывать пассивное вращательное движение.<br>
                <br>
                <strong>Примечание</strong>: при сгибании пальцы соединяются вместе; при разгибании они расходятся и смещаются несколько латерально. Движения менее интенсивны, чем в соответствующих суставах кисти.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/predpljusne-pljusnevyj-sustav.png"><img alt="Предплюсне-плюсневый сустав" src="/app/assets/images/anatomy/predpljusne-pljusnevyj-sustav.png"></a>
              <p>&nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/predpljusne-pljusnevyj-mezhpljusnevyj-pljusnefalangovyj-sustavy.png"><img alt="Предплюсне-плюсневый, межплюсневый и плюснефаланговый суставы" src="/app/assets/images/anatomy/predpljusne-pljusnevyj-mezhpljusnevyj-pljusnefalangovyj-sustavy.png"></a>
              <p style="text-align: center;"><span style="text-align: center;">Предплюсне-плюсневый, межплюсневый и плюснефаланговый суставы<br>
<br type="_moz">
</span></p>
              <h2 id="h2">Межфаланговые суставы</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный шарнирный.</p>
              <p><strong>Сочленение</strong><br>
                Между проксимальными и средними фалангами (проксимальный межфаланговый сустав) или средними и дистальными фалангами (дистальный межфаланговый сустав).</p>
              <p><strong>Движения</strong><br>
                Сгибание и разгибание.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/pljusnefalangovyj-i-mezhfalangovyj-sustavy.png"><img alt="Плюснефаланговый и межфаланговые суставы" src="/app/assets/images/anatomy/pljusnefalangovyj-i-mezhfalangovyj-sustavy.png"></a>
              <p style="text-align: center;">&nbsp;Плюснефаланговый и межфаланговые суставы</p>
            </div>
          </div>

        </div>

      </div>    </div>
  </div>
</div>
