<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суглоби нижньої кінцівки</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Колінний суглоб</h2>
              <p>Колінний суглоб є найбільшим і найскладнішим суглобом тіла. У суглобової порожнини є три зчленування: латеральний і медіальний тібіофеморальний суглоби (між стегнової і великогомілкової кісткою) і феморопателлярний суглоб (між стегнової кісткою і колінної чашечкою).</p>
              <p><strong>Тип суглобу</strong> <br>
                <em><strong>Тибіофеморальний суглоб. </strong></em>Функціонально змінений синовіальний шарнір, але структурно є Мищелковий суглобом.<br>
                <em><strong>Феморопателлярний суглоб.</strong></em> Синовіальний плаский суглоб.</p>
              <p><strong>Зчленування</strong> <br>
                <strong><em>Тибіофеморальний суглоб</em></strong>. Виростків стегнової кістки з'єднуються з виростків великогомілкової кістки двома менисками, що мають С-форму, або півмісяцевими хрящами між протилежними суглобовими поверхнями.<br>
                <em><strong>Феморопателлярний суглоб</strong></em>. Задня поверхня колінної чашечки з'єднується з надколенной поверхнею нижнього кінця стегнової кістки.</p>
              <p><strong>Суглобна капсула</strong><br>
                Колінний суглоб є єдиним суглобом, де капсула тільки частково обмежує суглобову порожнину. Справжні капсульні волокна об'єднуються з сухожильних піхвами, що формують м'язові сухожилля або їх продовження, які всі разом укладають суглоб в капсулу. Справжні капсульні волокна розташовуються тільки з боків і ззаду суглоба.</p>
              <p><strong>Позакапсульні (екстра-суглобові) зв'язки</strong><br>
                <em><strong>Великогомілкова (медійна) колатеральних зв'язка </strong></em>. Широка, плоска смужка тканини, що проходить від середнього надмищелка стегнової кістки вниз і вперед до середнього виростка великогомілкової діафіза. Деякі волокна зрощуються з медіальний меніск. <br>
                <em><strong>Малогомілкова (латеральна) колатеральних зв'язка </strong></em>. Кругла шнуровіднимі зв'язка, повністю відокремлена від тонкої латеральної частини капсули. Вона тягнеться від латерального надвиростка стегнової кістки вниз і назад до голівки малогомілкової кістки. <br>
                <em><strong>Коса підколінна зв'язка </strong></em>. Продовження полумембранозного сухожилля, яке проходить вгору і латерально над задньою частиною суглоба. <br>
                <em><strong> Дугоподібна підколінної зв'язка </strong></em>. Проходить від головки малогомілкової кістки вгору і медіально, входячи в задню частину капсули, до латерального виростка стегнової кістки, зміцнюючи задню частину суглоба. </ P>
               <P><strong> Внутрішньокапсульні (внутрішньосуглобові) зв'язки і меніски </strong><br>
              <em><strong> Передня хрестоподібна зв'язка </strong></em>. Проходить косо вгору, латерально і назад від передньої межмищелкового області великогомілкової кістки до медіальної поверхні латерального стегнового виростка. Вона запобігає заднє зміщення стегнової кістки на кістку і обмежує переразгибание колінного суглоба. <br>
              Задня хрестоподібна зв'язка. Проходить вгору, медіально і вперед від задньої межмищелкового області великогомілкової кістки до латерального боку медіального стегнового виростка. Таким чином вона знаходиться на медіальній стороні більш слабкою хрестоподібної зв'язки коліна. Вона запобігає зміщення вперед стегнової кістки на кістку. <br>
              Хрестоподібні зв'язки знаходяться в межах суглобової капсули, але поза суглобової порожнини. Синовіальная оболонка покриває велику частину їх поверхні. <br>
              <em><strong>Меніски</strong></em>. Між стегновими і великогомілкової виростками є два волокнистих клина, що мають форму півмісяців, вони називаються менисками, функція яких полягає в компенсації невідповідності суглобових поверхонь. Вони також поглинають удари, що передаються на колінний суглоб. Меніски прикріплюються тільки зовнішніми краями і схильні до розривів. Медіальний меніск також прикріплюється до великогомілкової коллатеральной зв'язці і тому закріплений міцніше, ніж латеральний меніск, яка не прикріплюється до малогомілкової коллатеральної зв'язки.<br>
                <em><strong>Медіальні і латеральні вінцеві зв'язки</strong></em>. Капсульні волокна, які прикріплюють меніски до великогомілкової виростків.<br>
                <strong><em>Поперечна зв'язка колінного суглобу</em></strong>. Волокниста смужка, яка пов'язує передні частини менісків.</p>
              <p><strong>Стабілізуючі сухожилля</strong><br>
                <em><strong>Зв'язка надколінника</strong></em>. Ця міцна зв'язка є фактично дистальної частиною сухожилля чотириголового м'яза. Вона проходить від колінної чашечки (яка «вкладається» в сухожилля, як сесамовідная кістка) до горбистості великогомілкової кістки. Інші тонкі смужки, названі медіальній і латеральним надколінна удержівателя, проходять по сторонам колінної чашечки, прикріплений до передньої поверхні кожного великогомілкової виростка; фактично замінюючи передню частину капсули.<br>
                <em><strong>Полумембранозное сухожилля</strong></em>. Зміцнює задню частину колінного суглоба.<br>
                М'язи, що оточують колінний суглоб, є частковими стабілізаторами.</p>
              <p><strong>Рухи<br>
              </strong> Згинання, розгинання. Може відбуватися деякий обертання при згинанні коліна. Крім того, в результаті натягу різних зв'язок (особливо хрестоподібних) і сухожиль може відбуватися невелике медіальне обертання стегна вище нерухомою гомілки, при повному розгинанні колінного суглоба. (Коли стегно і гомілку не фіксовані, як при ударі ногою, гомілку обертається латерально в кінці розгинання і медіально на початку згинання.)<br>
                <br>
                Примітка: підколінні м'язи «розблоковують» розігнутий колінний суглоб перед згинанням, уможливлюючи процес згинання.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kolennyj-sustav-vid-speredi.png"><img alt="Колінний суглоб: вид спереду" src="/app/assets/images/anatomy/kolennyj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Колінний суглоб: вид спереду<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kolennyj-sustav-vid-szadi.png"><img alt="Колінний суглоб: вид ззаду" src="/app/assets/images/anatomy/kolennyj-sustav-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Колінний суглоб: вид ззаду<br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/kolennyj-sustav-sredinno-sagitalnyj-vid.png"><img alt="Колінний суглоб: срединно-сагітальний вид" src="/app/assets/images/anatomy/kolennyj-sustav-sredinno-sagitalnyj-vid.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Колінний суглоб: срединно-сагітальний вид<br>
                &nbsp;</p>
              <h2 id="h2">Проксимальний міжберцовий суглоб</h2>
              <p><strong>Тип суглобу</strong><br>
                Синовіальний плаский.</p>
              <p><strong>Зчленіння</strong><br>
                Між фасеткою на голівці малогомілкової кістки і такої ж фасеткою на латеральному виростків великогомілкової кістки.</p>
              <p><strong>Рухи</strong><br>
                Можливі обмежені, пасивні руху при рухах гомілковостопного суглоба.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhberzovyj-sustav-proksimalnyj(1).png"><img alt="Проксимальний міжберцевий суглоб: вид спереду" src="/app/assets/images/anatomy/mezhberzovyj-sustav-proksimalnyj(1).png"></a>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhberzovyj-sustav-vid-szadi.png"><img alt="Міжберцевий суглоб: вид ззаду" src="/app/assets/images/anatomy/mezhberzovyj-sustav-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">&nbsp;Міжберцевий суглоб: а) проксимальний міжберцевий суглоб, права нижня кінцівка (вид спереду); б) проксимальний міжберцевий суглоб, права нижня кінцівка (вид ззаду)<br>
                &nbsp;</p>
              <h2 id="h2">Дистальний міжберцевий суглоб</h2>
              <p><strong>Тип суглобу</strong><br>
                Синдесмоз.</p>
              <p><strong>Зчленіння</strong><br>
                Між грубими трикутними протилежними поверхнями у дистального кінця великогомілкової і малогомілкової кістки.</p>
              <p><strong>Рухи</strong><br>
                Можливі обмежені, пасивні руху при рухах гомілковостопного суглоба.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/distalnyj-mezhberzovyj-sustav-vid szadi(2).png"><img alt="Дистальний міжберцевий суглоб: вид ззаду" src="/app/assets/images/anatomy/distalnyj-mezhberzovyj-sustav-vid szadi(2).png"></a>
              <h2 id="h2">Голеностопний суглоб</h2>
              <p><strong>Тип суглобу</strong><br>
                Синовіальне шарнірне з'єднання.</p>
              <p><b>Зчленіння</b><br>
                Між дистальної частиною великогомілкової кістки, медіальною кісточкою великогомілкової кістки, латеральної щиколоткою малогомілкової кістки і таранної кісткою. Нижні кінці великої та малої гомілкових кістки створюють «гніздо» для таранної кістки.</p>
              <p><strong>Рухи</strong><br>
                Дорсальне і підошовне згинання.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/golenostopnyj-sustav-vid-sboku(1).png"><img alt="Голеностопний суглоб: вид збоку" src="/app/assets/images/anatomy/golenostopnyj-sustav-vid-sboku(1).png"></a>
              <p style="text-align: center;">Голеностопний суглоб: вид збоку<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/golenostopnyj-sustav-medialnyj-vid.png"><img alt="Голеностопний суглоб: медіальний вид" src="/app/assets/images/anatomy/golenostopnyj-sustav-medialnyj-vid.png"></a>
              <p style="text-align: center;">&nbsp;Голеностопний суглоб: медіальний вид<br>
                &nbsp;</p>
              <h2 id="h2">Склепіння стопи</h2>
              <p>&nbsp;<strong>Поздовжне склепіння:<br>
              </strong><br>
                - Ряд синовіальних плоских суглобів. <br>
                - Проходить від п'яткової кістки до плеснових кісток через таранную, ладьевидную і клиновидную кістки. <br>
                - Утворюється певною формою плеснових кісток. <br>
                - Підтримується п'яткової-човноподібної зв'язкою, безліччю невеликих міжкісткових зв'язок і сухожиллями передньої і задньої великогомілкової м'язи. <br>
                - Звід стопи по медіальній стороні вище, ніж по латеральної стороні. </p>
              <p>&nbsp;<strong>Поперечне склепіння:</strong></p>
              <p>- Ряд синовіальних плоских суглобів. <br>
                - Проходить через дистальний ряд кісток передплесни. <br>
                - Підтримується формою кістокПередплесно, багатьма невеликими міжкісткової зв'язками і сухожиллями довгою малогомілкової м'язи, передній і задній великогомілкової м'язи.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/svod-stopy-medialnyj-vid.png"><img alt="Склепіння стопи: медіальний вид" src="/app/assets/images/anatomy/svod-stopy-medialnyj-vid.png"></a>
              <p style="text-align: center;">Склепіння стопи: медіальний вид<br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/svod-stopy-vid-sboku.png"><img alt="Склепіння стопи: вид збоку" src="/app/assets/images/anatomy/svod-stopy-vid-sboku.png"></a>
              <p style="text-align: center;">&nbsp;Склепіння стопи: вид збоку<br>
                &nbsp;</p>
              <h2 id="h2">Міжпередплесневі суглоби</h2>
              <p><strong>Тип суглобу</strong><br>
                Складний комплекс синовіальних пласких суглобів.</p>
              <p><strong>Зчленіння</strong><br>
                <em><strong>Підтаранний суглоб</strong></em>. Між задньою поверхнею таранної кістки і верхньої поверхнею п'яткової кістки.<br>
                <em><strong>Таранно-п'ятково-човноподібний суглоб</strong></em>. Між таранною, п'ятковою і човноподібною кістками. П'яткової-кубовидний суглоб. Між п'яткової і кубовидної кісткою.<br>
                <em><strong>Поперечний суглоб передплесни</strong></em>. Термін для опису поперечного плоского суглоба, перетинає предплюсну по всій ширині, включаючи Таран-п'яткової-човноподібний суглоб і п'яткової-кубовидний суглоб.<br>
                <em><strong>Клиночовноподібний суглоб</strong></em>. Між клиноподібною і човноподібною кісткою.<br>
                <em><strong>Міжклиновидні суглоби</strong></em>. Між трьома клиноподібними кістками.<br>
                <em><strong>Клинокубовидний суглоб</strong></em>. Між латеральною клиноподібною і кубовидною кістками.</p>
              <p><strong>Рухи передплесни</strong><br>
                Інверсія і виворіт стопи.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhpredpljusnevyj-sustav.png"><img alt="Міжпредплесневий суглоб" src="/app/assets/images/anatomy/mezhpredpljusnevyj-sustav.png"></a>
              <p style="text-align: center;">Міжпредплесневий суглоб<br>
                &nbsp;</p>
              <h2 id="h2">Предплесно-плесневі і міжплесневі суглоби</h2>
              <p><strong>Тип суглобів</strong><br>
                Синовіальний плаский.</p>
              <p><strong>Зчленіння<br>
              </strong><em><strong>Предплесно-плесневі суглоби</strong></em>. Між дистальним (переднім) поруч кістокПередплесно (кубовидної і трьома клиновидних) і підставами плеснових кісток.<br>
                <em><strong>Міжпредплесневий суглоби</strong></em>. Між фасетками на суміжних сторонах підстав всіх латеральних плеснових кісток.</p>
              <p><strong>Рухи</strong><br>
                Можливі невеликі ковзаючі рухи плеснових кісток, обмежені зв'язками і пов'язаними кістками, при інверсії і вивороті стопи.<br>
                &nbsp;</p>
              <h2 id="h2">Плеснефалангові суглоби</h2>
              <p><strong>Тип суглобу</strong><br>
                Синовіальний мищелковий.</p>
              <p><strong>Зчленіння</strong><br>
                Між головкою плесна і підставою проксимальної фаланги.<br>
                <br>
                <strong>Примітка</strong>: капсула суглоба неповна на дорсальній частині, де вона займається розширенням сухожилля розгинати м'язи.</p>
              <p><strong>Рухи</strong><br>
                Згинання та розгинання. Відведення і приведення. Комбіновані руху можуть викликати пасивне обертальний рух.<br>
                <br>
                <strong>Примітка</strong>: при згинанні пальці з'єднуються разом; при розгинанні вони розходяться і зміщуються кілька латерально. Рухи менш інтенсивні, ніж у відповідних суглобах кисті.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/predpljusne-pljusnevyj-sustav.png"><img alt="Предплесно-плесневий суглоб" src="/app/assets/images/anatomy/predpljusne-pljusnevyj-sustav.png"></a>
              <p>&nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/predpljusne-pljusnevyj-mezhpljusnevyj-pljusnefalangovyj-sustavy.png"><img alt="Предплесно-плесневий, міжплюсневий і плюснефаланговий суглоби" src="/app/assets/images/anatomy/predpljusne-pljusnevyj-mezhpljusnevyj-pljusnefalangovyj-sustavy.png"></a>
              <p style="text-align: center;"><span style="text-align: center;">Предплесно-плесневий, міжплюсневий і плюснефаланговий суглоби<br>
<br type="_moz">
</span></p>
              <h2 id="h2">Мыжфаланговы суглоби</h2>
              <p><strong>Тип суглобу</strong><br>
                Синовіальний шарнірний.</p>
              <p><strong>Зчленіння</strong><br>
                Між проксимальними і середніми фалангами (проксимальний міжфаланговий суглоб) або середніми і дистальними фалангами (дистальний міжфаланговий суглоб).</p>
              <p><strong>Рухи</strong><br>
                Згинання і розгинання.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/pljusnefalangovyj-i-mezhfalangovyj-sustavy.png"><img alt="Плюснефаланговий і міжфаланговий суглоби" src="/app/assets/images/anatomy/pljusnefalangovyj-i-mezhfalangovyj-sustavy.png"></a>
              <p style="text-align: center;">&nbsp;Плюснефаланговий і міжфаланговий суглоби</p>
            </div>
          </div>

        </div>

      </div>    </div>
  </div>
</div>
