<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суставы верхней конечности</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Локтевой сустав</h2>
              <p><strong>Тип сустава</strong> <br>
                Синовиальный шарнирный сустав (блоковидный шарнирный сустав).</p>
              <p><strong>Сочленение</strong> <br>
                Верхняя поверхность головки лучевой кости соединяется с головкой плечевой кости. Вертельная вырезка локтевой кости соединяется с вертелом плечевой кости (который образует «шаровое устройство» и основной фактор стабилизации).</p>
              <p><strong>Суставная капсула</strong><br>
                Относительно неплотная суставная капсула простирается от короноидалыюй ямки и ямки локтевого отростка плечевой кости до короноидального и локтевого отростков локтевой кости и до кольцевой связки, окружающей головку лучевой кости. Капсула спереди и сзади тонкая, что допускает сгибание и разгибание, но усиливается по бокам коллатеральными связками.</p>
              <p><strong>Связки</strong><br>
                <strong><em>Локтевая (медиальная) коллатеральная связка.</em></strong> Три крепкие полоски, укрепляющие медиальную сторону капсулы.<br>
                <em><strong>Лучевая (латеральная) коллатеральная связка.</strong></em> Крепкая треугольная связка, укрепляющая латеральную сторону капсулы.</p>
              <p><strong>Стабилизирующие сухожилия</strong><br>
                Сухожилия двуглавой мышцы плеча, трехглавой мышцы плеча, плечевой мышцы и других мышц, расположенных на предплечье. Эти сухожилия пересекают локтевой сустав и обеспечивают дополнительную безопасность.</p>
              <p><strong>Движения<br>
              </strong> Только сгибание и разгибание.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/loktevoj-sustav-vid-sboku.png"><img alt="Локтевой сустав: вид сбоку" src="/app/assets/images/anatomy/loktevoj-sustav-vid-sboku.png"></a>
              <p style="text-align: center;">Локтевой сустав: вид сбоку</p>
              <br>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/loktevoj-sustav-medialnyj-vid.png"><img alt="Локтевой сустав: медиальный вид" src="/app/assets/images/anatomy/loktevoj-sustav-medialnyj-vid.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Локтевой сустав: медиальный вид<br>
                &nbsp;</p>
              <h2 id="h2">Проксимальный лучелоктевой сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный шарнирный сустав.</p>
              <p><strong>Сочленение<br>
              </strong> Покрытая диском головка лучевой кости вращается в пределах кольца, образованного лучевой вырезкой на локтевой кости и кольцевой связкой лучевой кости.<br>
                <br>
                <strong>Примечание</strong>: синовиальная полость этого сустава продолжает (связана с) полость локтевого сустава.</p>
              <p>&nbsp;<strong>Движения</strong><br>
                Пронация и супинация предплечья.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/proksimalnyj-lucheloktevoj-sustav-vid-speredi.png"><img alt="Проксимальный (верхний) лучелоктевой сустав: вид спереди" src="/app/assets/images/anatomy/proksimalnyj-lucheloktevoj-sustav-vid-speredi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Проксимальный (верхний) лучелоктевой сустав: вид спереди&nbsp;</p>
              <h2 id="h2">Дистальный лучелоктевой сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный шарнирный сустав.</p>
              <p><strong>Сочленение</strong><br>
                Между головкой локтевой кости и локтевой вырезкой лучевой кости.<br>
                <br>
                <strong>Примечание</strong>: волокнистый суставной диск объединяет шиловидный отросток локтевой кости и медиальную часть дистального конца лучевой кости.</p>
              <p><strong>Движения</strong><br>
                Пронация и супинация предплечья.</p>
              <h2 id="h2">Промежуточный лучелоктевой сустав</h2>
              <p>&nbsp;<strong>Тип сустава</strong><br>
                Синдесмоз.</p>
              <p><strong>Сочленение</strong><br>
                Соединяет межкостную границу лучевой кости с межкостной границей локтевой кости через межкостную мембрану. Кроме того, тонкая волокнистая полоска, называющаяся косой хордой межкостной перепонки предплечья, соединяет локтевую бугристость с проксимальным концом диафиза лучевой кости.</p>
              <p><strong>Функция</strong><br>
                Увеличивает поверхность отхождения глубоких мышц предплечья; помогает соединять лучевую и локтевую кость и передает локтевой кости усилия, проходящие вверх по руке вдоль лучевой кости.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-vid-speredi(1).png"><img alt="Дистальный и промежуточный лучелоктевой сустав: а) вид спереди" src="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-vid-speredi(1).png"></a> <br>
              <br>
              <br>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-venechnyj-vid.png"><img alt="Дистальный и промежуточный лучелоктевой сустав: венечный вид" src="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-venechnyj-vid(1).png"></a>
              <p style="text-align: center;"><span style="text-align: center;">Дистальный и промежуточный лучелоктевой сустав:&nbsp;</span><br style="text-align: center;">
                <span style="text-align: center;">а) вид спереди; б) венечный вид</span></p>
              <h2 id="h2">Лучезапястный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный эллипсовидный.</p>
              <p><strong>Сочленение</strong><br>
                Дистальная поверхность лучевой кости и суставной диск (этот же диск описывается в дистальном лучелоктевом суставе, см. предыдущую страницу) соединяется с проксимальным рядом запястных суставов: ладьевидным, полулунным и трехгранным.</p>
              <p><strong>Движения</strong><br>
                Движения осуществляются в комбинации с межзапястными суставами: сгибание, разгибание, приведение (локтевое смещение), отведение (лучевое смещение) и вращательное движение.</p>
              <h2 id="h2">Межзапястные суставы</h2>
              <p><strong>Тип сустава</strong><br>
                Ряд плоских синовиальных суставов.</p>
              <p><strong>Сочленение</strong><br>
                Эти суставы имеют соединения между двумя запястными рядами (срединно-запястный сустав) и соединения между каждой костью проксимального и дистального запястного ряда.</p>
              <p><strong>Движения</strong><br>
                Движения осуществляются в комбинации с лучезапястным суставом: сгибание, разгибание, приведение (локтевое смещение), отведение (лучевое смещение) и вращательное движение.</p>
              <h2 id="h2">Пястно-запястный сустав большого пальца</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный седловидный сустав.</p>
              <p><strong>Сочленение</strong><br>
                Между костью-трапецией и основанием первой пястной кости (большой палец).</p>
              <p><strong>Движения</strong><br>
                Сгибание, разгибание, отведение и приведение. При сильном сгибании первая пястная кость вращается медиально так, что ладонная поверхность большого пальца становится противопоставленной подушечкам пальцев. И наоборот, небольшое латеральное вращение происходит, когда большой палец полностью разгибается. Объединение этих движений создает приблизительное вращательное движение большого пальца.</p>
              <h2 id="h2">Общий пястно-запястный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный плоский.</p>
              <p><strong>Сочленение</strong><br>
                Между дистальным рядом запястных костей и основаниями средних четырех пястных костей кисти.</p>
              <p><strong>Движения</strong><br>
                Возможно только незначительное движение. Однако сочленение пятой пястной кости с крючковатой костью является сглаженным седловидным суставом, что допускает небольшое противопоставление мизинца поперек ладони.</p>
              <h2 id="h2">Межпястные суставы</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный плоский.</p>
              <p><strong>Сочленение</strong><br>
                Между соседними сторонами оснований 2-5-пястных костей.</p>
              <p><strong>Движения</strong><br>
                Ограниченное движение между соседними пястными костями.<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/luchezapjastnyj-mezhzapjastnye-pjastnozapjastnye-i-mezhpjastnye-sustavy.png"><img alt="Лучезапястный (запястье), межзапястные, пястно-запястные и межпястные суставы" src="/app/assets/images/anatomy/luchezapjastnyj-mezhzapjastnye-pjastnozapjastnye-i-mezhpjastnye-sustavy.png"></a>
              <p style="text-align: center;">Лучезапястный (запястье), межзапястные, пястно-запястные и межпястные суставы<br>
                &nbsp;</p>
              <h2 id="h2">Пястно-фаланговые суставы</h2>
              <p><strong>Тип сустава</strong><br>
                Ряд плоских синовиальных суставов.</p>
              <p><strong>Сочленение</strong><br>
                Между головкой пястной кости и основанием проксимальной фаланги.<br>
                <br>
                <strong>Примечание</strong>: капсула сустава неполная на дорсальной стороне, где она замещается расширением длинного сухожилия разгибающей мышцы.<br>
                &nbsp;</p>
              <p><strong>Движения</strong><br>
                Сгибание и разгибание. Отведение и приведение (возможно только при разгибании, но с незначительной подвижностью в большом пальце). Сочетанные движения могут вызывать вращательное движение.</p>
              <h2 id="h2">Межфаланговые суставы</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный шарнирный.</p>
              <p><strong>Сочленение</strong><br>
                Между проксимальными и средними фалангами (проксимальный межфаланговый сустав) или средними и дистальными фалангами (дистальный межфаланговый сустав).</p>
              <p><strong>Движения</strong><br>
                Сгибание и разгибание.<br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/pjastnofalangovye-i-mezhfalangovye-sustavy-vid-speredi.png"><img alt="Пяснтно-фаланговые и межфаланговые суставы: вид спереди" src="/app/assets/images/anatomy/pjastnofalangovye-i-mezhfalangovye-sustavy-vid-speredi.png"></a>
              <p style="text-align: center;">&nbsp;Пястно-фаланговые и межфаланговые суставы: вид спереди</p>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>
