<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суглоби верхньої кінцівки</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <H2 id = "h2"> Ліктьовий суглоб </h2>
              <P> <strong> Тип суглоба </strong> <br>
                Синовіальний шарнірний суглоб (блоковідний шарнірний суглоб). </P>
              <Strong> Зчленіння </strong> <br>
              Верхня поверхня головки променевої кістки з'єднується з голівкою плечової кістки. Вертельную вирізка ліктьової кістки з'єднується з рожном плечової кістки (який утворює «кульове пристрій» і основний фактор стабілізації). </P>
            <P> <strong> Суглобова капсула </strong> <br>
              Щодо неплотная суглобова капсула простягається від короноідалиюй ямки і ямки ліктьового відростка плечової кістки до короноідального і ліктьового відростків ліктьової кістки і до кільцевої зв'язки, навколишнього головку променевої кістки. Капсула спереду і ззаду тонка, що допускає згинання та розгинання, але посилюється з боків колатеральних зв'язками. </P>
            <P> <strong> Зв'язки </strong> <br>
              <Strong> <em> Ліктьова (медійна) колатеральна зв'язка. </Em> </strong> Три міцні смужки, які зміцнюють медіальну сторону капсули. <br>
              <Em> <strong> Променева (латеральна) колатеральна зв'язка. </Strong> </em> Міцна трикутна зв'язка, що зміцнює латеральну сторону капсули. </P>
            <P> <strong> Стабілізуючі сухожилля </strong> <br>
              Сухожилля двоголового м'яза плеча, триголовий м'язи плеча, плечовий м'язи і інших м'язів, розташованих на передпліччі. Ці сухожилля перетинають ліктьовий суглоб і забезпечують додаткову безпеку. </P>
            <P> <strong> Рухи <br> </strong>
              Тільки згинання та розгинання. </P>
            <a class="zoomable img-to-center" href="/app/assets/images/anatomy/loktevoj-sustav-vid-sboku.png"> <img alt = "Ліктьовий суглоб: вид збоку" src = "/ app / assets / images / anatomy / loktevoj-sustav-vid-sboku.png "> </a>
            <P style = "text-align: center;"> Ліктьовий суглоб: вид збоку </p>
            <br>
            <a class="zoomable img-to-center" href="/app/assets/images/anatomy/loktevoj-sustav-medialnyj-vid.png"> <img alt = "Ліктьовий суглоб: медіальний вигляд" src = "/ app / assets / images / anatomy / loktevoj-sustav-medialnyj-vid.png "> </a>
            <P> &nbsp; </p>
            <P style = "text-align: center;"> Ліктьовий суглоб: медіальний вигляд <br>
              &nbsp; </p>
            <H2 id = "h2"> Проксимальний променево-ліктьовий суглоб </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Синовіальний шарнірний суглоб. </P>
            <P> <strong> Зчленіння <br> </strong> Вкрита диском головка променевої кістки обертається в межах кільця, утвореного променевої вирізкою на ліктьової кістки і кільцевої зв'язкою променевої кістки. <br>
              <br> <strong> Примітка </strong>: синовіальна порожнина цього суглоба продовжує (пов'язана з) порожнину ліктьового суглоба. </p>
            <P> &nbsp; <strong> Руху </strong> <br>
              Пронація і супінація передпліччя. </P>
            <a class="zoomable img-to-center" href="/app/assets/images/anatomy/proksimalnyj-lucheloktevoj-sustav-vid-speredi.png"> <img alt = "Проксимальний (верхній) лучелоктевой суглоб: вид спереду "src =" / app / assets / images / anatomy / proksimalnyj-lucheloktevoj-sustav-vid-speredi.png "> </a>
            <P> &nbsp; </p>
            <P style = "text-align: center;"> Проксимальний (верхній) лучелоктевой суглоб: вид спереду & nbsp; </p>
            <H2 id = "h2"> Дистальний лучелоктевой суглоб </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Синовіальний шарнірний суглоб. </P>
            <P> <strong> Зчленіння </strong> <br>
              Між головкою ліктьової кістки і ліктьовий вирізкою променевої кістки. <br>
              <br> <strong> Примітка </strong>: волокнистий суглобовий диск об'єднує шилоподібний відросток ліктьової кістки і медіальну частину дистального кінця променевої кістки. </p>
            <P> <strong> Рухи </strong> <br>
              Пронація і супінація передпліччя. </P>
            <H2 id = "h2"> Проміжний лучелоктевой суглоб </h2>
            <P> &nbsp; <strong> Тип суглоба </strong> <br>
              Синдесмоз. </P>
            <P> <strong> Зчленіння </strong> <br>
              Поєднує межкостную кордон променевої кістки з межкостной кордоном ліктьової кістки через межкостную мембрану. Крім того, тонка волокниста смужка, яка називається косою хордою межкостной перетинки передпліччя, з'єднує ліктьову бугристость з проксимальним кінцем діафіза променевої кістки. </P>
            <P> <strong> Функція </strong> <br>
              Збільшує поверхню відходження глибоких м'язів передпліччя; допомагає з'єднувати променеву і ліктьову кістку і передає ліктьової кістки зусилля, що проходять вгору по руці вздовж променевої кістки. </p>
            <A class = "zoomable img-to-center" href="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-vid-speredi(1).png"><img alt = "Дистальний і проміжний лучелоктевой суглоб: а) вид спереду" src="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-vid-speredi(1).png"></a> <br>
            <br>
            <br>
            <A class = "zoomable img-to-center" href="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-venechnyj-vid.png"><img alt = "Дистальний і проміжний лучелоктевой суглоб: вінцевий вид" src="/app/assets/images/anatomy/distalnyj-i-promezhutochnyj-luchloktevoj-sustav-venechnyj-vid(1).png"></a>
            <P style = "text-align: center;"> <span style = "text-align: center;"> Дистальний і проміжний лучелоктевой суглоб: &nbsp; </span> <br style = "text-align: center;" >
              <Span style = "text-align: center;"> а) вид спереду; б) вінцевий вид </span> </p>
            <H2 id = "h2"> Променевозап'ястний суглоб </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Синовіальний еллипсовидний. </P>
            <P> <strong> Зчленіння </strong> <br>
              Дистальна поверхню променевої кістки і суглобової диск (цей же диск описується в дистальному лучелоктевой суглобі, див. Попередню сторінку) з'єднується з проксимальним рядом зап'ястних суглобів: човноподібної, напівмісячним і тригранним. </P>
            <P> <strong> Рухи </strong> <br>
              Рухи здійснюються в комбінації з межзапястних суглобами: згинання, розгинання, приведення (локтевое зміщення), відведення (променеве зміщення) і обертальний рух. </P>
            <H2 id = "h2"> Міжзап'ястні суглоби </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Ряд плоских синовіальних суглобів. </P>
            <P> <strong> Зчленіння </strong> <br>
              Ці суглоби мають з'єднання між двома наручний рядами (серединно-зап'ястний суглоб) і з'єднання між кожною кісткою проксимального і дистального зап'ястного ряду. </P>
            <P> <strong> Рухи </strong> <br>
              Рухи здійснюються в комбінації з променезап'ясткових суглобів: згинання, розгинання, приведення (локтевое зміщення), відведення (променеве зміщення) і обертальний рух. </P>
            <H2 id = "h2"> П'ястно-зап'ястний суглоб великого пальця </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Синовіальний сідлоподібний суглоб. </P>
            <P> <strong> Зчленіння </strong> <br>
              Між кісткою-трапецією і підставою першої п'ясткової кістки (великий палець). </P>
            <P> <strong> Рухи </strong> <br>
              Згинання, розгинання, відведення і приведення. При сильному згинанні перша п'ястно кістка обертається медіально так, що ладонная поверхню великого пальця стає протиставила подушечкам пальців. І навпаки, невелике латеральное обертання відбувається, коли великий палець повністю розгинається. Об'єднання цих рухів створює приблизне обертальний рух великого пальця. </P>
            <H2 id = "h2"> Загальний п'ястно-зап'ястний суглоб </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Синовіальний плоский. </P>
            <P> <strong> Зчленіння </strong> <br>
              Між дистальним рядом зап'ястних кісток і підставами середніх чотирьох п'ясткових кісток кисті. </P>
            <P> <strong> Рухи </strong> <br>
              Можливо тільки незначний рух. Однак зчленування п'ятої п'ясткової кістки з гачкуватої кісткою є плавним сідлоподібним суглобом, що допускає невелике протиставлення мізинця поперек долоні. </P>
            <H2 id = "h2"> Міжп'ястні суглоби </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Синовіальний плоский. </P>
            <P> <strong> Зчленіння </strong> <br>
              Між сусідніми сторонами підстав 2-5-п'ясткових кісток. </P>
            <P> <strong> Рухи </strong> <br>
              Обмежений рух між сусідніми п'ястно кістками. <br>
              &nbsp; </p>
            <A class = "zoomable img-to-left" href="/app/assets/images/anatomy/luchezapjastnyj-mezhzapjastnye-pjastnozapjastnye-i-mezhpjastnye-sustavy.png"><img alt = "Променевозап'ястний (зап'ястя), межзапястние, п'ястно-зап'ястні і межпястние суглоби" src="/app/assets/images/anatomy/luchezapjastnyj-mezhzapjastnye-pjastnozapjastnye-i-mezhpjastnye-sustavy.png"></a>
            <P style = "text-align: center;"> Променевозап'ястний (зап'ястя), межзапястние, п'ястно-зап'ястні і межпястние суглоби <br>
              &nbsp; </p>
            <H2 id = "h2"> П'ястно-фалангових суглоби </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Ряд плоских синовіальних суглобів. </P>
            <P> <strong> Зчленіння </strong> <br>
              Між головкою п'ясткової кістки і підставою проксимальної фаланги. <br>
              <br>
              <Strong> Примітка </strong>: капсула суглоба неповна на дорсальній стороні, де вона заміщується розширенням довгого сухожилля розгинати м'язи. <br>
              &nbsp; </p>
            <P> <strong> Рухи </strong> <br>
              Згинання та розгинання. Відведення і приведення (можливо тільки при розгинанні, але з незначною рухливістю в великому пальці). Поєднані руху можуть викликати обертальний рух. </P>
            <H2 id = "h2"> Міжфалангові суглоби </h2>
            <P> <strong> Тип суглоба </strong> <br>
              Синовіальний шарнірний. </P>
            <P> <strong> Зчленіння </strong> <br>
              Між проксимальними і середніми фалангами (проксимальний міжфаланговий суглоб) або середніми і дистальними фалангами (дистальний міжфаланговий суглоб). </P>
            <P> <strong> Рухи </strong> <br>
              Згинання та розгинання. <br>
              &nbsp; </p>
            <a class="zoomable img-to-center" href="/app/assets/images/anatomy/pjastnofalangovye-i-mezhfalangovye-sustavy-vid-speredi.png"> <img alt = "Пяснтно-фалангових і міжфалангові суглоби : вид спереду "src =" / app / assets / images / anatomy / pjastnofalangovye-i-mezhfalangovye-sustavy-vid-speredi.png "> </a>
            <P style = "text-align: center;"> &nbsp; П'ястно-фаланговs і міжфалангові суглоби: вид спереду </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
