<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суставы головы и позвоночного столба</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Височно-нижнечелюстной сустав</h2>
              <p><strong>Тип сустава</strong> <br>
                Синовиальный шарнирный сустав, выполняющий также функции плоского (скользящего) сустава.</p>
              <p><strong>Сочленение</strong> <br>
                Головка нижней челюсти соединяется с нижнечелюстной ямкой и суставным бугорком височной кости. Волокнистый диск отделяет суставные поверхности и принимает определенную форму при движениях в суставе.</p>
              <p><strong>Движения<br>
              </strong> Этот сустав является единственным подвижным суставом головы. Движение происходит во всех трех плоскостях: вверх и вниз, назад и вперед и вбок. Скользящее движение происходит выше диска. Шарнирное действие происходит ниже диска.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/visochno-nizhnecheljustnoj-sustav-vid-sboku.png"><img alt="Височно-нижнечелюстной сустав: вид сбоку" src="/app/assets/images/anatomy/visochno-nizhnecheljustnoj-sustav-vid-sboku.png"></a>
              <p style="text-align: center;">&nbsp;Височно-нижнечелюстной сустав: вид сбоку<br>
                &nbsp;</p>
              <h2 id="h2">Атлантозатылочный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Сочленение двух сторон функционирует как синовиальный эллипсовидный сустав.</p>
              <p><strong>Сочленение<br>
              </strong> Между затылочными мыщелками и верхними суставными фасетками атланта.</p>
              <p>&nbsp;<strong>Движения</strong><br>
                Сгибание и разгибание (кивание головы). Боковое сгибание.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/atlantozatylochny-sustav-vid-snizu.png"><img alt="Антлантозатылочный сустав: вид снизу" src="/app/assets/images/anatomy/atlantozatylochny-sustav-vid-snizu.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">&nbsp;Антлантозатылочный сустав: вид снизу<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/atlantozatylochnyj-sustav-vid-sboku.png"><img alt="Атлантозатылочный сустав: вид сбоку" src="/app/assets/images/anatomy/atlantozatylochnyj-sustav-vid-sboku.png"></a>
              <p style="text-align: center;">Атлантозатылочный сустав: вид сбоку<br>
                &nbsp;</p>
              <h2 id="h2">Атлантоаксиальный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Латеральный атлаптоаксиалъный сустав: синовиальный плоский сустав.<br>
                Срединный (сагиттальный) атлантоаксиальный сустав: синовиальный шарнирный сустав.</p>
              <p><strong>Сочленение</strong><br>
                Латеральный атлантоаксиальный сустав: между противоположными суставными отростками атланта и эпистрофеем.<br>
                Срединный (сагиттальный) атлантоаксиальный сустав: между зубами эпистрофея и передней дугой атланта и поперечной связкой.</p>
              <p><strong>Движения</strong><br>
                Вращение головы вокруг вертикальной оси (череп и атлант двигаются как единое целое).</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/atlantoaksialnyj-sustav-vid-szadi.png"><img alt="Атлантоаксиальный сустав: вид сзади" src="/app/assets/images/anatomy/atlantoaksialnyj-sustav-vid-szadi.png"></a>
              <p style="text-align: center;">Атлантоаксиальный сустав: вид сзади<br>
                &nbsp;</p>
              <h2 id="h2">Суставы между телами позвонков</h2>
              <p><strong>Тип сустава</strong><br>
                Хрящевой симфиз (ограниченно подвижный).</p>
              <p><strong>Сочленение</strong><br>
                Между соседними поверхностями тел позвонков, объединенных волокнистым межпозвоночным диском.</p>
              <p><strong>Движения</strong><br>
                Ограниченное движение происходит между любыми двумя соседними позвонками, но имеется значительное движение во всем позвоночном столбе.<br>
                Шейный отдел: сгибание, разгибание, боковое сгибание с вращением (т. е. боковое сгибание не может произойти без элемента вращения и наоборот).<br>
                Грудной отдел: вращение, всегда связанное с элементом бокового сгибания, и наоборот. Могут происходить только небольшое сгибание и разгибание (ограниченные наличием ребер и грудины). Поясничный отдел: сгибание, разгибание. Может происходить только небольшое вращение (ограниченное углами суставных отростков).</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/razrez-cherez-pozvonok.png"><img alt="Поперечный разрез межпозвоночного диска" src="/app/assets/images/anatomy/razrez-cherez-pozvonok.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Поперечный разрез межпозвоночного диска<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/pozvonki-vid-sboku.png"><img alt="Позвонки: вид сбоку" src="/app/assets/images/anatomy/pozvonki-vid-sboku.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Позвонки: вид сбоку<br>
                &nbsp;</p>
              <h2 id="h2">Суставы между дугами позвонков</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный плоский сустав.</p>
              <p><strong>Сочленение</strong><br>
                Между противоположными суставными отростками смежных позвонков, соединяющих смежные дуги позвонков.</p>
              <p><strong>Движения</strong><br>
                Между любыми двумя соседними позвонками происходит только небольшое движение, но при этом имеется значительное движение во всем позвоночном столбе в целом.<br>
                Шейный отдел: сгибание, разгибание, боковое сгибание с вращением (т. е. боковое сгибание не может произойти без элемента вращения и наоборот).<br>
                Грудной отдел: вращение всегда связано с элементом бокового сгибания и наоборот. Может происходить только сильно ограниченное сгибание и разгибание (ограниченные наличием ребер и грудины). Поясничный отдел: сгибание, разгибание. Может происходить только сильно ограниченное вращение (ограниченное углами суставных отростков).</p>
            </div>
          </div>

        </div>

        </div>
      </div>

    </div>
  </div>
</div>
