<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суставы</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="mumia"><img src="/app/assets/images/mumia.png" alt=""></div>
          </div>
          <div class="col-md-6 bodypart">
            <ul>
              <li><a href="#/joints/head"><span><img src="/app/assets/images/head.png" alt="ALT"></span><i>Голова и позвоночник</i> </a></li>
              <li><a href="#/joints/shoulder"><span><img src="/app/assets/images/neck.png" alt="ALT"></span><i>Плечевой пояс</i></a></li>
              <li><a href="#/joints/sternum"><span><img src="/app/assets/images/stomach.png" alt="ALT"></span><i>Ребра и грудина</i></a></li>
              <li><a href="#/joints/pelvis"><span><img src="/app/assets/images/pelvis.png" alt="ALT"></span><i>Тазовый пояс</i></a></li>
              <li><a href="#/joints/hand"><span><img src="/app/assets/images/hand.png" alt="ALT"></span><i>Верхняя конечность</i></a></li>
              <li><a href="#/joints/foot"><span><img src="/app/assets/images/foot.png" alt="ALT"></span><i>Нижняя конечность</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Суставы человека</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <p><strong>Суставы</strong> имеются во всех костях за исключением подъязычной кости на шее. Суставы также называются сочленениями.  Суставы имеют две функции: соединение костей и обеспечение движения жестких скелетных структур тела. В случае соединения костей подвижность или неподвижность зависят от:  <br>
                1) количества связующего материала между костями; <br>
                2) характера материала между костями; <br>
                3) формы костных поверхностей; <br>
                4) степени напряжения связок или мышц, входящих в сустав; <br>
                5) положения связок и мышц.</p>
              <h2 id="h2">Классификация суставов</h2>
              <p>Существует два вида классификации суставов: функциональная и структурная. <br>
                <br>
                <strong>Функциональная классификация</strong> суставов основывается на количестве движений, допускаемых в суставах.  Неподвижные суставы (синартротические)  Эти суставы находятся главным образом в осевом скелете, где для защиты внутренних органов важна прочность и неподвижность суставов.  Ограниченно подвижные суставы (амфиартротические, полуподвижные)  Подобны неподвижным суставам и выполняют те же функции, что и суставы, находящиеся главным образом в осевом скелете.  Свободно подвижные суставы (диартротические, истинные)  Эти суставы преобладают в конечностях, где требуется большой диапазон движений.</p>
              <p><strong>Структурная<br>
                <br>
                Волокнистые суставы</strong><br>
                <br>
                В волокнистом суставе волокнистая ткань прикрепляется к костям. В этом случае не имеется никакой суставной полости. В целом этот сустав имеет небольшой диапазон движений или никакого движения, т. е. является неподвижным (синартротическим). Волокнистые суставы бывают трех видов: шовные, синдесмозные и гвоздевидные.</p>
              <p><strong><em>1. Шовные</em></strong><br>
                Единственным примером волокнистых шовных суставов являются швы черепа, где неровные края костей прочно скрепляются и связываются волокнами соединительной ткани, при этом не допускается никакого активного движения. Слои надкостницы на внутренних и внешних слоях соседних костей соединяют промежуток между костями и образуют главный фактор соединения. Между соседними суставными поверхностями имеется слой волокнистой сосудистой ткани, которая также участвует в соединении костей. Эта волокнистая сосудистая ткань, наряду с двумя слоями надкостницы, называется шовной (сутуральной) связкой. Волокнистая ткань окостеневает с увеличением возраста, этот процесс происходит вначале в глубокой части шва, постепенно распространяясь на поверхностную часть. Этот процесс окостенения именуется синостозом.</p>
              <p><strong><em>2. Синдесмозные</em></strong><br>
                Синдесмозные суставы - это волокнистые суставы, в которых волокнистая ткань образует межкостную мембрану или связку, т. е. имеется полоска волокнистой ткани, которая допускает небольшое движение, например между лучевой и локтевой костью и между большеберцовой и малоберцовой костью.</p>
              <p>&nbsp;<strong><em>3. Гвоздевидные (стержневые)</em></strong><br>
                Гвоздевидные суставы относятся к волокнистым суставам, в которых «гвоздь», или «стержень», входит в углубление. Единственным примером такого сустава у людей являются зубы, закрепленные в углублениях челюстных костей.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/polozhenie-shva.png"><img alt="Положение шва" src="/app/assets/images/anatomy/polozhenie-shva.png"></a>
              <p style="text-align: center;">&nbsp;Положение шва<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/polozhenie-shva-srez.png"><img alt="Положение шва: срез" src="/app/assets/images/anatomy/polozhenie-shva-srez.png"></a>
              <p style="text-align: center;">&nbsp;Положение шва: срез<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhkostnaja-membrana-mezhdu-luchevoj-i-loktevoj-kostju.png"><img alt="Межкостная мембрана между лучевой и локтевой костью" src="/app/assets/images/anatomy/mezhkostnaja-membrana-mezhdu-luchevoj-i-loktevoj-kostju.png"></a>
              <p style="text-align: center;">&nbsp;Межкостная мембрана между лучевой и локтевой костью<br>
                &nbsp;</p>
              <p>&nbsp;<strong>Хрящевые суставы</strong><br>
                <br>
                В хрящевых суставах кости соединяются непрерывной пластиной гиалинового хряща или волокнистого диска. В этом случае также нет никакой суставной полости. Они могут быть или неподвижными (синходрозными) или полуподвижными (симфизарными). Чаще встречаются полуподвижные суставы.<br>
                <br>
                <strong>Синхондрозные</strong><br>
                <br>
                Примеры хрящевых суставов, которые являются неподвижными — это эпифизарные пластины роста длинных костей. Эти пластины выполнены из гиалинового хряща, который окостеневает у молодых людей (см. выше по тексту). Таким образом участок кости, где сустав снабжен такой пластиной, называется синхондрозом. Другим примером такого сустава, который в конечном счете окостеневает, является сустав между первым ребром и рукояткой грудины.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/chrjasch(2).png"><img alt="Эпифизарный хрящ" src="/app/assets/images/anatomy/chrjasch(2).png"></a>
              <p style="text-align: center;">&nbsp;Хрящевое неподвижное (синхондрозное) сочленение (вид спереди): эпифизарная пластина в растущей длинной кости<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/grudinno-rebernyj-sustav(2).jpg"><img alt="Грудинно-реберный сустав" src="/app/assets/images/anatomy/grudinno-rebernyj-sustav(2).jpg"></a>
              <p style="text-align: center;">Хрящевое неподвижное (синхондрозное) сочленение (вид спереди): грудино-реберный сустав между рукояткой и первым ребром.<br>
                <br>
                &nbsp;</p>
              <p>&nbsp;<strong>Симфизарные</strong><br>
                <br>
                Примером частично подвижного хрящевого сустава являются лобковый симфиз тазового пояса и межпозвоночные суставы позвоночного столба. В обоих случаях суставные поверхности костей покрыты гиалиновым хрящом, который, в свою очередь, сращен с волокнистым хрящом (волокнистый хрящ является сжимаемым и эластичным и действует как амортизатор).</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/lobkovoe-sochlenenie1(1).png"><img alt="Лобковый симфиз" src="/app/assets/images/anatomy/lobkovoe-sochlenenie1(1).png"></a>
              <p style="text-align: center;">&nbsp;Хрящевое частично подвижное (амфиартротическое/симфизарное) сочленение (вид спереди): лобковый симфиз тазового пояса<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/mezhpozvonochnyj-disk(1).png"><img alt="Межпозвоночные диски" src="/app/assets/images/anatomy/mezhpozvonochnyj-disk(1).png"></a>
              <p style="text-align: center;">&nbsp;Хрящевое частично подвижное (амфиартротическое/симфизарное) сочленение (вид спереди): межпозвоночные суставы<br>
                &nbsp;</p>
              <p>&nbsp;<strong>Синовиальные суставы</strong><br>
                <br>
                Синовиальные суставы имеют суставную полость, которая содержит синовиальную жидкость. Эти суставы являются свободно подвижными (диартротическими) суставами. Синовиальные суставы имеют множество различающих особенностей:<br>
                <br>
                <strong><em>Суставной хрящ (или гиалиновый хрящ) </em></strong>покрывает концы костей, которые образуют сустав.<br>
                <br>
                <em><strong>Суставная полость</strong></em>: эта полость является больше потенциальным пространством, чем реальным, потому что она заполнена смазывающей синовиальной жидкостью. Суставная полость состоит из двухслойного «рукава» или оболочки, называющейся суставной капсулой.<br>
                <br>
                Внешний слой суставной капсулы называется <em><strong>капсульной связкой</strong></em>. Эта связка является плотной, эластичной, волокнистой соединительной тканью, которая представляет собой непосредственное продолжение надкостницы соединяющихся костей. Внутренний слой, или синовиальная оболочка, является гладкой мембраной, образованной неплотной соединительной тканью, которая покрывает капсулу и все внутренние суставные поверхности, за исключением гиалинового хряща.<br>
                <br>
                <em><strong>Синовиальная жидкость</strong></em>: скользкая жидкость, которая занимает свободные пространства в пределах суставной сумки. Синовиальная жидкость также находится в пределах суставного хряща и создает тонкий слой (пленку), уменьшающий трение между хрящами. При движении сустава жидкость выжимается из хряща. Синовиальная жидкость питает хрящ, являющийся аваскулярным (т. е. не содержащим никаких кровеносных сосудов): жидкость также содержит фагоцитарные клетки (клетки, поглощающие неорганические вещества), которые устраняют из суставной полости микробы или отходы жизнедеятельности клеток. Количество синовиальной жидкости изменяется в различных суставах, но ее всегда достаточно для образования тонкого слоя для уменьшения трения. При повреждении сустава вырабатывается дополнительное количество жидкости, что приводит к характерному отеку сустава. Позднее синовиальная мембрана повторно поглощает эту дополнительную жидкость.<br>
                <br>
                <em><strong>Коллатеральные или дополнительные связки</strong></em>: синовиальные суставы укреплены и усилены множеством связок. Эти связки являются или капсульными, т. е. утолщенными частями непосредственно волокнистой капсулы, или независимыми коллатеральными связками, которые не входят в состав капсулы. Связки всегда связывают кость с костью, и в соответствии с их положением и количеством вокруг сустава они ограничивают движение в определенных направлениях и предотвращают нежелательные движения. Как правило, чем больше связок, которые имеет сустав, тем более прочным он является.<br>
                <br>
                <em><strong>Сумки</strong></em> - это заполненные жидкостью мешочки, которые амортизируют сустав. Они покрыты синовиальной оболочкой и содержат синовиальную жидкость. Они находятся между сухожилиями и костью, связками и костью или мышцей и костью и уменьшают трение, действуя в качестве «подушки».<br>
                <br>
                <strong><em>Влагалища сухожилий</em></strong> также часто находятся в непосредственной близости от синовиального сустава. Они имеют такую же структуру, как сумки, и окружают сухожилия, подверженные трению, для их защиты.<br>
                <br>
                <strong><em>Суставные диски (мениски)</em></strong> находятся в некоторых синовиальных суставах. Они действуют в качестве амортизаторов (подобно волокнистому диску в лобковом симфизе). Например, в коленном суставе два имеющих форму полумесяца волокнистых диска, называющихся медиальным и латеральный мениском, лежат между медиальными и латеральными мыщелками бедренной кости и медиальным и латеральным мыщелком большеберцовой кости.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/sinovialnyj-sustav.png"><img alt="Синовиальный сустав" src="/app/assets/images/anatomy/sinovialnyj-sustav.png"></a>
              <p style="text-align: center;">&nbsp;Типичный синовиальный сустав<br>
                <br>
                &nbsp;</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/struktury-Synovialnogo-sustava(1).png"><img alt="Структуры синовиального сустава" src="/app/assets/images/anatomy/struktury-Synovialnogo-sustava(1).png"></a>
              <p style="text-align: center;">&nbsp;Поглощающие удар и уменьшающие трение структуры синовиального сустава<br>
                &nbsp;</p>
              <p><strong>&nbsp;Семь типов синовиального сустава</strong><br>
                <br>
                <strong><em>Плоский, или скользящий</em></strong><br>
                <br>
                В скользящих суставах движение происходит, когда две, обычно плоские или немного изогнутые, поверхности скользят в поперечном направлении относительно друг друга. Примеры: акромиально-ключичный сустав; суставы между кистевыми костями в запястье или костями предплюсны в лодыжке; фасеточные суставы между позвонками; крестцово-подвздошный сустав.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/ploskij-ili-skolzjaschij-sustav.png"><img alt="Плоский или скользящий сустав" src="/app/assets/images/anatomy/ploskij-ili-skolzjaschij-sustav.png"></a>
              <p><em><strong>Блоковидный шарнирный сустав</strong></em><br>
                <br>
                В блоковидных шарнирных суставах движение происходит вокруг только одной оси, поперечной. Протрузия (выпячивание) одной кости вписывается в вогнутую или цилиндрическую суставную поверхность другой кости, обеспечивая сгибание и разгибание. Примеры: межфаланговые суставы, локтевой и коленный суставы.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/blokovidnyj-sharnirnyj-sustav(1).png"><img alt="Блоковидный шарнирный сустав" src="/app/assets/images/anatomy/blokovidnyj-sharnirnyj-sustav(1).png"></a>
              <p>&nbsp;<em><strong>Шарнирный сустав<br>
                <br>
              </strong></em>В шарнирных суставах движение происходит вокруг вертикальной оси, как в воротной петле. Почти цилиндрическая суставная поверхность кости выпячивается и вращается в пределах кольца, образованного костью или связкой. Примеры: зубы эпистрофея входят через отверстие в атланте, позволяя вращение головой. Кроме того, сустав между лучевой и локтевой костью в локте позволяет круглой головке лучевой кости вращаться в пределах «кольца» связки, которая запирается локтевой костью.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/sharnirnyj-sustav.png"><img alt="Шарнирный сустав" src="/app/assets/images/anatomy/sharnirnyj-sustav.png"></a>
              <p>&nbsp;<em><strong>Шаровой шарнирный сустав<br>
                <br>
              </strong></em>Шаровые шарнирные суставы состоят из «шара», образованного сферической или полусферической головкой одной кости, которая вращается в пределах вогнутого гнезда другой кости, позволяя сгибание, разгибание, приведение, отведение, вращательное движение и поворот. Таким образом, они являются мультиосевыми и обеспечивают самый большой диапазон движений всего сустава. Примеры: плечевой и бедренный сустав.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/sharovoj-sharnirnyj-sustav.png"><img alt="Шаровой шарнирный сустав" src="/app/assets/images/anatomy/sharovoj-sharnirnyj-sustav.png"></a>
              <p>&nbsp;<em><strong>Мыщелковый сустав<br>
                <br>
              </strong></em>Так же как и шаровые шарнирные суставы, мыщелковые суставы имеют сферическую суставную поверхность, которая вписывается в соответствующую вогнутую поверхность. Кроме того, как и шаровые шарнирные суставы, мыщелковые суставы обеспечивают сгибание, разгибание, отведение, приведение и вращательное движение. Однако расположение окружающих связок и мышц предотвращает активное вращение вокруг вертикальной оси. Примеры: пястно-фаланговые суставы пальцев (но не большого пальца).</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/myschelkovyj-sustav.png"><img alt="Мыщелковый сустав" src="/app/assets/images/anatomy/myschelkovyj-sustav.png"></a>
              <p>&nbsp;<em><strong>Седловидный сустав<br>
                <br>
              </strong></em>Седловидный сустав похож на мыщелковый сустав, за исключением того, что соединяющиеся поверхности имеют выпуклые и вогнутые области и напоминают два «седла», которые соединяются друг с другом, приспосабливая выпуклые поверхности к вогнутым. Седловидный сустав обеспечивает даже больше движения, чем мыщелковый сустав, например, разрешая «противопоставление» большого пальца другим пальцам. Пример: пястно-запястный сустав большого пальца.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/sedlovidnyj-sustav(1).png"><img alt="Седловидный сустав" src="/app/assets/images/anatomy/sedlovidnyj-sustav(1).png"></a>
              <p>&nbsp;<em><strong>Эллипсовидный сустав<br>
                <br>
              </strong></em>Эллипсовидный сустав фактически похож на шаровой шарнирный сустав, но суставные поверхности имеют эллипсовидную форму, а не сферическую. Движения такие же, как в шаровом шарнирном суставе, за исключением поворота, который предотвращается формой эллиптических поверхностей. Пример: лучезапястный сустав.</p>
              <a class="zoomable img-to-center" href="/app/assets/images/anatomy/ellipsovidnyj-sustav(2).png"><img alt="Эллипсовидный сустав" src="/app/assets/images/anatomy/ellipsovidnyj-sustav(2).png"></a>
              <p><strong>Примечания о синовиальных суставах:</strong><br>
                <br>
                • Некоторые сухожилия частично проходят в пределах сустава и поэтому являются внутрикапсульными.<br>
                <br>
                • Волокна многих связок тесно связаны со связками капсулы, и разграничение между капсулой и связкой в некоторых случаях неясно. Поэтому упоминаются только основные связки.<br>
                <br>
                • Связки называются внутрикапсульными (или внутрисуставными), когда располагаются в суставной полости, и внекапсульными (или внесуставными), когда располагаются вне капсулы.<br>
                <br>
                • Многие связки коленного сустава являются измененными сухожилиями сгибающих и разгибающих мышц, но классифицируются как связки для дифференциации их от обычных стабилизирующих сухожилий, таких, как надколенная связка надколенника мышцы бедра.<br>
                <br>
                • Вокруг большинства синовиальных суставов имеются различные сумки, как показано на иллюстрациях, имеющих отношение к каждому суставу.</p>
            </div>
          </div>

        </div>
      </div>
        </div>
  </div>
</div>
