<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суглоби тазового пояса</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Попереково-крижовий і крижово-куприковий суглоб</h2>
              <p><strong>Тип суглоба</strong> <br>
                Обидва суглоби є хрящовим симфизом (обмежено рухомим).</p>
              <p><strong>Зчленування</strong> <br>
                <strong><em>Попереково-крижове</em></strong>. Між п'ятим поперековим хребцем (L5) і тілом першого крижового сегмента (S1). Цей суглоб має ті ж особливості, що і інші типові міжхребцеві суглоби, з доповненням клубово-поперекової зв'язки. <br>
                <strong><em>Крижово-куприкове</em></strong>. Між останнім крижовий і першим куприкова сегментом. Зміцнюється крижово-куприкового зв'язками. <br>
                <br>
                <strong>Примітка</strong>: обидва суглоби містять волокнистий міжхребцевий диск.</p>
              <p><strong>Рухи<br>
              </strong> Попереково-крижовий суглоб бере участь в колективних рухах суглобів поперекових хребців. Крижово-куприковий суглоб має невелике функціональне рух, часто частково або повністю зникає з віком.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/pojasnichno-krestzovyj-krestzovo-podvzdoshnyj-krestzovo-kopchikovyj-sustavy-vid-speredi.png"><img alt="Попереково-крижовий, крижово-клубової і крижово-куприковий суглоб: вид спереду" src="/app/assets/images/anatomy/pojasnichno-krestzovyj-krestzovo-podvzdoshnyj-krestzovo-kopchikovyj-sustavy-vid-speredi.png"></a>
              <p style="text-align: center;">Попереково-крижовий, крижово-клубової і крижово-куприковий суглоб: вид спереду<br>
                &nbsp;</p>
              <h2 id="h2">Крижово-клубової суглоб</h2>
              <p><strong>Тип суглоба</strong><br>
                Синовіальний суглоб з нерівними виїмками і горбками на суглобових поверхнях.<br>
                <br>
                <strong>Примітка:</strong> суглобова поверхня крижів є гіалінових хрящем, але суглобова поверхня клубової кістки має волокнистий тип хряща.</p>
              <p><strong>Зчленування</strong><br>
                Між ушковідной поверхнею крижів і клубової кісткою.</p>
              <p><strong>Рухи</strong><br>
                Можливі незначні рухи внаслідок наявності нерівних суглобових поверхонь і сильних крижово-клубових зв'язок.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/tazovye-svjazki-vid-szadi.png"><img alt="Тазовые связки: вид сзади" src="/app/assets/images/anatomy/tazovye-svjazki-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">&nbsp;Тазові зв'язки: вид ззаду<br>
                &nbsp;</p>
              <h2 id="h2">Лобковий симфіз</h2>
              <p><strong>Тип суглобу</strong><br>
                Хрящової симфіз (обмежено рухливий).</p>
              <p><strong>Зчленіння</strong><br>
                Серединний суглоб між передніми гілками лобкових кісток.<br>
                <br>
                <strong>Примітка</strong>: суглоб містить волокнистий межлобковий диск зі щелевидной порожниною, яка у жінок може перетворитися у велику порожнину.</p>
              <p><strong>Рухи</strong><br>
                В суглобі не відбувається ніяких істотних рухів, крім деякого роз'єднання лобковихкісток у жінок під час вагітності та пологів.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/lobkovyj-simfiz-vid-speredi.png"><img alt="Лобковий симфіз: вид спереду" src="/app/assets/images/anatomy/lobkovyj-simfiz-vid-speredi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Лобковий симфіз: вид спереду<br>
                &nbsp;</p>
              <h2 id="h2">Стегновий суглоб</h2>
              <p><strong>Тип суглобу</strong><br>
                Синовіальний кульовий шарнір.</p>
              <p><strong>Зчленіння</strong><br>
                Сферична головка стегна з'єднується з чашеподобной вертлюжної западиною тазової кістки. Глибина западини збільшується циркулярної оправою волокнистого хряща, яка називається вертлужної губою, яка охоплює стегнову голівку. На відміну від зчленування плечового суглоба, частини стегнового суглоба щільно прилягають один до одного.</p>
              <p><strong>Суглобова капсула</strong><br>
                Простягається від оправи западини до шийки стегнової кістки. Суглобова капсула дуже міцна і туга при розгинанні, різко відрізняється від тонкої і слабкою капсули плечового суглоба.</p>
              <p><strong>Зв'язки</strong><br>
                <em><strong>Клубово-стегнова зв'язка</strong></em>: товста і міцна трикутна смужка, розташована спереду. Лонно-стегнова зв'язка: трикутна потовщена нижня частина капсули.<br>
                <em><strong>Сідничного-стегнова зв'язка</strong></em>: спіральна зв'язка, розташована по задній частині капсули.<br>
                Ці три зв'язки влаштовані так, що, коли людина встає (т. Е. Стегновий суглоб здійснює рух від згинання до розгинання), головка стегна «вворачивается» в вертлюжної западини і щільно утримується в цьому положенні.<br>
                <em><strong>Зв'язка голівки стегна</strong></em>: також звана круглої зв'язкою або головчатой зв'язкою, ця плоска внутрікапсульная зв'язка проходить від стегнової головки до нижньої губи западини. До її складу входить артерія, яка живить головку стегна. Цей зв'язок двох посад послаблюється під час більшості рухів стегна і тому не підвищує стабільність суглоба.</p>
              <p><strong>Стабілізуючі сухожилля</strong><br>
                Суглоб зміцнюється своєю структурою і зв'язками. Всі найближчі м'язи та сухожилля надають йому стабільність, але в меншій мірі в порівнянні з плечовим суглобом.</p>
              <p><strong>Рухи</strong><br>
                Згинання, розгинання, відведення, приведення, медіальне і латеральне обертання, обертальні рухи (більш обмежені в порівнянні з плечовим суглобом).</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/bedrennyj-sustav-vid-speredi.png"><img alt="Стегновий суглоб: вид спереду" src="/app/assets/images/anatomy/bedrennyj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Стегновий суглоб: вид спереду<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/bedrennyj-sustav-vid-szadi.png"><img alt="Стегновий суглоб: вид ззаду" src="/app/assets/images/anatomy/bedrennyj-sustav-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">&nbsp;Стегновий суглоб: вид ззаду<br>
                &nbsp;</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
