<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суставы тазового пояса</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Пояснично-крестцовый и крестцово-копчиковый сустав</h2>
              <p><strong>Тип сустава</strong> <br>
                Оба сустава являются хрящевым симфизом (ограниченно подвижным).</p>
              <p><strong>Сочленение</strong> <br>
                <strong><em>Пояснично-крестцовое</em></strong>. Между пятым поясничным позвонком (L5) и телом первого крестцового сегмента (S1). Этот сустав имеет те же особенности, что и другие типичные межпозвонковые суставы, с дополнением подвздошно-поясничной связки. <br>
                <strong><em>Крестцово-копчиковое</em></strong>. Между последним крестцовым и первым копчиковым сегментом. Укрепляется крестцово-копчиковыми связками. <br>
                <br>
                <strong>Примечание</strong>: оба сустава содержат волокнистый межпозвоночный диск.</p>
              <p><strong>Движения<br>
              </strong> Пояснично-крестцовый сустав участвует в коллективных движениях суставов поясничных позвонков. Крестцово-копчиковый сустав имеет небольшое функциональное движение, часто частично или полностью исчезает с возрастом.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/pojasnichno-krestzovyj-krestzovo-podvzdoshnyj-krestzovo-kopchikovyj-sustavy-vid-speredi.png"><img alt="Пояснично-крестцовый, крестцово-подвздошный и крестцово-копчиковый сустав: вид спереди" src="/app/assets/images/anatomy/pojasnichno-krestzovyj-krestzovo-podvzdoshnyj-krestzovo-kopchikovyj-sustavy-vid-speredi.png"></a>
              <p style="text-align: center;">Пояснично-крестцовый, крестцово-подвздошный и крестцово-копчиковый сустав: вид спереди<br>
                &nbsp;</p>
              <h2 id="h2">Крестцово-подвздошный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный сустав с неровными выемками и бугорками на суставных поверхностях.<br>
                <br>
                <strong>Примечание:</strong> суставная поверхность крестца является гиалиновым хрящом, но суставная поверхность подвздошной кости имеет волокнистый тип хряща.</p>
              <p><strong>Сочленение</strong><br>
                Между ушковидной поверхностью крестца и подвздошной костью.</p>
              <p><strong>Движения</strong><br>
                Возможны незначительные движения вследствие наличия неровных суставных поверхностей и сильных крестцово-подвздошных связок.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/tazovye-svjazki-vid-szadi.png"><img alt="Тазовые связки: вид сзади" src="/app/assets/images/anatomy/tazovye-svjazki-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">&nbsp;Тазовые связки: вид сзади<br>
                &nbsp;</p>
              <h2 id="h2">Лобковый симфиз</h2>
              <p><strong>Тип сустава</strong><br>
                Хрящевой симфиз (ограниченно подвижный).</p>
              <p><strong>Сочленение</strong><br>
                Срединный сустав между передними ветвями лобковых костей.<br>
                <br>
                <strong>Примечание</strong>: сустав содержит волокнистый межлобковый диск со щелевидной полостью, которая у женщин может преобразоваться в большую полость.</p>
              <p><strong>Движения</strong><br>
                В суставе не происходит никаких существенных движений, кроме некоторого разъединения лобковых костей у женщин во время беременности и родов.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/lobkovyj-simfiz-vid-speredi.png"><img alt="Лобковый симфиз: вид спереди" src="/app/assets/images/anatomy/lobkovyj-simfiz-vid-speredi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Лобковый симфиз: вид спереди<br>
                &nbsp;</p>
              <h2 id="h2">Бедренный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный шаровой шарнир.</p>
              <p><strong>Сочленение</strong><br>
                Сферическая головка бедра соединяется с чашеподобной вертлужной впадиной тазовой кости. Глубина вертлужной впадины увеличивается циркулярной оправой волокнистого хряща, называющейся вертлужной губой, которая обхватывает бедренную головку. В отличие от сочленения плечевого сустава, части бедренного сустава плотно прилежат друг к другу.</p>
              <p><strong>Суставная капсула</strong><br>
                Простирается от оправы вертлужной впадины до шейки бедренной кости. Суставная капсула очень прочная и тугая при разгибании, резко отличается от тонкой и слабой капсулы плечевого сустава.</p>
              <p><strong>Связки</strong><br>
                <em><strong>Подвздошно-бедренная связка</strong></em>: толстая и прочная треугольная полоска, расположенная спереди. Лонно-бедренная связка: треугольная утолщенная нижняя часть капсулы.<br>
                <em><strong>Седалищно-бедренная связка</strong></em>: спиральная связка, расположенная по задней части капсулы.<br>
                Эти три связки устроены так, что, когда человек встает (т. е. бедренный сустав совершает движение от сгибания до разгибания), головка бедра «вворачивается» в вертлужную впадину и плотно удерживается в этом положении.<br>
                <em><strong>Связка головки бедра</strong></em>: также называемая круглой связкой или головчатой связкой, эта плоская внутрикапсульная связка проходит от бедренной головки до нижней губы вертлужной впадины. В ее состав входит артерия, которая питает головку бедра. Эта связка ослабляется во время большинства движений бедра и поэтому не повышает стабильность сустава.</p>
              <p><strong>Стабилизирующие сухожилия</strong><br>
                Сустав укрепляется своей структурой и связками. Все ближайшие мышцы и сухожилия придают ему стабильность, но в меньшей степени по сравнению с плечевым суставом.</p>
              <p><strong>Движения</strong><br>
                Сгибание, разгибание, отведение, приведение, медиальное и латеральное вращение, вращательные движения (более ограниченные по сравнению с плечевым суставом).</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/bedrennyj-sustav-vid-speredi.png"><img alt="Бедренный сустав: вид спереди" src="/app/assets/images/anatomy/bedrennyj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Бедренный сустав: вид спереди<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/bedrennyj-sustav-vid-szadi.png"><img alt="Бедренный сустав: вид сзади" src="/app/assets/images/anatomy/bedrennyj-sustav-vid-szadi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">&nbsp;Бедренный сустав: вид сзади<br>
                &nbsp;</p>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
