<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суставы плечевого пояса</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Грудино-ключичный сустав</h2>
              <p><strong>Тип сустава</strong> <br>
                С функциональной точки зрения является синовиальным шаровым шарнирным суставом (но в отличие от большинства суставных поверхностей, суставной хрящ является волокнистым, а не гиалиновым хрящом).</p>
              <p><strong>Сочленение</strong> <br>
                Между грудинным (медиальным) концом ключицы, ключичной вырезкой рукоятки и реберным хрящом первого ребра.<br>
                <br>
                <strong>Примечание</strong>: волокнистый суставной диск разделяет суставное пространство на две отдельные синовиальные полости.</p>
              <p><strong>Движения<br>
              </strong> Как в любом шаровом шарнирном суставе, движения происходят во всех плоскостях, но переднезаднее движение и вращение несколько ограничены. Сустав участвует в коллективных движениях плечевого пояса.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/grudino-kljuchichnyj-sustav-vid-speredi.png"><img alt="Грудино-ключичный сустав" src="/app/assets/images/anatomy/grudino-kljuchichnyj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Грудино-ключичный сустав<br>
                &nbsp;</p>
              <h2 id="h2">Акромиально-ключичный сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный плоский.</p>
              <p><strong>Сочленение<br>
              </strong> Между латеральным концом ключицы и медиальным краем акромиона лопатки.<br>
                <br>
                <strong>Примечание</strong>: волокнистый суставной диск частично разделяет суставную полость, хотя в некоторых случаях это разделение отсутствует.</p>
              <p>&nbsp;<strong>Движения</strong><br>
                Сустав участвует в коллективных движениях плечевого пояса, позволяя лопатке изменять ее положение относительно ключицы.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/acromialno-kljuchichnyj-sustav-vid-speredi.png"><img alt="Акромиально-ключичный сустав: вид спереди" src="/app/assets/images/anatomy/acromialno-kljuchichnyj-sustav-vid-speredi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Акромиально-ключичный сустав: вид спереди<br>
                &nbsp;</p>
              <h2 id="h2">Плечевой сустав</h2>
              <p><strong>Тип сустава</strong><br>
                Синовиальный шаровой шарнирный сустав.</p>
              <p><strong>Сочленение</strong><br>
                Головка плечевой кости соединяется с гленоидальной впадиной (ямкой) лопатки, образующую форму небольшой груши. Это сочленение в своей основе нестабильно из-за наличия гленоидальной впадины, имеющей размер приблизительно в одну треть размера головки плечевой кости, несмотря на то что впадина несколько заглубляется волокнистой оправой, называющейся суставной губой плечевого сустава, или гленоидальной губой (имеет треугольную форму в поперечном сечении). Плечевой сустав является наиболее свободно подвижным суставом тела, потому что в данном случае приносится в жертву стабильность для обеспечения максимального диапазона движений.</p>
              <p><strong>Суставная капсула</strong><br>
                Простирается от края гленоидальной впадины (включая часть губы) до анатомической шейки плечевой кости. Тонкая капсула очень неплотная, что обеспечивает максимальную подвижность сустава. Когда рука отводится в сторону, нижняя часть капсулы провисает, свободно изгибаясь, затем становится постепенно более натянутой, т. к. рука отводится; сильнее натягивая капсулу, как если бы рука продолжала подниматься. Капсула почти не придает стабильности суставу. Суставная стабильность в значительной степени обеспечивается окружающими мышцами, которые тесно связаны с капсулой.</p>
              <p><strong>Связки</strong><br>
                <em><strong>Поперечная плечевая связка. </strong></em>Охватывает промежуток между плечевыми бугорками. Она удерживает длинную головку двуглавой мышцы плеча в межбугорковой бороздке при движениях плечевого сустава. Суставно-плечевые связки. Три слегка утолщенных полоски продольных волокон на внутренней поверхности передней части капсулы. Может отсутствовать.<br>
                <em><strong>Клювовидно-плечевая связка. </strong></em>Простирается от клювовидного отростка лопатки до верхней части анатомической шейки плечевой кости. Она укрепляет капсулу вверху и немного спереди. Клювовидно-акромиальная связка. Эта связка не связана полностью с суставной капсулой. Она образует полку выше сустава, проходя между клювовидным и акромиальным отростком лопатки.</p>
              <p>В образовании плечевого сустава участвуют различные сумки. Наиболее важной является подакромиальная сумка, которая отделяет клювовидно-акромиальную связку от надостистого сухожилия, расположенного выше плечевого сустава.</p>
              <p><strong>Стабилизирующие сухожилия</strong><br>
                <em><strong>Сухожилие длинной головки двуглавой мышцы плеча</strong></em>. Проходит от верхней части гленоидальной губы, входя в пределы суставной капсулы и полости (оно покрыто влагалищем синовиальной мембраны). При выходе из полости оно входит в межбугорковое углубление плечевой кости. Его локализация защищает головку плечевой кости непосредственно напротив гленоидальной впадины, таким образом, действуя в качестве стабилизатора во время движений плечевого сустава.<br>
                <em><strong>Сухожилия ротаторной манжетки плеча.</strong></em> Четыре вращающих сухожилия (надостное, подостное, малое круглое и подлопаточное) окружают сустав и сращиваются с суставной капсулой. По этой причине мышцы ротаторной манжетки плеча или сухожилия склонны к повреждению при энергичном вращении сустава, например при бросании мяча.<br>
                <br>
                <strong>Примечание:</strong> плечевая кость склонна к вывихиванию в направлении книзу, т. к. крепление плечевого сустава самое слабое в нижней части.</p>
              <p><strong>Движения</strong><br>
                Сгибание, разгибание, отведение, приведение, вращение в медиальную и латеральную стороны, вращательное движение и подъем через сгибание, и отведение</p>
              <br>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/plechevoj-sustav-vid-sboku.png"><img alt="Плечевой сустав: вид сбоку" src="/app/assets/images/anatomy/plechevoj-sustav-vid-sboku.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Плечевой сустав: вид сбоку<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/plechevoj-sustav-vid-speredi.png"><img alt="Плечевой сустав: вид спереди" src="/app/assets/images/anatomy/plechevoj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Плечевой сустав: вид спереди<br>
                &nbsp;</p>
            </div>
          </div>
            </div>

          </div>
        </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
