<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суглоби плечового пояса</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Грудино-ключичний суглоб</h2>
              <p><strong>Тип суглоба</strong> <br>
                З функціональної точки зору є синовіальних кульовим шарнірним суглобом (але на відміну від більшості суглобових поверхонь, суглобовий хрящ є волокнистим, а не гіалінових хрящем).</p>
              <p><strong>Зчленування</strong> <br>
                Між грудини (медіальний) кінцем ключиці, ключичній вирізкою рукоятки та реберним хрящем першого ребра.<br>
                <br>
                <strong>Примітка</strong>: волокнистий суглобовоїдиск розділяє суставное простір на дві окремі синовіальні порожнини.</p>
              <p><strong>Рухи<br>
              </strong> Як в будь-якому кульовому шарнірному суглобі, руху відбуваються в усіх площинах, але переднезаднее рух і обертання дещо обмежені. Суглоб бере участь в колективних рухах плечового пояса.</p>
              <img alt="Грудино-ключичний суглоб" usemap="#Map"  src="/app/assets/images/anatomy/grudino-kljuchichnyj-sustav-vid-speredi1.png">

              <map name="Map" id="Map">
                <area alt="" title="Суставний диск" href="" shape="poly" coords="167,135,191,137,208,131,221,124,228,112,230,108,235,111,231,121,223,129,205,138,190,144,176,144,169,143">
                <area alt="" title="Суставние полости" href="" shape="poly" coords="238,115,248,113,231,133,189,152,168,151,167,145,183,144,199,143,216,135">
                <area alt="" title="Межключична зв'язка" href="" shape="poly" coords="208,74,237,111,298,112,326,74,291,97,273,99,249,101,238,98">
                <area alt="" title="Передня грудинно-ключична зв'язка" href="" shape="poly" coords="353,74,367,110,338,154,315,159,288,117,331,73">
                <area alt="" title="Реберно ключична зв'язка" href="" shape="poly" coords="374,118,374,147,387,180,425,180,408,117,409,110">
                <area alt="" title="Реберно ключична зв'язка" href="" shape="poly" coords="123,115,165,124,154,182,113,181">

              </map>
              <p style="text-align: center;">Грудино-ключичний суглоб<br>
                &nbsp;</p>
              <h2 id="h2">Акроміально-ключичний суглоб</h2>
              <p><strong>Тип суглоба</strong><br>
                Синовіальний плсский.</p>
              <p><strong>Зчленування<br>
              </strong> Між латеральним кінцем ключиці і медіальний краєм акромиона лопатки.<br>
                <br>
                <strong>Примітка</strong>: волокнистий суглобовий диск частково розділяє суглобову порожнину, хоча в деяких випадках це поділ відсутній.</p>
              <p>&nbsp;<strong>Рухи</strong><br>
                Суглоб бере участь в колективних рухах плечового пояса, дозволяючи лопатці змінювати її положення щодо ключиці.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/acromialno-kljuchichnyj-sustav-vid-speredi.png"><img alt="Акроміально-ключичний суглоб: вид спереду" src="/app/assets/images/anatomy/acromialno-kljuchichnyj-sustav-vid-speredi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Акроміально-ключичний суглоб: вид спереду<br>
                &nbsp;</p>
              <h2 id="h2">Плечовий суглоб</h2>
              <p><strong>Тип суглобу</strong><br>
                Синовіальний кульової шарнірний суглоб.</p>
              <p><strong>Зчленування</strong><br>
                Головка плечової кістки з'єднується з гленоідальной западиною (ямкою) лопатки, що утворить форму невеликої груші. Це зчленування в своїй основі нестабільно через наявність гленоідальной западини, що має розмір приблизно в одну третину розміру головки плечової кістки, незважаючи на те що западина кілька заглиблюється волокнистої оправою, яка називається суглобової губою плечового суглоба, або гленоідальной губою (має трикутну форму в поперечному перерізі ). Плечовий суглоб є найбільш вільно рухомим суглобом тіла, тому що в даному випадку приноситься в жертву стабільність для забезпечення максимального діапазону рухів.</p>
              <p><strong>Суглобова капсула</strong><br>
                Простягається від краю гленоідальной западини (включаючи частину губи) до анатомічної шийки плечової кістки. Тонка капсула дуже неплотная, що забезпечує максимальну рухливість суглоба. Коли рука відводиться в сторону, нижня частина капсули провисає, вільно згинаючись, потім стає поступово більш натягнутою, т. К. Рука відводиться; сильніше натягуючи капсулу, як якщо б рука продовжувала підніматися. Капсула майже не надає стабільності суглобу. Суглобова стабільність в значній мірі забезпечується оточуючими м'язами, які тісно пов'язані з капсулою.</p>
              <p><strong>Зв'язки</strong><br>
                <em><strong>Поперечна плечова зв'язкаа. </strong></em>Охоплює проміжок між плечовими горбками. Вона утримує довгу головку двоголового м'яза плеча в межбугорковой бороздке при рухах плечового суглоба. Суглобово- плечові зв'язки. Три злегка потовщених смужки поздовжніх волокон на внутрішній поверхні передньої частини капсули. може бути відсутнім.<br>
                <em><strong>Клювовидно-плечова зв'язка. </strong></em>Простягається від клювовидного відростка лопатки до верхньої частини анатомічної шийки плечової кістки. Вона зміцнює капсулу вгорі і трохи попереду. Клювовидно-акромиальная зв'язка. Цей зв'язок двох посад не пов'язана повністю з суглобової капсулою. Вона утворює полку вище суглоба, проходячи між дзьобовидним і акроміальним відростком лопатки.</p>
              <p>В освіті плечового суглоба беруть участь різні сумки. Найбільш важливою є подакроміальная сумка, яка відокремлює клювовидно-акромиальную зв'язку від надостістая сухожилля, розташованого вище плечового суглоба.</p>
              <p><strong>Стабілізуючі сухожилля</strong><br>
                <em><strong>Сухожилля довгої головки двоголового м'яза плеча</strong></em>. Проходить від верхньої частини гленоідальной губи, входячи в межі суглобової капсули і порожнини (воно вкрите піхвою синовіальної мембрани). При виході з порожнини воно входить в межбугорковое поглиблення плечової кістки. Його локалізація захищає голівку плечової кістки безпосередньо навпроти гленоідальной западини, таким чином, діючи в якості стабілізатора під час рухів плечового суглоба.<br>
                <em><strong>Сухожилля ротаторной манжету плеча.</strong></em> Чотири обертають сухожилля (надостной, подостной, мале кругле і підлопаткова) оточують суглоб і зрощуються з суглобової капсулою. З цієї причини м'язи ротаторной манжетки плеча або сухожилля схильні до пошкодження при енергійному обертанні суглоба, наприклад при киданні м'яча.<br>
                <br>
                <strong>Примітка:</strong> плечова кістка схильна до вивіхіваніе в напрямку донизу, т. к. кріплення плечового суглоба найслабше в нижній частині.</p>
              <p><strong>Рухи</strong><br>
                Згинання, розгинання, відведення, приведення, обертання в медіальну і латеральну боку, обертальний рух і підйом через згинання, і відведення</p>
              <br>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/plechevoj-sustav-vid-sboku.png"><img alt="Плечовий суглоб: вид збоку" src="/app/assets/images/anatomy/plechevoj-sustav-vid-sboku.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Плечовий суглоб: вид збоку<br>
                &nbsp;</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/plechevoj-sustav-vid-speredi.png"><img alt="Плечовий суглоб: вид спереду" src="/app/assets/images/anatomy/plechevoj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Плечовий суглоб: вид спереду<br>
                &nbsp;</p>
            </div>
          </div>
            </div>

          </div>
        </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
