<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суставы ребер и грудины</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Реберно-позвоночные суставы</h2>
              <p><strong>Тип сустава</strong> <br>
                Суставы головок ребер: синовиальный плоский сустав.<br>
                Реберно-поперечные суставы: синовиальный плоский сустав.</p>
              <p><strong>Сочленение</strong> <br>
                Суставы головок ребер: верхние и нижние суставные фасетки на головке каждого обычного ребра соединяются с фасетками на двух смежных телах позвонков (т. е. головка ребра «сидит» между двумя телами позвонков и одновременно напротив неглубокого углубления на межпозвоночном диске). Реберно-поперечные суставы: бугорок каждого обычного ребра соединяется с поперечным отростком нижних двух позвонков, к которым прикрепляются его головка (но связки прикрепляются к поперечным отросткам обоих позвонков).<br>
                <br>
                <strong>Примечание:</strong> первое ребро и последние два или три ребра имеют нетипичные позвонковые соединения, потому что головки этих ребер имеют только одну фасетку, а не две и поэтому соединяются с одним телом позвонка, а не с двумя. Бугорки нижних ребер не образуют синовиальные суставы с поперечными отростками.</p>
              <p><strong>Движения<br>
              </strong> Суставы головок ребер и реберно-поперечные суставы каждого ребра вместе образуют шарнир, поднимающий верхнюю часть ребра (с некоторым боковым «разгибанием») во время вдоха и опускающий (с некоторым медиальным «сужением») во время выдоха. При каждом вдохе и выдохе суставы эффективно увеличивают и уменьшают переднезадний и поперечный диаметр грудной клетки.&nbsp;</p>
              <h2 id="h2">Грудино-реберные суставы</h2>
              <p>Гиалиновый хрящ, который является непрерывным продолжением переднего конца каждого ребра, называется реберным хрящом.</p>
              <p><strong>Тип сустава</strong><br>
                Первое ребро: хрящевой неподвижный (синхондрозный).<br>
                Ребра 2-7: простые синовиальные плоские. Ребра 8-10: простые синовиальные плоские сочленения межхрящевых соединений.</p>
              <p><strong>Сочленение<br>
              </strong> Первое ребро: через реберный хрящ к телу грудины.<br>
                Ребра 2-7: через реберные хрящи к фасеткам на стороне тела грудины. Суставные полости разделяются на две внутрисуставной связкой (полости исчезают с возрастом). Ребра 8-10: их реберные хрящи объединяются с реберным хрящом 7-го ребра.<br>
                Ребра 11-12: не сочленяются спереди, а заканчиваются свободно в мышцах боковых поверхностях туловища. Поэтому они называются «плавающими» ребрами.</p>
              <p>&nbsp;<strong>Движения</strong><br>
                Обеспечивают расширение и сокращение реберного каркаса так же, как реберно-позвоночные суставы.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/grudini-rebernyj-sustav-vid-speredi.png"><img alt="Грудино-реберный сустав: вид спереди" src="/app/assets/images/anatomy/grudini-rebernyj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Грудино-реберный сустав: вид спереди<br>
                &nbsp;</p>
              <h2 id="h2">Суставы грудины</h2>
              <p><strong>Тип сустава</strong><br>
                Рукояточный сустав. По внешнему виду похож на хрящевой симфизарный сустав (ограниченно подвижный).<br>
                Сустав мечевидного отростка. Хрящевой неподвижный (синхондрозный). Обычно окостеневает с возрастом.</p>
              <p><strong>Сочленение</strong><br>
                Рукояточный сустав. Между рукояткой и телом грудины, располагается рядом со вторым реберным хрящом.<br>
                Сустав мечевидного отростка. Между телом грудины и мечевидным отростком. Сустав обозначает нижнюю границу грудной полости.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/sustavy-grudiny-vid-speredi.png"><img alt="Суставы грудины: вид спереди" src="/app/assets/images/anatomy/sustavy-grudiny-vid-speredi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Суставы грудины: вид спереди<br>
                &nbsp;</p>
            </div>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>
</div>
