<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Суглоби ребер і грудини</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/joints">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <h2 id="h2">Реберно-хребетні суглоби</h2>
              <p><strong>Тип суглоба</strong> <br>
                Суглоби головок ребер: синовіальний плоский суглоб.<br>
                Реберно-поперечні суглоби: синовіальний плоский суглоб.</p>
              <p><strong>Зчленування</strong> <br>
                Суглоби головок ребер: верхні і нижні суглобові фасетки на голівці кожного звичайного ребра з'єднуються з фасетками на двох суміжних тілах хребців (т. Е. Головка ребра «сидить» між двома тілами хребців і одночасно навпроти неглибокого поглиблення на міжхребцевого диска). Реберно-поперечні суглоби: горбок кожного звичайного ребра з'єднується з поперечним відростком нижніх двох хребців, до яких прикріплюються його головка (але зв'язки прикріплюються до поперечних відростках обох хребців).<br>
                <br>
                <strong>Примітка:</strong> першого ребра і останні два або три ребра мають нетипові хребцева з'єднання, тому що головки цих ребер мають тільки одну фасетку, а не дві і тому з'єднуються з одним тілом хребця, а не з двома. Горбки нижніх ребер не утворюють синовіальні суглоби з поперечними відростками.</p>
              <p><strong>Рухи<br>
              </strong> Суглоби головок ребер і реберно-поперечні суглоби кожного ребра разом утворюють шарнір, що піднімає верхню частину ребра (з деяким бічним «разгибанием») під час вдиху і опускає (з деяким медіальний «звуженням») під час видиху. При кожному вдиху і видиху суглоби ефективно збільшують і зменшують переднезадний і поперечний діаметр грудної клітки.&nbsp;</p>
              <h2 id="h2">Грудино-реберні суглоби</h2>
              <p>Гіаліновий хрящ, який є безперервним продовженням переднього кінця кожного ребра, називається ребровим хрящем.</p>
              <p><strong>Тип суглоба</strong><br>
                Перше ребро: хрящової нерухомий (синхондрози).<br>
                Ребра 2-7: прості синовіальні плоскі. Ребра 8-10: прості синовіальні плоскі зчленування межхрящевая з'єднань.</p>
              <p><strong>Зчленування<br>
              </strong> Перше ребро: через реберний хрящ до тіла грудини.<br>
                Ребра 2-7: через реберні хрящі до фасетка на стороні тіла грудини. Суглобові порожнини поділяються на дві внутрішньосуглобової зв'язкою (порожнини зникають з віком). Ребра 8-10: їх реберні хрящі об'єднуються з реберним хрящем 7-го ребра.<br>
                Ребра 11-12: чи не сполучаються спереду, а закінчуються вільно в м'язах бічних поверхнях тулуба. Тому вони називаються «плаваючими» ребрами.</p>
              <p>&nbsp;<strong>Рухи</strong><br>
                Забезпечують розширення і скорочення реберного каркаса так само, як реберно-хребетні суглоби.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/grudini-rebernyj-sustav-vid-speredi.png"><img alt="Грудино-реберний суглоб: вид спереду" src="/app/assets/images/anatomy/grudini-rebernyj-sustav-vid-speredi.png"></a>
              <p style="text-align: center;">Грудино-реберний суглоб: вид спереду<br>
                &nbsp;</p>
              <h2 id="h2">Суглоби грудини</h2>
              <p><strong>Тип суглоба</strong><br>
                Рукояточним суглоб. За зовнішнім виглядом схожий на хрящової сімфізарний суглоб (обмежено рухливий).<br>
                Суглоб мечоподібного відростка. Хрящовий нерухомий (синхондрози). Зазвичай костеніє з віком.</p>
              <p><strong>Зчленування</strong><br>
                Рукояточним суглоб. Між рукояткою і тілом грудини, розташовується поруч з другим ребровим хрящем.<br>
                Суглоб мечоподібного відростка. Між тілом грудини і мечовиднимвідростком. Суглоб позначає нижню межу грудної порожнини.</p>
              <a class="zoomable img-to-left" href="/app/assets/images/anatomy/sustavy-grudiny-vid-speredi.png"><img alt="Суглоби грудини: вид спереду" src="/app/assets/images/anatomy/sustavy-grudiny-vid-speredi.png"></a>
              <p>&nbsp;</p>
              <p style="text-align: center;">Суглоби грудини: вид спереду<br>
                &nbsp;</p>
            </div>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>
</div>
