<div id="content">
  <div class="box">
    <div class="text std">
      <div class="bodyscheme">
        <div class="row">
          <div class="col-xs-6">
            <h2 class="dark-blue">Кровь, иммунная система и лимфоидные органы</h2>
          </div>
          <div class="col-xs-6 ">
            <div class="buttback"><a href="#/systems">
              <p>Назад</p>
              <img src="/app/assets/images/litlarrow.png" alt=""></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 ">
            <div class="bodytext">
              <div class="row">
                <div class="col-md-12 ">
                  <h2>Кровь</h2>
                </div>
              </div>
              <p><strong>Кровь</strong> может рассматриваться как ткань — тип жидкой соединительной ткани с межклеточным веществом, называемым плазмой крови (плазма). Клеточные элементы этой ткани — красные клетки крови (эритроциты), белые клетки крови (лейкоциты) и тромбоциты. Часть объема крови, занимаемая эритроцитами, вычисленная в процентах, называется гематокритом. В среднем, его значение составляет 45% и обычно немного выше у мужчин (47%), чем у женщин (43%).<br>
                <strong>Общ ий объем крови</strong>. Общий объем крови, циркулирующей в организме, достигает 8% от веса тела, т. е. общий объем крови человека весом в 70 кг составляет около 5,6 л.</p>
              <div class="row">
                <div class="col-md-12 ">
                  <h2>Функции крови</h2>
                </div>
              </div>
              <p>Многочисленные функции крови тесно связаны с ее компонентами н с сосудистой системой. Так как функцией кровеносных сосудов является распределение крови<br>
                по всему телу (терморегуляция и распределение веществ), форменные и неформенные элементы крови имеют очень специфические задачи.<br>
                <br>
                <strong>Красные клетки крови</strong>, например, ответственны за транспорт газов в крови от легких к тканям (кислород) и от тканей обратно к легким (углекислый газ).<br>
                <strong>Белые клетки крови</strong> служат для борьбы с болезнетворными организмами и чужеродными телами (иммунитет). Большую часть времени они выполняют свои задачи в соединительных тканях вне кровеносных сосудов. В этом случае кровь служит&nbsp;только как средство транспорта от места формирования этих клеток (костного мозга) к месту их функционирования.&nbsp;</p>
              <p>&nbsp;Жидкая часть крови, плазма, помогает осуществлять несколько разных транспортных функций. Например, она ответственна за транспорт питательных веществ от места всасывания (ворсинки кишечника) к месту потребления (органы), продуктов метаболизма к органам выделения (почки) и веществ, действующих внутри организма, к месту их действия (гормоны). Вместе с тем кровь переносит тепло от метаболически активных органов к поверхности тела.</p>
              <p>Другая задача крови — свертывание (коагуляция). При повреждении кровеносных сосудов жизненно важное значение имеют содержащиеся в крови факторы&nbsp;свертывания крови, такие как фибриноген и тромбоциты. Кроме воды плазма крови содержит большое количество солей (электролитов), белков (альбуминов и глобулинов), липидов (жирных кислот и холестерина) и углеводов (глюкозы), большое количество витаминов, микроэлементов и ферментов. Другим свойством крови, заслуживающим упоминания, является ее в высшей степени постоянный состав, относительно постоянное осмотическое давление и уровень pH, который изменяется только в узких пределах (7,2-7,4) (так называемое «постоянство внутренней среды» (гомеостаз)).</p>
              <div class="row">
                <div class="col-md-12 ">
                  <h2>Иммунная система</h2>
                </div>
              </div>
              <p>&nbsp;<strong>Иммунная система</strong> — эффективная взаимосвязанная система иммунных клеток (лейкоцитов), растворимых белков и органов — отвечает за способность человеческого организма защищаться от бактериальных инфекций, вирусов, грибов и паразитов. Она незамедлительно реагирует и сражается с вторгающимися патогенами, чужеродными веществами или с перерождающимися клетками (например, клетками опухоли). Иммунная система поддерживается системами внешней защиты (кожей и слизистыми оболочками), которые предотвращают вторжение большинства инфекционных агентов до того, как они смогут проникнуть внутрь организма. Тем не менее, если патогены проникнут в организм, они должны быть обезврежены. Иммунная защита подразделяется на <strong>неспецифическую иммунную систему </strong>и <strong>специфическую иммунную систему</strong>. Обе системы включают клеточные (клеточный иммунитет) и растворенные в плазме (гуморальный иммунитет) факторы, распределенные по всему телу.</p>
              <div class="row">
                <div class="col-md-12 ">
                  <h2>Лимфоидные органы</h2>
                </div>
              </div>
              <p>&nbsp;Контроль организма, осуществляемый с помощью иммунных клеток, и их быстрое действие предполагают не только прекрасно развитую сеть транспортной системы (кровеносных и лимфатических сосудов), но также организацию клеток в <strong>лимфоидные органы</strong>. За исключением тимуса, специфическая иммунная система в виде лимфоидных органов представлена в местах опасности, входных воротах для болезнетворных организмов.</p>
              <div class="row">
                <div class="col-md-12 ">
                  <table width="700" border="0" cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/formennye-elementy.png" alt="форменные элементы крови" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Форменные элементы крови</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/gruppy-krovi-rezus.png" alt="группы крови, переливание, резус-фактор" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Группы крови, переливание, резус фактор</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/plazma-krovi.png" alt="плазма крови" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Плазма крови</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/transport-o2-co2.png" alt="транспорт кислорода, углекислого газа" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Транспорт кислорода и углекислого газа</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/gomeostaz.png" alt="гомеостаз и свертывание крови" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Гомеостаз и свертывание крови</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/nespezificheskij-immunitet.png" alt="иммунная система: неспецифический иммунитет" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp;<a href="#/not"><strong>Неспецифический иммунитет</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/spezificheskij-immunitet.png" alt="иммунная система: специфический иммунитет" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Специфический иммунитет</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/pervichnye-limf-organy(1).png" alt="первичные лимфоидные органы" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Первичные лимфоидные органы</strong></a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;<a href="#/not"><img src="/app/assets/images/anatomy/vtorichnye-limf-organy.png" alt="вторичные лимфоидные органы" width="100" height="93"></a></td>
                      <td>&nbsp; &nbsp; &nbsp; &nbsp; <a href="#/not"><strong>Вторичные лимфоидные органы</strong></a></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          </div>
        </div>

          </div>
        </div>
      </div>
