<div style="width: auto">
    <div class="login-screen login-form margin5">
        <center>
            <audio controls>
                <source src="audio/karol-nizhno.mp3" type="audio/mpeg">
            </audio>
        </center>

        <div style="display: inline-flex;">
            <button class="btn margin5" ng-click="audioTrue()"> Тина Кароль - Покакала</button>
            <button class="btn margin5" ng-click="audioFalse()"> Тина Кароль - Ніченька</button>
            <button class="btn margin5" ng-click="audioFalse()"> Ані Лорак - сонце</button>
        </div>
    </div>

    <div class="login-screen login-form margin5">
        <center>
            <audio controls>
                <source src="audio/skryabin.mp3" type="audio/mpeg">
            </audio>

        </center>

        <div style="display: inline-flex;">
            <button class="btn margin5" ng-click="audioFalse()"> Скрябін - Дівчина з кафешки</button>
            <button class="btn margin5" ng-click="audioFalse()"> Epolets - Лети</button>
            <button class="btn margin5" ng-click="audioTrue()"> Скрябін - Місця щасливих людей</button>
        </div>
    </div>


    <div class="login-screen login-form margin5">
        <center>
            <audio controls>
                <source src="audio/oe-obimy.mp3" type="audio/mpeg">
            </audio>

        </center>

        <div style="display: inline-flex;">
            <button class="btn margin5" ng-click="audioFalse()"> Океан Ельзи - Відпусти</button>
            <button class="btn margin5" ng-click="audioFalse()"> Бумбокс - Вахтьорам</button>
            <button class="btn margin5" ng-click="audioTrue()"> Океан Ельзи - Обійми</button>
        </div>
    </div>

    <div class="login-screen login-form margin5">
        <center>
            <audio controls>
            <source src="audio/karol-noch.mp3" type="audio/mpeg">
        </audio>

        </center>

        <div style="display: inline-flex;">
            <button class="btn margin5" ng-click="audioFalse()"> Тина Кароль - Зорі</button>
            <button class="btn margin5" ng-click="audioTrue()"> Тина Кароль - Ніченька</button>
            <button class="btn margin5" ng-click="audioFalse()"> Сашка Понамарьов - Ніченькою</button>
        </div>
    </div>

    <div class="login-screen login-form margin5">
        <center>
            <audio controls>
                <source src="audio/oe-zhittja.mp3" type="audio/mpeg">
            </audio>

        </center>

        <div style="display: inline-flex;">
            <button class="btn margin5" ng-click="audioTrue()"> Океан Ельзи - Життя починаэться знов</button>
            <button class="btn margin5" ng-click="audioFalse()"> Скрябін - Дівчина з кафешки</button>
            <button class="btn margin5" ng-click="audioFalse()"> Тина Кароль - Покакала</button>
        </div>
    </div>

    <div class="login-screen login-form margin5">
        <center>
            <audio controls>
            <source src="audio/karol-zori.mp3" type="audio/mpeg">
        </audio>

        </center>

        <div style="display: inline-flex;">
            <button class="btn margin5" ng-click="audioFalse()"> Тина Кароль - Ніжно</button>
            <button class="btn margin5" ng-click="audioFalse()"> Один в каное - Шахи</button>
            <button class="btn margin5" ng-click="audioTrue()"> Тина Кароль - Намалюю тобі зорі</button>
        </div>
    </div>

    <div class="login-screen login-form margin5">
        <center>
            <audio controls>
            <source src="audio/oe-bez_bou.mp3" type="audio/mpeg">
        </audio>

        </center>

        <div style="display: inline-flex;">
            <button class="btn margin5" ng-click="audioFalse()"> Океан Ельзи - Я їду додому</button>
            <button class="btn margin5" ng-click="audioTrue()"> Океан Ельзи  - Без бою</button>
            <button class="btn margin5" ng-click="audioFalse()"> Океан Ельзи - Моя мала</button>
        </div>
    </div>
    <center>
    <div class="btn margin5" style="background-color: white; color: #00bebe" ng-click="audio()"><strong>Показати результати</strong></div>
    <a href="#/tim"> Перейти до наступного </a>
        </center>
</div>