<div class=" login-screen login-form">

    <h3>Це була складна справа. Вбитого знайшли в парку. Було видно, що він як раз відвідав перукаря, причому хорошого: відмінна стрижка і гладко поголена голова говорили самі за себе.
        З вигляду рани я визначив, що знаряддям вбивства була небезпечна бритва. Підозра відразу ж впала на перукаря.
    <br><br>
        У місті було всього два перукаря. Я зайшов до обох. Перший мене зустрічав в чистому салоні, дзеркала блистіли, ножиці і бритви були акккуратно розкладені на столі, та й сам майстер був гладко поголений, добре підстрижений, був усміхнений і виглядав охайним.
        <br>
        <br> Другий перукарський салон мене неприємно здивував: там було досить брудно і неприбрано, інструменти були прибрані в незакриті висувні ящики. Сам майстер привітний, хоч неохайний і погано підстрижений. Враження в спілкуванні він виробляв вцілому позитивне.
        <br>
        Я вийшов на вулицю. Я називаю такі справи «справою на одну трубку». Поки я докурив свою люльку, справа вже було розгадано. Ви ж зрозуміли, хто був убивцею?</h3>

    <div class="control-group">
        <input type="text" class="login-field" placeholder="відповідь" id="login-pass" ng-model="val">
        <label class="login-field-icon fui-lock" for="login-pass"></label>
    </div>

    <a class="btn btn-primary btn-large btn-block" ng-click="sherlok(val)" >Перевірити</a>
</div>