<center>
    <div class="login-screen login-form margin5">
        <strong>
        <div style="color: #006363; font-size: 36px">Ти знаєш хто такий Тім Кук? Розкажи))<br><br></div>
        <div style="display: inline-flex;">
            <a class="btn margin5" ng-click="timYes()"> Taк </a>
            <a class="btn margin5" ng-click="timNo()"> Ні </a>
            <a class="btn margin5" style="width: auto; padding-left: 10px; padding-right: 10px;" ng-click="timHelp()"> ? </a>
        </div>
        </strong>
    </div>
    <div style="color: white; font-size: 36px;  margin: 150px;"> {{tim}} <br> {{tim1}}</div>

</center>